[2018-01-23 07:53] OfficeGSX opened #1 "Broken image - not displayed in the topic"
Topic below contains incorrect link to an image and this is not displayed in the topic properly. Please update the link to the image.

Topic: https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/blob/live/Enterprise/sharepoint-server-2013-disaster-recovery-in-microsoft-azure.md

**Broken Image:**
![image](https://user-images.githubusercontent.com/16706698/35263798-7e924690-001a-11e8-8155-953df41

[2018-02-05 20:45] denisebmsft commented on #1
I think this is now fixed.

[2018-02-05 20:50] #1 closed

[2018-02-05 20:51] denisebmsft commented on #1
please let deniseb know if anything else is needed

[2018-03-04 13:00] stevep4 opened #8 "Problems with Step 6"
Really excited to try and get this working, but I'm stuck on Step 6.
Get-PoliciesAssignedToServicePrincipal is giving "Request_ResourceNotFound" - "Resource 'defaultPolicy' does not exist...". The objectid is definitely correct.
Could you suggest other ways to achieve changing the issuance policy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2018-03-05 15:43] SashaSidorenko opened #9 "Issue with step 6"
Where can I find the Initialize.ps1 described in PS script first row "Import-Module <file path of Initialize.ps1>" at step #6?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f079fa08-284c-3f14-be4a-1f32d5b0e7b9
* Version Independent ID: 707cbeee-d311-d430-6119-e9ae8b8aeae5
* [Content](https://docs.microsoft.com/en-us/o

[2018-03-05 15:47] SashaSidorenko commented on #9
Issue regarding this article https://docs.microsoft.com/en-us/office365/enterprise/using-azure-ad-for-sharepoint-server-authentication

[2018-03-08 08:58] stevep4 commented on #8
Many thanks Kirk, that seems to have done the trick! :-)

Could you comment on licencing please?
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-acs-migration
Seems to indicate that what we've done in this article would require Azure AD Premium license? If so, that scuppers me as I only have AAD Basic. :-(

[2018-03-08 09:48] kaevans commented on #8
From the article you referenced:  "This approach requires an Azure AD Premium license. If you are an Access Control customer and you require a premium license for setting up single-sign on for an application, contact us. We'll be happy to provide developer licenses for you to use." For more information on features in the various SKUs, see https://azure.microsoft.com/en-us/pricing/details/active-di

[2018-03-08 17:20] #9 closed

[2018-03-08 17:21] #8 closed

[2018-03-09 23:45] brianmaurer opened #11 "Sharepoint 2013 Setup"
I'm trying this with SharePoint 2013 and running into a few issues on the SharePoint side.
If I leave Windows Authentication enabled, as shown above, I get a Windows Authentication dialog box. After authenticating I get an error.
If I turn off Windows Authentication, I get a page not found error.

Do I need to do something differently to get it to work on SharePoint 2013

---
#### Document Details

[2018-03-12 12:16] kaevans commented on #11
SharePoint 2013 should work the same as 2016. Create a new web application. Extend the web application to a new zone (I chose internet), specifying the SSL settings and configure the certificate. Verify that it works before moving on to configuring the trusted identity provider. Next, make sure that you pick the zone you just extended when configuring auth (internet in my case).

[2018-03-12 12:58] stevep4 commented on #11
Hi Brian... if it was a 404 error, i got that too, if you look in IIS for the site you're configuring you'll probably find there's no virtual directory for /_trust/. I had to delete the site and re-extend, after that the virtual dir was created ok and it started to work.

Also, step 4 point 4, Custom sign in page, I found it needed to be "/_trust/default.aspx" (rather than just "/_trust/") or I go

[2018-03-12 14:29] stevep4 opened #12 "Step 7 double check"
Hi... I just wanted to check... on step 7 I see a different Azure AD page when I click Sign in, but maybe that's company branding... I get a login.microsoftonline.com page (yours seems to be a personalised domain), but it all seems to work fine. However, in the last screenshot you get a nice email address at the top right, I get a federated type username displayed, which is a bit yuck. Did I do so

[2018-03-12 15:50] kaevans commented on #12
@stevep4 yes, the difference is that the image shown is a federated domain using ADFS. Your experience may differ depending whether you are using a federated domain or a synchronized domain. It also varies based on your company branding settings in AAD and if you have enabled the Keep Me Signed In (KMSI) feature in your company branding settings in AAD.

Group info (role claims) is out of scope fo

[2018-03-12 15:53] kaevans commented on #11
The steps are written for SharePoint 2016. As noted in the article, it should work for SharePoint 2013 (as you demonstrated) but that product is nearing end of life and customers are urged to upgrade to maintain support.

[2018-03-12 19:31] brianmaurer commented on #11
Got it working. My site started as an HTTP site. We added HTTPS support by changing AAM and modifying IIS instead of extending the web app. That's why the /_trust/ folder was missing.

[2018-03-12 22:10] balajimadgundi commented on #12
Getting error on step #6, 3rd line saying Get-PoliciesAssignedToServicePrincipal is not recognized as command name or script etc. "$saml2policyid = Get-PoliciesAssignedToServicePrincipal -servicePrincipalId $objectid | ?{$_.displayName -EQ "TokenIssuancePolicy"} | select objectId"

[2018-03-12 22:18] kaevans commented on #12
@balajimadgundi please make sure you have followed the directions to download and execute the Initialize.ps1 and MSGraphTokenLifetimePolicy.psm1 files.

[2018-03-13 11:12] guptas-abhishek commented on #12
Hi Kaevans.....  Unfortunately I am also stuck here ... Went through the steps but the command  on row number 3
$saml2policyid = Get-PoliciesAssignedToServicePrincipal -servicePrincipalId $objectid | ?{$_.displayName -EQ "TokenIssuancePolicy"} | select objectId
gives the below error

"Get-PoliciesAssignedToServicePrincipal : The term
'Get-PoliciesAssignedToServicePrincipal' is not recognized as th

[2018-03-13 11:18] guptas-abhishek commented on #12
Just to add,  I tried looking on the initialize.ps1 which contains a command for importing ActiveDirectoryAuthenticationLibrary

"Import-ActiveDirectoryAuthenticationLibrary"
When  I run initialize.ps1, it doesn't throws any errors but if  I try to run the above command separately, it gives following error.
Import-ActiveDirectoryAuthenticationLibrary : The term
'Import-ActiveDirectoryAuthenticatio

[2018-03-13 12:03] stevep4 commented on #12
@guptas-abhishek... did you run Import-Module (path)\MSGraphTokenLifetimePolicy.psm1 first? Import-ActiveDirectoryAuthenticationLibrary won't work until you have.

[2018-03-13 12:35] kaevans commented on #12
You must run:

`Import-Module <file path of Initialize.ps1>`

This is shown in the PowerShell example. Running that import-module step will, in turn, load the dependent module.

[2018-03-13 13:15] balajimadgundi commented on #12
@kaevans - I did run Import-Module <file path of Initialize.ps1> but it is not loading the dependent module(MSGraphTokenLifetimePolicy.psm1) hence people are getting errors.

After I explicitly ran the Import-Module <file path of MSGraphTokenLifetimePolicy.psm1>,  the whole script block executed withour errors.

[2018-03-13 21:39] denisebmsft commented on #12
Thanks to Kirk Evans for his diligent monitoring and response to incoming questions and comments.

[2018-03-14 01:46] brianmaurer opened #13 "Step 5: Set the permissions for a lot of users"
Is it possible to give permissions to Azure AD groups rather than users?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f079fa08-284c-3f14-be4a-1f32d5b0e7b9
* Version Independent ID: 707cbeee-d311-d430-6119-e9ae8b8aeae5
* Content: [Using Azure AD for SharePoint Server Authentication | Microsoft Docs](https://docs.micro

[2018-03-14 10:22] michelef71 opened #14 "Access denied on Site Collection"
hi , I'm trying to configure SharePoint 2013, I have added the Azure AD Auth provider and I'm able to add the Azure guest users from the people picker , but when I try to browse in the site collection i receive "this site hasn't been shared with you".
using "Check permissions" I can see that the guest user is allowed to enter on the site collection.
What can i Check?
Thank you
Michele

---
#### Do

[2018-03-14 13:15] guptas-abhishek commented on #12
any idea /suggestions on my issue please?

[2018-03-14 15:09] kaevans commented on #12
Original issue was @stevep4 and this should be closed. If there are additional issues, please open a new issue so that it can be tracked separately.

[2018-03-14 15:11] kaevans commented on #13
Not by default. Role claims are not part of the SAML post. This would likely require a custom claims provider, which is out of scope for this article. A new pull request has been added that provides additional information on a custom claims provider (https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/15).

Recommend to close.

[2018-03-14 15:12] #13 closed

[2018-03-14 15:13] kaevans commented on #14
Ensure that you are choosing the "Name" claim and providing the value exactly as it appears. I have added a new pull request that adds information about a custom claims provider (https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/15).

[2018-03-14 15:17] guptas-abhishek opened #16 "Error on Stepd 6 - AcquireToken" with "4" argument(s)"
Hi,  I am stuck in step no 6

Executed the Import-Module (path)\MSGraphTokenLifetimePolicy.psm1 and Import-ActiveDirectoryAuthenticationLibrary command which worked like a charm but when running the main script "$saml2policyid = Get-PoliciesAssignedToServicePrincipal -servicePrincipalId $objectid | ?{$_.displayName -EQ "TokenIssuancePolicy"} | select objectId", it gave me an error....

Is there so

[2018-03-14 15:27] kaevans commented on #16
I created a new pull request (https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/15) with more explicit directions.

1. Open an elevated command prompt
2. Change directory to the folder containing the Initialize.ps1 and MSGraphTokenLifetimePolicy.psm1 files.
3. Execute the command `Import-Module Initialize.ps1`

Hope this helps.

[2018-03-14 15:27] guptas-abhishek commented on #12
Sure, Have raised my issue seperately...

[2018-03-14 16:18] #14 closed

[2018-03-14 16:19] denisebmsft commented on #14
Thanks, Kirk, for the help. And thank you, Michelef71, for the feedback!

[2018-03-14 16:21] denisebmsft commented on #16
Thank you, Guptas-Abhishek for the feedback, and thank you, Kirk Evans, for the help.

[2018-03-14 16:21] #16 closed

[2018-03-14 16:22] #12 closed

[2018-03-15 09:56] barcar opened #17 "This doesn't work so well when MFA is enabled"
Passing in a credential in doesn't seem to work when you require MFA on your account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c551eb1-7ac5-cb02-cd1b-d67ca3886d85
* Version Independent ID: fb690e2e-420e-f697-60f2-39520283d385
* Content: [Connect to all Office 365 services in a single Windows PowerShell window |

[2018-03-15 12:33] Smith-richard opened #18 "Error in Set-PolicyToServicePrincipal - (Step 6)"
Great article mate.... Getting a nasty error while executing command of#6 ->
set-PolicyToServicePrincipal.

Invoke-RestMethod : {"odata.error":{"code":"Request_BadRequest","message":{"lang":"en","value":"The URI
'https://graph.windows.net//myorganization/policies/**********?api-version=1.61-internal' is
not valid since it is not based on 'https://graph.windows.net/myorganization/'."}}}

Any though

[2018-03-15 13:54] kaevans commented on #18
The "-internal" in the URL indicates you are using an early version of the script that has since been corrected. Please go to the repo containing the script (https://github.com/kaevans/spsaml11/blob/master/scripts/) and get the latest version.

[2018-03-15 14:46] Smith-richard commented on #18
TA kaevans... but the latest version is giving me a new error
"Request_MultipleObjectsWithSameKeyValue","message":{"lang":"en","value":"Request contains property changes that would result in property-uniqueness violation(s)."

[2018-03-15 15:39] kaevans commented on #18
There can only be one TokenIssuancePolicy for the service principal. It's important to run the previous command that removes the existing SAML 2.0 policy.

`Import-Module <file path of Initialize.ps1>
$objectid = "<Application Object ID from Table 1>"
$saml2policyid = Get-PoliciesAssignedToServicePrincipal -servicePrincipalId $objectid | ?{$_.displayName -EQ "TokenIssuancePolicy"} | select objectI

[2018-03-15 16:03] denisebmsft commented on #18
Thanks, Kirk!

[2018-03-19 14:44] JoeDavies-MSFT commented on #17
barcar, Thanks for your comment. This article was written prior to MFA prevalence. I will put this on my list of articles to update. Joe

[2018-03-22 13:06] ryankirchner commented on #11
Brian - We are attempting to cut over an existing Azure enterprise application using SharePoint 2013 (using ACS) to a new enterprise application using this documentation. I am in the process of creating the new enterprise application in Step 3. Our existing Sharepoint site is public facing at a URL of https://www.<sitename>.com.  Do I need to delete this enterprise application before I create the

[2018-03-22 13:07] ryankirchner commented on #11
https://www.ourdomainname.com

[2018-03-22 14:33] brianmaurer commented on #11
I'm not an Azure expert but ...
I wouldn't delete the existing application.
Have you tried creating a new azure app using the same URL?

[2018-03-22 14:42] ryankirchner commented on #11
No, I haven't tried that. Our existing SharePoint site is being used as our extranet so I'm cautious about any downtime.

[2018-03-22 18:29] ryankirchner opened #20 "Replacing ACS on existing Sharepoint Azure Extranet"
Kirk - We are attempting to cut over an existing Azure enterprise application using SharePoint 2013 (using ACS) to a new enterprise application using this documentation. I am in the process of creating the new enterprise application in Step 3. Our existing Sharepoint site is public facing at a URL of https://www.site.com. Do I need to delete this enterprise application before I create the new one?

[2018-03-22 19:08] kaevans commented on #20
Migrating from ACS to AzureAD and migrating users is out of scope for this document. In theory (I haven't tested), you set the realm in AAD the same as you did in ACS. Then you should only need to update the existing SPTrustedIdentityProvider to set the properties for the reply URL and update the cert similar to the steps at the end of the article, assuming the claims mapping remains the same. The

[2018-03-22 19:16] ryankirchner commented on #20
Do you recommend wiping out my Azure/ACS settings (keeping my SharePoint web app as-is) and then building out a new enterprise application to point to my old SharePoint site? I imagine I will need to redo permissions on each site? Thanks, I'm having a hard time planning how I can accomplish this.

[2018-03-23 11:39] kaevans commented on #20
The only part that matters is the SPTrustedIdentityTokenIssuer in SharePoint as it is the thing that decides which service (AAD or ACS) to go to based on the login URL and the signing certificate. I'd leave the existing settings in AAD and ACS as-is. Follow the doc to create a new application registration, but make sure to use the same realm string value as you did previously with ACS. Download th

[2018-03-23 12:46] ryankirchner commented on #20
Thanks for the response. I will give it a shot to see what happens. I really appreciate your help with this.

[2018-03-24 14:39] StewartSiegel33472 opened #21 "Windows Azure Active Directory Module for Windows PowerShell (64-bit version)"
When you click on that link it states that it is retired, and therefore you cannot install that module.

Documentation needs to be updated to install it through PowerShell.

The cmdlets are:
Install-Module Azure and Install-Module AzureRM

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c551eb1-7ac5-cb02-cd1b-d67ca3886d

[2018-03-26 17:00] #20 closed

[2018-03-26 17:02] denisebmsft commented on #11
Thanks for the feedback, ryankirchner. We are looking into this and will follow up soon.

[2018-03-27 20:27] ryankirchner opened #22 "Step 6 permissions issue"
I am trying to run the scripts in step 6 as an administrator of both Azure and SharePoint.  I am getting an error in Powershell(see below).  Do I need to do anything regarding access to the graph API? What steps would I need to do?  I just ran the following script per the documentation:

Import-Module MSOnline
Connect-MsolService
Add-PSSnapin Microsoft.SharePoint.Powershell
Set-ExecutionPolicy -Sc

[2018-03-28 12:27] kaevans commented on #22
The easiest way to troubleshoot this issue is to use the [AAD Graph Explorer](https://graphexplorer.azurewebsites.net/) to attempt to re-issue the commands as shown in the output. This should help troubleshoot what's happening. It looks like the permission was denied on the DELETE operation. You can use the Graph Explorer to run the GET command to see what's currently assigned. If it is the SAML 2

[2018-03-28 13:22] ryankirchner commented on #22
Thanks for the quick response. I guess I have more research to do to figure out how to use the Graph API. When I run the GET command I get this response (see below). It looks like SamlTokenVersion is 2.0.

{
    "odata.metadata": "https://graph.windows.net/myorganization/$metadata#directoryObjects",
    "value": [
        {
            "odata.type": "Microsoft.DirectoryServices.Policy",

[2018-03-28 14:07] kaevans commented on #22
1. Go to AAD Graph Explorer
2. Login (top right corner)
3. Change the HTTP verb in the top left drop-down to DELETE
4. Enter this into the text box:

https://graph.windows.net/myorganization/servicePrincipals/092b3a1a-
1ce7-4de1-85a6-f962f649bc57/$links/policies/@{objectId=16f07fcd-3fb2-481e-8587-3
e7afc3f696b}

I expect that you will get the same error, but hopefully with a descriptive error mess

[2018-03-28 15:03] ryankirchner commented on #22
This is all it gives me:

{
    "odata.error": {
        "code": "Authorization_RequestDenied",
        "message": {
            "lang": "en",
            "value": "Insufficient privileges to complete the operation."
        }
    }
}

Are there permissions I need to set inside Azure in order to use this API?

Thanks again!

[2018-03-28 15:25] ryankirchner commented on #22
Fixed it. I had an issue with the admin account that I was using to run the scripts.

Thanks as always for the help.

[2018-03-28 15:25] #22 closed

[2018-03-28 16:17] michelef71 opened #23 "Azure B2B on Sp 2016 open Issue"
Hi
I have added the new Auth provider based on Azure.
If I add an user (choosing Name as Claim provider) and I try to login on SharePoint with this user i get "this site hasn't been shared with you".
I have tried to add the Azure CP solution, and i have noticed that I'm able to use the guest user only If i choose "extuser_hotmail.com#ext#@tenant.onmicrosoft.com"
that is the real upn that sharepoin

[2018-03-28 17:39] montereyharris opened #24 "Instructions/Link for Windows 7"
The steps here only detail the instructions for a machine with PowershellGet or WMF 5.1 installed. Which is only in Windows 10 or greater versions by default.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbb1fe83-c1b3-3176-4d61-fe4f3ce1d598
* Version Independent ID: c89f295b-4f00-c2c0-c75f-75fa50ecda65
* Content: [Co

[2018-03-28 19:01] ryankirchner commented on #23
Interesting. I am having an issue where (also using Name as the claim provider) I can log in to a site, but I don't have any of the administration options available. I made my account a web collection administrator after switching to the new provider I created. I am hovering over the name to make sure it is using the "name" claim. Still, inside SharePoint I can't do any admin tasks (change site pe

[2018-03-28 20:13] ryankirchner commented on #23
I was able to fix my issue by using LDAPCP instead of AzureCP.

[2018-03-28 23:01] denisebmsft commented on #23
Thank you, MicheleF71 and RyanKirchner for your feedback. We will look into this and get back to you soon.

[2018-04-04 17:33] JoeDavies-MSFT commented on #24
montereyharris, Are you referring specifically to the Azure Active Directory V2 PowerShell module? This article says Windows 7 is supported with .NET 4.5: https://docs.microsoft.com/en-us/powershell/module/Azuread/?view=azureadps-2.0. Can you tell us more about your experience?

[2018-04-04 18:12] JoeDavies-MSFT commented on #21
StewartSiegel33472, I updated the instructions to install the module from the PowerShell command prompt with the Install-Module MSOnline command.

[2018-04-04 18:13] JoeDavies-MSFT commented on #17
FYI: I added a note that this article is in the process of being updated to use the Azure Active Directory V2 PowerShell module and for multifactor authentication (MFA).

[2018-04-05 08:52] Markus-Hanisch opened #26 "List of Office 365 service plans and their friendly names for all services"
Dear Sir or Madam,

I am just about to prepare some PowerShell script to globally disable Stream Trial and enable Stream for Office 365 for all users (E1/E3).
I came across this support article "View licenses and services with Office 365 PowerShell":
https://docs.microsoft.com/en-us/office365/enterprise/powershell/view-licenses-and-services-with-office-365-powershell#view-information-about-licensi

[2018-04-05 14:34] #21 closed

[2018-04-11 13:36] CSART69 opened #27 "Coexist 2 TokenIssuer in SPS"
Hi
I'm using a TokenIssuer using ADFS since weeks. Now I want to implement direct connexion to AzureAD as described in this article. For the test, and to avoid any issue on the existing web application using ADFS I create a new Web Application using this new provider.
The issue is that this new Web Application is still using the URL of the ADFS server in the wrealm parameter. I don't understand as

[2018-04-11 14:51] JoeDavies-MSFT commented on #26
Hi Markus, The list of Office 365 service plans and their friendly names for all services is only available through Office Support. The support link works for me. Can you tell me what you are seeing? Thanks

[2018-04-12 21:49] kaevans commented on #27
Are you saying that you want one web application to support both AAD and ADFS? If you only want one, then go to the settings for the Web Application and uncheck the ADFS provider for the zone (or all zones).

[2018-04-12 21:54] kaevans commented on #11
Re-opened issue is not the same as original issue. Original issue was how to configure on SP2013, re-opened issue is how to migrate. Migration was answered separately: [Issue 20](https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/issues/20)

[2018-04-12 21:57] kaevans commented on #23
Yes, Azure uses the email#ext#@tenant.onmicrosoft.com format for B2B invited guest users. Using a claims provider such as AzureCP would query the Graph API to allow users to query using names instead of UPN and enable the People Picker. Using LDAPCP means it will query a domain controller, which would not work for invited guests.

[2018-04-13 05:08] CSART69 commented on #27
Already done.

I have WebApp1 with ADFS provider (that I configured at first) and WebApp2 with DirectAAD provider (that I configured after). Only 1 provider per Webapp.

I’ve tried with a direct link : https://WebApp2/_trust/Default.aspx?trust=DirectAAD and then it is working, so my configuration is ok. But when I just type https://WebApp2, it is using the ADFS provider and doesn’t take into accou

[2018-04-13 06:13] kaevans commented on #27
Recommend trying InPrivate browser in IE/Edge, or InCognito in Chrome. This prevents caching of cookies for a particular user account and lets you switch between web applications and types of users.

[2018-04-13 14:51] denisebmsft commented on #27
Thanks for your help, Kirk. And thanks CSART69 for the feedback/questions.

[2018-04-13 14:54] #23 closed

[2018-04-13 14:54] #11 closed

[2018-04-13 17:50] kaevans commented on #27
Sorry you are having difficulties. The article works as written, the behavior is specific to your environment. Please contact Microsoft Support for assistance troubleshooting your configuration.

[2018-04-18 08:06] Jeff-Pironneau opened #35 "Reply URL not taken into account"
Hi,

I have tested the configuration on a SharePoint 2016 farm.
For some reason, the "Reply URL" is not taken into account.
The authentication works but I am redirected to https://127.0.0.1:444/applications/default.aspx (default value) instead of the URL that I configured https://[SPWebApp].westeurope.cloudapp.azure.com/_trust/default.aspx.

The web app is configured with HTTPS on the default zone

[2018-04-18 15:03] Jeff-Pironneau commented on #35
Hi again,

I have resolved the permission issue.
I had to choose the ClaimType "given name" instead of "Name" when giving permission.
This was for users in a Microsoft demo tenant.

When giving access to a guest/external user from another tenant, I had to choose the ClaimType "Name" for giving permission.

If anyone can explain, I will be interested!
Does this have anything to do with the fact tha

[2018-04-18 16:42] milesgt opened #36 "The last example is mislabeling services"
Do the following and you can see that the labels being applied in your output are incorrect:
$results = Get-MsolUser -UserPrincipalName <upn>
$results.licenses[0].ServiceStatus[0]

output:
ServicePlan   ProvisioningStatus
-----------   ------------------
BPOS_S_TODO_2 Success

Also when you create an html of the output with "ConvertTo-Html >", that is not a CSV.
Export-CSV if that's the desired ou

[2018-04-19 19:32] JoeDavies-MSFT commented on #36
@milesgt, Example updated for services indexes and CSV issue. Thanks for letting us know.

[2018-04-19 19:33] #36 closed

[2018-04-19 23:34] yscontrol opened #37 "I wish there was a description of the underlying network on top of each VPN is established"
Is VPN established over public Internet connection provided by an ISP or public IP could be avoided by using same mechanism that is used by Amazon Direct-Connect  ? When talking network,  I wish protocol stack is specified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f472c81-522c-1702-6a0d-4f2591f5e994
* Version In

[2018-04-20 18:22] rpodric opened #38 "Security & Compliance Center"
Re that section, to be consistent with the rest of the page (and to not trigger a login prompt), use $credential instead of $UserCredential.

Also, to be consistent, -Authentication "Basic" instead of -Authentication Basic

And finally, leaving off "-Prefix cc" from the second line leads to a long list of yellow warnings. As was mentioned before, "Since cmdlts in Exchange Online and Compliance Cen

[2018-04-23 17:52] denisebmsft commented on #27
CSART69, I hope you were able to get help from support.

[2018-04-23 17:53] #27 closed

[2018-04-23 18:05] JoeDavies-MSFT commented on #37
Hi yscontrol, I added additional text to describe more details of the site-to-site VPN connection and the use of ExpressRoute (equivalent to Amazon Direct-Connect) as an alternative. I hope this helps. Joe

[2018-04-23 18:05] #37 closed

[2018-04-23 20:22] grizzljt opened #39 "How do I handle multiple web applications?"
This is great for a single web application but how do I handle binding multiple web applications?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f079fa08-284c-3f14-be4a-1f32d5b0e7b9
* Version Independent ID: 707cbeee-d311-d430-6119-e9ae8b8aeae5
* Content: [Using Azure AD for SharePoint Server Authentication](https://do

[2018-04-23 21:15] jonofezz opened #40 "Be able to query Office 365 license expiry date via PowerShell"
We want to be able to pull license expiry reports via other tools to keep our expiry reports consistent (IT Glue in this case). I can query many things by Office365 PowerShell module, including the license types, but I cannot query the dates in which these expire.
Why does this ability not exist? Can we get that exposed as part of the Office 365 powershell commandlets?

[2018-04-23 22:07] JoeDavies-MSFT commented on #38
@rpodric, PowerShell commands updated with your suggestions. Thanks for letting us know. Joe

[2018-04-23 22:07] #38 closed

[2018-04-24 02:13] grdylan opened #41 "I ran into a number of problems while going through this documentation"
1. `Install-Module MSOnline` gave an error as follows:
Could not retrieve modules repository from 'https://github.com/psget/psget/raw/master/Directory.xml'.

This one was solved by prefixing the command like so `powershellget\Install-Module MSOnline`

2. After being prompted for my username and password, I got an invalid username or password error.

I thought this was quite weird since I use a pas

[2018-04-24 17:55] grizzljt commented on #39
@kaevans I don't think I quite understand what you mean.  Say per your example, with the reply URL, https://portal.contoso.local/_trust/default.aspx, how does that apply to a MySites Web Application that should have a reply URL of https://mysites.contoso.local/_trust/default.aspx?  I cannot seem to apply multiple reply URLs or wildcards through the GUI or through `Set-AzureADServicePrincipal`.  Wh

[2018-04-25 14:21] grizzljt opened #43 "Is it possible to authenticate guest/social Azure AD users in this way?"
Since Azure AD uses different claim types for users who logged in with work or social addresses, how do we support both scenarios?  Is there a way to do claim conversions either through the portal or PowerShell?

[2018-04-25 17:53] kaevans commented on #39
Add multiple provider realms to the SPTrustedIdentityTokenIssuer. See [Steve Peschka's blog on multiple claims auth web apps](https://samlman.wordpress.com/2015/02/28/how-to-create-multiple-claims-auth-web-apps-in-a-single-sharepoint-2010-farm/)

[2018-04-25 18:01] kaevans commented on #43
This article only covers Azure AD, which does support invited guest users. This article does not cover Azure AD B2C for social identities.

[2018-04-25 19:10] grizzljt commented on #43
Thanks Kirk.  As that is a significantly beneficial feature of Azure AD, it seems like it might be worth a mention in the article if that is an unsupported featured.

[2018-05-02 08:04] SashaSidorenko commented on #18
Hi There,
Using
Import-Module ".\Initialize.ps1"
$objectid = "d8ee32be-3510-4222-a214-71b4b58be62e"
$saml2policyid = Get-PoliciesAssignedToServicePrincipal -servicePrincipalId $objectid | ?{$_.displayName -EQ "TokenIssuancePolicy"} | select objectId
Remove-PolicyFromServicePrincipal -policyId $saml2policyid -servicePrincipalId $objectid

receiving an error:
Importing Module: .\MSGraphTokenLifetime

[2018-05-02 09:56] SashaSidorenko commented on #39
Could you please clarify, do I need multiple sptrustedidentitytokenissuers or I need one sptrustedidentitytokenissuers with multiple realms? I think it will be helpful if scenario with multiple web apps will be described in the article.
Thanks.

[2018-05-02 13:48] joker-it commented on #39
now it works :)
$t=Set-SPTrustedIdentityTokenIssuer "TRUSTNAME"
$t.UseWReplyParameter=$true
$t.Update()

[2018-05-02 15:04] seenaomi opened #46 "I am at the end of Phase 2: Configure DC1 and hitting an error"
I am at the end of Phase 2: Configure DC1

I ran this:

PS C:\Users\ngsee> $vm=Add-AzureRmVMDataDisk -VM $vm -Name "DC1-DataDisk1" -CreateOption Attach -ManagedDiskId $dataDisk1.Id -Lun 1
New-AzureRMVM -ResourceGroupName $rgName -Location $locName -VM $vm

WARNING: New-AzureRmVM: A property of the output of this cmdlet will change in an upcoming breaking change release. The StorageAccountType prop

[2018-05-02 15:33] seenaomi commented on #46
The documentation needs to be updated:
Current:
$vm=Set-AzureRmVMOSDisk -VM $vm -Name "DC1-OS" -DiskSizeInGB 128 -CreateOption FromImage -StorageAccountType "StandardLRS"
$diskConfig=New-AzureRmDiskConfig -AccountType "StandardLRS" -Location $locName -CreateOption Empty -DiskSizeGB 20

Needs to be updated too:
$vm=Set-AzureRmVMOSDisk -VM $vm -Name "DC1-OS" -DiskSizeInGB 128 -CreateOption FromImage

[2018-05-03 07:08] kavya1990 opened #47 "GDPR Awareness"
Hi article is nice, will share few use full information
Why GDPR?
The main factors behind the introduction of GDPR are,

1. Public concern over data privacy
2.Planned to give more clarity for organisations over the legal environment that how seriously they protect data.
know about the <a href="http://beyondcorner.com/eu-law-general-data-protection-regulation-awareness-gdpr/">Requirements and GDPR

[2018-05-03 07:43] SashaSidorenko commented on #39
Hi Joker-it, how did you add more than one reply url to the azure ad enterprise app? I see the possibility to add only one reply url.
I've created 2 azure ad apps and two sptrustedidentitytokenissuers with both realms in each. It works for me, but i guess it's not a good solution.

[2018-05-03 07:55] christianpilz opened #48 "Content is wrong"
The contect on that page is wrong. Using the latest AzureAD Modules it is required to even uninstall msoidcli to log in using mfa enabled accounts. Please correct...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbb1fe83-c1b3-3176-4d61-fe4f3ce1d598
* Version Independent ID: c89f295b-4f00-c2c0-c75f-75fa50ecda65
* Conte

[2018-05-04 00:32] denisebmsft commented on #46
Thanks seenaomi!

[2018-05-04 00:34] denisebmsft commented on #18
Thank you for the feedback, SashaSidorenko. We are looking into this.

[2018-05-04 00:56] denisebmsft commented on #40
Thank you for the feedback. We will follow up very soon.

[2018-05-04 00:57] denisebmsft commented on #35
Thanks for the good questions, Jeff-Pironneau. We are looking into this.

[2018-05-04 01:00] denisebmsft commented on #39
It looks like this issue is closed per kaevans' response. Please reopen if you are still having trouble. Thank you very much for the feedback!

[2018-05-04 01:02] denisebmsft commented on #43
Thank you for the suggestion, grizzljt. I'll make a note to add that note.

[2018-05-04 05:39] joker-it commented on #39
Hello SashaSidorenko, you can edit the reply urls in the app registration. its possible to add more than one replyurl... you can also do this with powershell..
i need also more then one identifier.. in the app registration you can edit the manifest directly... this way you can add more than one identifier and replyurl..
i think two trustedidentitytokenissuers are not a good solution because the pe

[2018-05-04 10:01] waynemarks opened #49 "Fully Available"
Hi, is this available under the 'education subscription'? it would be a massive benefit to our universities

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18f3a2c9-0399-218d-cf9a-eb0f16fcbbb0
* Version Independent ID: da6ada6e-ce41-f772-74b8-144cf540d423
* Content: [Multi-Geo Capabilities in OneDrive and SharePoint Onl

[2018-05-04 11:41] Dudenstein commented on #46
Hi, I am also getting an error when I try and create DC1 VM:

Here is what I have entered:
$rgName="o365testlab"
$locName=(Get-AzureRmResourceGroup -Name $rgName).Location
$vnet=Get-AzureRMVirtualNetwork -Name TestLab -ResourceGroupName $rgName
$pip=New-AzureRMPublicIpAddress -Name DC1-PIP -ResourceGroupName $rgName -Location $locName -AllocationMethod Dynamic
$nic=New-AzureRMNetworkInterface -Nam

[2018-05-04 14:55] cclayton18 commented on #24
The article indicates Server 2012 R2 is supported, but the directions do not work as the original posted indicated.  There are apparently prerequisites not called out in the document.

"
Install-Module : The term 'Install-Module' is not recognized as the name of a cmdlet, function, script file, or
operable program. Check the spelling of the name, or if a path was included, verify that the path is

[2018-05-05 22:36] DonnieAsh commented on #46
I am at the end of DC1 and keep getting this error when told to add the User1 in the Active Directory

New-ADUser : The term 'New-ADUser' is not recognized as the name of a cmdlet, function, script file, or operable
program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ New-ADUser -SamAccountName User1 -AccountPassword

[2018-05-06 04:39] Sameer-MSFT commented on #49
Hi Wayne, thanks for reaching out. We're currently making Multi-Geo available to customers with >5K Office 365 seats in the commercial space. We want to make sure that these customers are on boarded efficiently and have the best service experience, therefore we’re starting with stipulations to manage and scale the service in a controlled way. However, I am super interested in learning universities

[2018-05-07 05:10] AlN3t commented on #18
Having the same issue as SashaSidorenko. even tried to replace manually the policy id but same error.
Any ideas anyone?

[2018-05-07 17:58] jonofezz commented on #40
Denise,

Thanks very much. I look forward to your follow up. I have forwarded your response to my work account as well (where this email is coming from now) and that would be probably the best account to get a hold of me on.

If there are any questions as to the value of being able to pull this expiry information, I would like to show you what I’m trying to do and why this is very important to us.

[2018-05-07 18:07] JoeDavies-MSFT commented on #46
seenaomi and Dudenstein, I have updated the PowerShell to remove the quotes around the instances of StandardLRS. Thanks for letting me know. Joe

[2018-05-07 19:51] c016smith opened #50 "Web-based option via Office 365 Admin Portal"
Will Microsoft be able to provide this All-in-One console from a web-based portal, similar to the Azure portal with Powershell access? That would be tremendously helpful for all admin users from any machine, without having to install these modules and keep them up-to-date.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-05-07 19:54] JoeDavies-MSFT commented on #46
DonnieAsh, The PowerShell command "Install-WindowsFeature AD-Domain-Services -IncludeManagementTools" when configuring DC1 should have installed the Windows Server Active Directory module that contains the New-ADUser cmdlet. See https://4sysops.com/wiki/how-to-install-the-powershell-active-directory-module/ for instructions to manually add the AD PowerShell module. Joe

[2018-05-07 19:59] denisebmsft opened #51 "test issue"
Here is my feedback
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f472c81-522c-1702-6a0d-4f2591f5e994
* Version Independent ID: 6018af3a-fde5-5733-d308-9d8f9629f10f
* Content: [Connect an on-premises network to a Microsoft Azure virtual network](https://docs.microsoft.com/en-us/office365/enterprise/connect-an-on-premi

[2018-05-07 20:01] denisebmsft commented on #51
Comment

[2018-05-07 20:01] #51 closed

[2018-05-07 20:34] kaevans commented on #35
Added pull request: https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/52

[2018-05-07 20:35] kaevans commented on #39
Added pull request https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/52

[2018-05-07 20:42] kaevans commented on #18
The code works as written, re-verified in my environment. Unsure what might be specific to your environment. The PowerShell simply wraps REST API calls to the AzureAD Graph. You can see the specific calls in the article [Microsoft Graph operations on policy](https://msdn.microsoft.com/en-us/library/azure/ad/graph/api/policy-operations#create-a-policy). You can use the same URLs that are output fro

[2018-05-08 02:01] AlN3t commented on #18
Thanks Kaevans. Managed to make it work. must have been a typo on my side.

[2018-05-08 03:28] AlN3t commented on #18
Hi guys,
For the user to access sharepoint, it seems like it needs at least full read access to the wrong site collection.

Is there a way to handle permissions in Sharepoint where you want to break permission inheritance and assign different permission level to different user?

Thanks,
Alain

[2018-05-08 08:43] waynemarks commented on #49
Hi, thanks for replying back and I would be very interested if we were able to contact direct on this off this thread I would be very grateful, we are currently at 10k mailboxes globally for our universities. If you were able provide me contact details to continue offline that would be great, thank you  :-)

[2018-05-08 14:08] Octavie opened #53 "FullControl on user policy"
Hi Kirk,

I managed to get it all done and working, but I was curious about the Full Control access on the User Policy part. It seems the user now always has these permissions on all site collections. I cannot believe that this is meant to be. Setting different permissions at the site level has no impact. Any thoughts on this ?

---
#### Document Details

⚠ *Do not edit this section. It is require

[2018-05-08 15:27] kaevans commented on #18
@AlN3t - please refer to a forum such as [SharePoint Stack Exchange](https://sharepoint.stackexchange.com/) for this guidance. Issues here are specific to the accuracy of the associated article and not for general product help.

SharePoint has long had a concept of breaking permissions and querying effective permissions, however that is outside the scope of this article.

@denisebmsft Recommend to

[2018-05-08 15:35] kaevans commented on #43
@grizzljt I didn't add the note as Azure AD is a different product than Azure AD B2C. I believe the article is clear to its goal of how to configure SharePoint to authenticate to AAD.

@denisebmsft recommend to close.

[2018-05-08 15:41] JoeDavies-MSFT commented on #40
Hi junofez, The best way to request this addition is through the User Voice page at https://office365.uservoice.com/forums/273493-office-365-admin. In your request, mention you want this addition to the Get-AzureADUserLicenseDetail cmdlet. The cmdlets that have "msol" in their names are being replaced over time with the new Azure AD PowerShell for Graph module. See https://docs.microsoft.com/en-us

[2018-05-08 18:32] Octavie commented on #53
Thanks for the quick reply. The article does not mention it's optional. I'll change the setting and test it again.

[2018-05-08 18:32] #53 closed

[2018-05-08 19:38] Sameer-MSFT commented on #49
Happy to listen to your requirements. Please add me on LinkedIn and send an inmail. https://www.linkedin.com/in/samsearth/

[2018-05-09 02:50] jonofezz commented on #40
Ok thanks. I actually submitted there also on April 23. https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/34040396-be-able-to-query-office-365-license-expiry-date-vi
I’ll update it with the info you suggest.

From: Joe Davies <notifications@github.com>
Sent: May 8, 2018 9:41 AM
To: MicrosoftDocs/OfficeDocs-Enterprise <OfficeDocs-Enterprise@noreply.github.com>
Cc: jonofezz

[2018-05-09 17:19] moojjoo opened #54 "Application error when acess /, Error=ID4014: A Security TokenHandler is not registered."
3 Questions ---------------------------!!!!!!!!!!!!!

1. Is there any setup on ADFS required?

2.  If the answer above is "NO", I am getting - in the ULS Logs

`Application error when access /, Error=ID4014: A SecurityTokenHandler is not registered to read security token ('Assertion', 'urn:oasis:names:tc:SAML:2.0:assertion').   at Microsoft.IdentityModel.Web.TokenReceiver.ReadToken(String tokenXml

[2018-05-09 20:07] moojjoo opened #55 "SAML 1.1 - WS-Federation ~ Azure AD and SharePoint 2013"
2018-05-09-18:18 - Update we are getting the following from PowerShell - AssignPolicyToEntity: Using graph endpoint: https://graph.windows.net entity: servicePrincipals entityId: 1cd1a10a-17b0-449c-98ca-a6742326d4f0
GetEntityUrl: Using graph endpoint: https://graph.windows.net entity: policies entityId:
HTTP POST https://graph.windows.net/myorganization/servicePrincipals/1cd1a10a-17b0-449c-98ca-a6

[2018-05-09 21:09] denisebmsft commented on #35
I believe Kirk Evans' recent update addressed this issue.

[2018-05-09 21:10] #49 closed

[2018-05-10 16:19] kaevans commented on #54
@moojjoo - ADFS is not used in this configuration, SharePoint receives a SAML 1.1 token directly from AzureAD.

The error indicates "A SecurityTokenHandler is not registered to read security token ('Assertion', 'urn:oasis:names:tc:SAML:2.0:assertion')", meaning it is likely that not all steps from the article were completed. SharePoint 2013 and 2016 require SAML 1.1, your configuration appears to

[2018-05-10 16:31] #55 closed

[2018-05-11 13:19] AlN3t opened #57 "Missing Email Address"
Hi, I tried to setup an alert on a list but it is complaining that
You do not have an e-mail address.

How do we sync the email address from Azure AD?

Is it through Step 4 by adding a $map4 to the powershell?

Please advise.

Thanks,
Alain

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f079fa08-284c-3f14-be4a-1f32d5b0

[2018-05-11 15:20] moojjoo opened #58 "Policies Questions"
kaevans, thank you for all your time first and foremost.  We are so close to getting this to work.

1. In the url is the **Application Object ID** suppose to be used?  https://graph.windows.net/myorganization/servicePrincipals/[Table 1 = Application Object ID/policies ?
2. If 1 == true, then I am getting the following:

{
    "odata.metadata": "https://graph.windows.net/myorganization/$metadata#di

[2018-05-12 01:50] danijeljw opened #59 "spelling/grammar error"
... Exchange organization (also called themigration administrator) must have the ...

should be:

... Exchange organization (also called the migration administrator) must have the ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e30c7516-2eb7-548d-6a9d-36ab647779ee
* Version Independent ID: 2d88e8be-b787-c8d6-e514-32

[2018-05-13 02:15] RoyKimYYZ commented on #18
Thanks for the tip. I resolved by hardcoding the $saml2policyid value as such: Remove-PolicyFromServicePrincipal -policyId "4327fe90-c06f-454e-9539-4c06c235740f" -servicePrincipalId $objectid

[2018-05-14 07:40] KlaBier opened #60 "RemovePolicyFromServicePrinciple Issue"
Hi Kirk,
great article, thanks...
I don't know if this is an issue or if there is already another Workaround/update on this, but when I use RemovePolicyFromServicePrinciple Cmdlet with a variable in -policyId  ("$saml2policyid" in your example) it will presents an error (unsupported query ...). Using the Id directly instead of the variable will work fine.

Thanks
Klaus

---
#### Document Details

[2018-05-14 12:10] LionfishSecurity opened #61 "SearchWindowsPrincipal cannot read AzureCP users"
A large SharePoint tools vendor is telling me that the AzureCP claims provider breaks their software because the identities cannot be read using the Microsoft.SharePoint.Utilities.SPUtility.SearchWindowsPrincipals method.  Does this make sense?  Does the method name indicate that only Windows Principals will be searched?   If there any way that SharePoint can be configured to use AzureCP that perm

[2018-05-14 12:43] kaevans commented on #61
I am unaware of any documentation that lists the features that do or don't work with SharePoint 2013 or SharePoint 2016 and SAML claims authentication. You should work with the tools vendor in question to ask if their tools don't work with SAML claims or if the issue is specific to the AzureCP claims provider.

For general questions on SharePoint administration, see https://sharepoint.stackexchang

[2018-05-14 14:39] moojjoo commented on #58
When running and logging in with Global Administrator Account:
Import-Module c:\_cert\Initialize.ps1
$objectid = "1cd1a10a-17b0-449c-98ca-a6742326d4f0"
$saml2policyid = Get-PoliciesAssignedToServicePrincipal -servicePrincipalId $objectid | ?{$_.displayName -EQ "TokenIssuancePolicy"} | select objectId
Remove-PolicyFromServicePrincipal -policyId $saml2policyid -servicePrincipalId $objectid
$policy =

[2018-05-14 16:59] JoeDavies-MSFT commented on #50
@c016smith The Azure Cloud Shell is currently only for Azure admin tasks and does not yet support inclusion of the Office 365 PowerShell modules. I cannot say when this will be supported. Thanks

[2018-05-14 16:59] #50 closed

[2018-05-14 17:36] kaevans commented on #58
Step 3, Item 6 above shows where to get the application object ID, there is a screen shot that shows the property blade where to obtain it from.

The part of the error that indicates the problem:

'Request_MultipleObjectsWithSameKeyValue","message":{"lang":"en","value":"Request contains property changes that would result in property-uniqueness violation(s)'

This indicates that there is an existin

[2018-05-15 00:02] RoyKimYYZ opened #62 "Error: A SecurityTokenHandler is not registered to read security token ('Assertion', 'urn:oasis:names:tc:SAML:2.0:assertion')"
Upon Azure AD authentication and then access to the SP Site, I get the SP error:
"ID4014: A SecurityTokenHandler is not registered to read security token ('Assertion', 'urn:oasis:names:tc:SAML:2.0:assertion'). "
Is it because I didn't execute properly the PowerShell script to add SAML 1.1 token issuance policy in Azure AD? How do I troubleshoot or verify?

---
#### Document Details

⚠ *Do not edit

[2018-05-15 00:38] kaevans commented on #62
The SAML 2.0 token issuance policy must first be removed prior to adding the SAML 1.1 token issuance policy.

[2018-05-15 00:45] RoyKimYYZ commented on #62
Thanks for quick response. But I managed to resolve and my brain just got fried from it. Allow to explain for the benefit of others.
1) The SAML 2.0 token issuance policy was removed. But there was no 1.1 token issuance policy.
2) I think that was because I inadvertently created the 1.1 token issuance policy more than once and then tried to add by running
Set-PolicyToServicePrincipal -policyId $po

[2018-05-15 00:54] kaevans commented on #62
Thanks for your patience, @RoyKimYYZ. You're right, there can be only one token issuance policy, if there is another SAML 1.1 policy that must also first be removed before adding another (although an existing one should work just fine). Glad you got it working.

[2018-05-15 03:14] RoyKimYYZ commented on #62
Thanks @kaevans + team for all your work. I'll be ready to demo this at the Toronto SharePoint User Group on Wed. https://bit.ly/2IhjMpT

[2018-05-15 15:57] JoeDavies-MSFT commented on #41
@grdylan, I tried the instructions on a new virtual machine and it worked as documented. If you want to pursue a solution to this problem, please contact Microsoft Support at https://support.microsoft.com/contactus/. Thanks

[2018-05-15 15:57] #41 closed

[2018-05-16 16:00] JMGEHMAN opened #63 "Links in 'Security & Compliance Center PowerShell' section"
Both links in the 'Security & Compliance Center PowerShell' section of the doc refer to Exchange Online, which seems incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 093230b9-42d4-1efa-32dd-ec05d309b38c
* Version Independent ID: a5658dff-1925-d15f-863c-26dd9d1c28d5
* Content: [Cmdlet references for Office 365

[2018-05-17 16:46] JoeDavies-MSFT commented on #63
@JMGEHMAN I updated the links Thanks for letting us know.

[2018-05-17 16:46] #63 closed

[2018-05-18 19:13] denisebmsft commented on #59
Thanks for letting us know about this. We fixed it.

[2018-05-18 19:13] #59 closed

[2018-05-18 19:15] #18 closed

[2018-05-18 21:08] moojjoo opened #64 "Showing wrong object ID?"
Please see my blog post as I am trying to get an answer --- (THIS HAS BEEN FIGURED OUT - I put in https://projects-dev02.domain.com/ to fix the issue for the Identifier (Entity ID) [http://moojjoo.blogspot.com/2018/05/auzre-ad-error_36.html](http://moojjoo.blogspot.com/2018/05/auzre-ad-error_36.html)

However, I have the same URL for the reply and I am getting the following error:
Request Id:  8d3

[2018-05-20 09:50] LionfishSecurity commented on #61
Thanks!

[2018-05-21 13:58] moojjoo commented on #35
AADSTS50011: The reply uri specified in the request is not a valid URL. Allowed schemes: 'http,https'
My Reply URL is - https://projects-dev02.piedmontng.com/   Why would I be getting the error above?

[2018-05-21 15:31] moojjoo commented on #64
Is there anybody out there?

[2018-05-21 18:00] kaevans commented on #64
@moojjoo Sorry that you have run into so many issues with your configuration.

I again tried the instructions on a new web application and provider and it worked as documented. However, my test shows "/_trust/default.aspx" appended to the replyURL, where this was not stated in the documentation. Can you please try with the "/_trust/default.aspx" appended?  Here is a screen shot of my most recent t

[2018-05-21 18:15] Mike-Crowley opened #65 "This documentation should discuss how to connect with MFA."
e.g.

$session = New-CsOnlineSession -UserName mike@tenant.onmicrosoft.com
Import-PSSession $session

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f318af5-7da8-daec-d038-7bca3d4cabf8
* Version Independent ID: 7cb9bf9d-5b01-7cbd-fa54-cb9847b61fc2
* Content: [Manage Skype for Business Online with Office 365 PowerShell]

[2018-05-22 16:36] DeanGross opened #66 "Working with connected office groups"
It would be great if you would provide some examples of working the members of the Office Groups that are connected to SPO sites.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0096189e-b3e3-e26e-2d55-711323ab2a5f
* Version Independent ID: 50d5393d-2dac-869a-8ade-dc2fc3d7a4cf
* Content: [Manage SharePoint Online users

[2018-05-22 19:59] JoeDavies-MSFT commented on #48
@christianpilz I have tested the procedures in this article on a new virtual machine and was able to successfully do a multi-factor authentication with the latest Azure AD module and the MSOIDCLI module installed.  If you want to pursue a solution to this problem based on your configuration, please contact Microsoft Support at https://support.microsoft.com/contactus/.

[2018-05-22 19:59] #48 closed

[2018-05-22 22:45] JoeDavies-MSFT commented on #65
@Mike-Crowley You are correct and the oversight has been addressed. Thanks for letting us know.

[2018-05-22 22:45] #65 closed

[2018-05-23 08:04] astpc opened #67 "SPClaimTypeMapping"
Hi,
Great job on this.
I've successfully set this up in Sharepoint 2013 and it seems like only the upn has been successfully mapped.

Is it possible to the following 2 SPClaimTypeMapping and just keep the "name" claim?
$map2 = New-SPClaimTypeMapping -IncomingClaimType "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" -IncomingClaimTypeDisplayName "GivenName" -SameAsIncoming
$map3 =

[2018-05-23 14:20] kaevans commented on #67
@astpc No. SharePoint reserves the name claim for other uses, which is why the UPN claim is mapped instead. The `New-SPTrustedIdentityTokenIssuer` command requires a parameter `IdentifierClaim` that identifies which claim uniquely identifies the user.

[2018-05-23 14:23] kaevans commented on #35
@denisebmsft please close. Update did address this issue. @moojjoo commented but also has [duplicate issue](https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/issues/64).

[2018-05-23 14:31] kaevans commented on #57
Apologies, I do not have a tenant with O365 to test with emails. However, the default behavior for the AAD application is to include the email claim as `http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress`.

![image](https://user-images.githubusercontent.com/7107098/40430838-a478e404-5e6b-11e8-93df-fae0e31d812d.png)

Using this, you should be able to add another claim type mapping.

[2018-05-23 14:32] kaevans commented on #61
@denisebmsft please close.

[2018-05-23 20:42] #61 closed

[2018-05-23 21:57] kaevans commented on #67
@denisebmsft please close

[2018-05-24 01:00] AlN3t commented on #67
Thanks Kirk.
Apologies, I had a typo in the question.
I meant if it is possible to remove the following $map2, $map3 which will reduce the search to 1 claim type instead of 3 in the people picker?
$map2 = New-SPClaimTypeMapping -IncomingClaimType "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" -IncomingClaimTypeDisplayName "GivenName" -SameAsIncoming
$map3 = New-SPClaimTypeMappin

[2018-05-24 01:19] AlN3t commented on #57
Thanks I was able to include the email using $map4.

However in user profile of a user
The only information that have been mapped are
Account name: i:0e.t|azuread|firstname.lastname@domain.com
Name: firstname.lastname@domain.com

I was expecting in User profile that First name should have been mapped to "GivenName" ClaimType, Last name: to "SurName" ClaimType and Work Email to "Email" ClaimType. B

[2018-05-24 15:28] balajimadgundi opened #69 "Azure AD support for SAML 1.1 is still shows a Preview release, It is Public?"
Azure AD support for SAML 1.1 is still shows a Preview release, It is Public? If it not, then when is the tentative date and how we will be notified about this?

[2018-05-24 15:46] grizzljt commented on #43
I misunderstood, I didn't mean B2C users.  I meant Guest users in Azure AD.  I was unable to log in via a guest user following this documentation.  Are you certain guest users are supported?

[2018-05-25 06:34] limjianan opened #72 "preferreddatalocation cannot be modified"
Set-MsolUser -UserPrincipalName <UserPrincipalName> -PreferredDataLocation <GeoCode> will not work for sync users.

https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnectsync-feature-preferreddatalocation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85937c83-35db-0882-e226-a4f2f73

[2018-05-25 14:05] moojjoo commented on #64
@kaevans please close we got this working, we did what @RoyKimYYZ did.

[2018-05-29 22:08] chrisda commented on #72
@limjianan, in the **Notes** right after the Set-MsolUser procedure, it says:

As mentioned previously for synchronized user objects from on-premises Active Directory, you can't use this procedure. You need to change the **PreferredDataLocation** value using AAD Connect. For more information, see [Azure Active Directory Connect sync: Configure preferred data location for Office 365 resources](http

[2018-05-30 00:02] limjianan commented on #72
@chrisda you are right, my bad.

[2018-05-30 00:11] #35 closed

[2018-05-30 01:58] sngoz commented on #57
If I manually enter the email address in a user profile, a 2013 workflow email to the creator, and I assume also an alert, will work.

Has anyone set up some sort of user profile sync to sync values such as email, manager, department with Azure AD?

[2018-05-30 19:19] kaevans commented on #69
Apologies for the delay. The underlying protocol aspects are fully supported. We are working to improve the configuration experience, but the steps described in this article will continue to work. Subscribe to the [EMS Blog](https://cloudblogs.microsoft.com/enterprisemobility/) for updates.

@denisebmsft please close

[2018-05-30 21:55] #69 closed

[2018-05-30 21:55] #67 closed

[2018-05-31 02:36] ashunt677 commented on #46
On Phase 3: Configure App 1, I am stuck on the part involving joining App1 to the corp.contoso.com domain: "To check name resolution and network communication between APP1 and DC1, run the ping dc1.corp.contoso.com command and verify that there are four replies.

Next, join the APP1 virtual machine to the CORP domain with these commands at the Windows PowerShell prompt.

Add-Computer -DomainName c

[2018-05-31 14:53] denisebmsft commented on #66
Thanks for the suggestion, Dean! We'll look into this.

[2018-05-31 16:29] ashunt677 commented on #46
Dudenstein and Medavamshi, did you try Standard_LRS instead of StandardLRS? I ran into this roadblock a few weeks ago so I don't recall how I got past it, but I didn't put an entry in my notes for this part of the lab, so either it was an easy fix or I got lazy. Think you're on the right track though.

[2018-05-31 17:27] ashunt677 commented on #46
On my original posting above - On Phase 3: Configure App 1 - I created a new issue/thread for it, as it didn't pertain to the topic this thread had begun.

[2018-05-31 20:44] balajimadgundi opened #74 "Error at Step #6"
Method invocation failed because
[Microsoft.IdentityModel.Clients.ActiveDirectory.AuthenticationContext] does
not contain a method named 'AcquireToken'.
At C:\Balaji\ACS
Migration\spsaml11-master\scripts\MSGraphTokenLifetimePolicy.psm1:53 char:3
+   $Global:authenticationResult = $authContext.AcquireToken($resourceA ...
+   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    +

[2018-06-04 13:22] kaevans commented on #74
@balajimadgundi The easiest way to do this is to[ install Azure PowerShell](https://docs.microsoft.com/en-us/powershell/azure/install-azurerm-ps?view=azurermps-6.1.0). Once installed, make sure to run the script exactly as demonstrated in the article:

`
Import-Module <file path of Initialize.ps1>
$objectid = "<Application Object ID from Table 1>"
$saml2policyid = Get-PoliciesAssignedToServicePrin

[2018-06-04 13:28] kaevans commented on #57
@sngoz There is no built-in capability for SharePoint to sync user profiles with Azure AD. As you pointed out, it works if you add those attributes to the user profile. You will need to build this capability yourself. The two components you need are something to [read user profiles from the Graph](https://developer.microsoft.com/en-us/graph/docs/concepts/azuread-users-concept-overview) and to [pro

[2018-06-04 15:39] balajimadgundi commented on #74
Thanks Kirk for response. Now I am able to execute the "$saml2policyid = Get- ..." step successfully, issue was I had old version of PowerShellGet.

But I have received below error for the next line "Remove-PolicyFromServicePrincipal.."

"(unsupported query ..)"

When I have replaced the variable $saml2policyid with actual value then it works (as pointed out in by the others on similar issue #60 h

[2018-06-04 17:05] #57 closed

[2018-06-04 17:08] JoeDavies-MSFT commented on #46
@medavamshi , I just tested this using the instructions and syntax (Set-AzureRmVMOSDisk -VM $vmConfig -Name $osDiskName -DiskSizeInGB $osDiskSize -CreateOption FromImage -StorageAccountType StandardLRS) and it worked fine. What version of Azure PowerShell are you using? Thanks

[2018-06-04 17:12] JoeDavies-MSFT commented on #46
@ashunt677 I just tested this using the instructions. If you can't resolve dc1.corp.contoso.com, then the DC1 VM must not have been promoted to a domain controller. When DC1 is promoted, it also becomes the DNS server for all the virtual machines in the Corpnet subnet. Take a look at DC1. Joe

[2018-06-04 22:17] ashunt677 commented on #46
@JoeDavies-MSFT DC1 was always promoted but i did a demote-promote anyway. After that didn't work I changed APP1 DNS to point to DC1 (10.0.0.5) that was not a good idea, I lost my ability to RDP to it. Instead of recreating the VM, I got in some practice with serial console (preview) and set DNS back to Dynamic.
The FIX: in Azure portal, changed the virtual network dns to primary:10.0.0.5 secondar

[2018-06-05 15:45] guptas-abhishek opened #76 "How to check if SAML1.1 is already enabled or not"
Hi,
 I had enabled SAML1.1 in my environment but for some reason, had to delete the Enterprise application in Azure.  I am not sure what is the state of the protocol and how to update it as  I can see that you are using Object ID as a parameter in enabling the protocol.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0

[2018-06-05 15:51] guptas-abhishek commented on #76
To Add, getting the below error while trying to remove the service principal (4th step in your sample)--

PS Z:\CGAS\Abhi\Client ID and Secret> Remove-PolicyFromServicePrincipal -policyId $saml2policyid -servicePrincipalId $objectid
AssignPolicyToEntity: Using graph endpoint: https://graph.windows.net entity: servicePrincipals entityId: 5cfd7af1-024c-438d-b49b-c26036a981ee
HTTP DELETE https://grap

[2018-06-05 17:55] JoeDavies-MSFT commented on #66
@DeanGross Hi Dean, I am looking into this and have added it to my work items going forward. Thanks for letting us know this was needed. Joe

[2018-06-05 17:55] #66 closed

[2018-06-06 08:49] smashingly opened #77 "Error in this page"
Hi, the following text is incorrect:

"There are two choices for connectivity to Microsoft cloud platforms and services: your existing Internet pipe and ExpressRoute. Use an ExpressRoute connection if predictable performance is important. You can use one ExpressRoute connection to connect directly to Microsoft SaaS services (Office 365 and Dynamics 365), Azure PaaS services, and Azure PaaS service

[2018-06-06 15:18] JoeDavies-MSFT commented on #77
@smashingly This has been corrected and published. Thanks for letting me know. Joe

[2018-06-06 15:18] #77 closed

[2018-06-06 15:39] kaevans commented on #43
I did have problems with this when using AzureCP. The reason appears to be how it stores the user principal name in the dbo.UserInfo table and how SharePoint inspects the user "name" claim. If we remove AzureCP from the equation, it works in SharePoint 2016.

To verify behavior, I created a cloud only user in another directory.
![image](https://user-images.githubusercontent.com/7107098/41048096-a2

[2018-06-06 15:40] kaevans commented on #43
@denisebmsft as the issue seems specific to AzureCP, and the ability to invite guest users via B2B was verified and demonstrated, please close.

[2018-06-06 15:48] kaevans commented on #76
@guptas-abhishek You can use the PowerShell sample cmdlets as provided. These PowerShell commands are simply wrappers to call the Azure AD Graph API. I find it easier to go to the [Azure AD Graph Explorer](https://graphexplorer.azurewebsites.net/) and run queries directly. The [API to list policies assigned to a principal] is documented (https://msdn.microsoft.com/en-us/library/azure/ad/graph/api/

[2018-06-06 17:38] MSFTTracyP commented on #76
If you’re still getting this error – I’m not sure from further responses – remove all the variable references and replace them with actual IDs. It sounds like either we’re calling on something that doesn’t exist, or something is missing, so let’s be explicit.

Thanks,
Tracy

________________________________
From: guptas-abhishek <notifications@github.com>
Sent: Tuesday, June 5, 2018 8:51:03 AM
To:

[2018-06-06 18:59] moojjoo commented on #76
MSFTTracyP I found the following as a viable solution:

1. https://graphexplorer.azurewebsites.net/
2. Run the query
`https://graph.windows.net/myorganization/policies`
3. Take note of the objectID -
`{
    "odata.metadata": "https://graph.windows.net/myorganization/$metadata#directoryObjects/Microsoft.DirectoryServices.Policy",
    "value": [
        {
            "odata.type": "Microsoft.Directo

[2018-06-06 19:17] MSFTTracyP commented on #76
Oh, that’s well done! Thank you for letting me know – very helpful!

From: Moojjoo [mailto:notifications@github.com]
Sent: Wednesday, June 6, 2018 12:00 PM
To: MicrosoftDocs/OfficeDocs-Enterprise <OfficeDocs-Enterprise@noreply.github.com>
Cc: Tracy Paddock <tracyp@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-Enterprise] How to check if SAML1.1 is alre

[2018-06-06 19:36] kaevans commented on #76
@moojjoo @MSFTTracyP any suggestions on making the PowerShell less error prone? There have been multiple issues raised about the code getting into a state where the SAML 2.0 policy was removed, a SAML 1.1 policy was added, and someone runs the script again and gets an error. Perhaps we just remove any existing SAML policy instead of querying for a SAML 2.0 policy? There have also been issues where

[2018-06-07 15:08] guptas-abhishek commented on #76
@kaevans
Thanks for all your comments and yes  unfortunately it looks dead straight but still a lot of people are facing issues in removing / adding a new token etc etc

Coming back to this issue,  as  Is aid  i earlier had added SAML1.1  but the output on AzureAD graph Explorer . This doesn't give me any clues regarding SAML1.1 token as shown in your snippet...

![image](https://user-images.githu

[2018-06-07 15:48] kaevans commented on #76
@guptas-abhishek yes, it's ok to have that many policies in the organization. However, a single service principal can only have a single TokenIssuancePolicy assigned, and that can be either 1.1 or 2.0.

[2018-06-07 17:49] kaevans commented on #74
Updated sample code and verified in lab. [PR 78](https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/78)

[2018-06-07 17:50] kaevans commented on #76
Updated sample code to avoid errors and to include output text to make it easier to see what is happening.  [PR 78](https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/78)

[2018-06-07 17:51] kaevans commented on #64
Updated script to avoid issues as noted, thank you @moojjoo! [PR 78](https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/78)

[2018-06-07 17:52] kaevans commented on #60
Updated script, thank you for reporting this!  https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/78

[2018-06-07 17:53] kaevans commented on #58
Updated based on your feedback. Thank you!  https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/78

[2018-06-07 18:45] #76 closed

[2018-06-07 18:46] #74 closed

[2018-06-07 18:46] #64 closed

[2018-06-07 18:46] #60 closed

[2018-06-07 18:46] #58 closed

[2018-06-08 01:42] gramosvishay opened #80 "Splendid documentation"
Superb, absolute gold.  Wonderfully documented, tremendously easy to follow and reproduce.  I am deeply appreciative for all the hard work that went into this effort.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 136007e4-4ddd-a1d8-a3ac-251da6bd5311
* Version Independent ID: 5c1ec643-ac23-cf7c-c787-3ffb1b4f9674
* Cont

[2018-06-08 09:30] martensnico opened #81 "Missing service MSol"
Hi, great article. I used this to create my own personal auto-logging in feature using this article. However, I found I was missing the Msol cmdlets (for getting users / changing licenses etc).
Maybe you can add the Connect-MSolService in here as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c551eb1-7ac5-cb02-c

[2018-06-08 16:49] grizzljt commented on #43
I can resolve guest users via AzureCP without issue on SP2016 with ADFS.  Could you weigh in @Yvand ?

[2018-06-08 16:54] denisebmsft commented on #80
Thanks very much for the feedback, gramosvishay!

[2018-06-08 16:54] #80 closed

[2018-06-08 16:55] denisebmsft commented on #81
Thank you for the feedback, martensnico! We are looking into this.

[2018-06-08 17:29] DeanGross opened #82 "Obsolete Link"
The link to PowerShell for Office 365 group of the Office 365 Yammer Network points to yammer network that no longer exists, can it be removed to eliminate confusion?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719de36a-fd95-7a77-9fc0-09044a7c6802
* Version Independent ID: eff65b2e-4340-09c5-e50b-00f374a574ab
* Cont

[2018-06-09 20:01] kaevans commented on #43
@grizzljt @Yvand The issue that I am seeing is that AzureCP add the tp_Login value in the UserInfo table with the full external UPN from AAD, but using the name claim as mapped results in the UPN as reflected in the source directory. In this screenshot, the red ones were added using AzureCP, the green ones added using the name claim in the people picker without AzureCP.

![image](https://user-imag

[2018-06-11 09:21] Yvand commented on #43
The behaviour is due to how properties are stored for Guest users (compared to Member users) in Azure AD.

I ran queries below using [Microsoft Graph Explorer](https://developer.microsoft.com/en-us/graph/graph-explorer) (which AzureCP uses since the last version) to illustrate it:

Get Member users:
/users?$filter=UserType eq 'Member' &$select=userPrincipalName, mail, UserType &$top=5
[code]

Get

[2018-06-11 15:31] JoeDavies-MSFT commented on #81
@martensnico,  Connecting with Msol-ConnectService added as an alternative throughout. Thanks for letting us know. Joe

[2018-06-11 15:31] #81 closed

[2018-06-11 18:27] kaevans commented on #43
@Yvand I don't know if that's a valid assumption, the email could be orthogonal to the value in the NameIdentifier claim. Further, I have some older external users that have userType: Member where the mail claim is not present. I have an email to the AAD team asking about the inconsistencies.

[2018-06-12 08:05] Yvand commented on #43
@kaevans Great, indeed, it is just an assumption and it would be nice to know for sure how to handle Guest users.

@grizzljt This updates the claims in the SAML token, but this doesn't impact how AzureCP queries users. Even with v12, I think that the problem explained by @kaevans (with his screenshot of UserInfo table) is correct and prevents to grant direct access to Guest users.

[2018-06-12 23:36] denisebmsft commented on #82
Thanks, DeanGross, for the feedback. The article has been updated with a link to Office 365 Tech Communities. I hope this helps!

[2018-06-12 23:36] #82 closed

[2018-06-12 23:38] denisebmsft commented on #43
Thanks, Yvand and grissljt, for the feedback. And thanks, kaevans, for looking into this. I will keep this issue open for now and will check in again soon.

[2018-06-14 07:58] junemay1001 commented on #26
Hi Joe, I contacted Microsoft Support using the link. They say, I have to contact Business support or MSDN support. Is there an email address to which I can request this list of names? I hope the support link doesn't point to the right place where the list of services and friendly names are available.

[2018-06-18 00:25] buiduybao opened #83 "Prolife"

[2018-06-18 19:53] buiduybao commented on #83
#83

[2018-06-19 14:18] Octavie opened #84 "Navigating directly to a site collection URL causes Too Many Redirects"
Hi,
When navigating to the web application URL it all works just fine, I can log in and see my home page. However, when I first directly navigate to a site collection URL within the same web application, I get the error Cannot Reach Page. When I watch the Network activity with the F12 Developer tools, I see a lot redirections:
1. Site Collection URL - 302
2. Site Collection URL/_layouts/15/authent

[2018-06-19 22:28] somecoulombs opened #85 "MFA support?"
How do you connect when you use Multi-Factor Authentication?  This fails and never prompts for modern authentication when you leave out -credential &lt;creds&gt; like you do with Connect-MsolService

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f4d0d02-7d9f-b10c-9c86-8f82459dabe1
* Version Independent ID: 5fa035e4-55

[2018-06-20 17:20] denisebmsft commented on #84
Hello Octavie,

MSFTTracyP's has a comment/question for you:

This is likely be because you’re redirecting authentication from on-premises to Azure’s login page. My question is, do you get to the login page? It sounds like you do when you use the web app configured for Azure authentication?

[2018-06-20 17:22] denisebmsft commented on #85
Hello somecoulombs,

Thank you for your question. We'll follow up soon.

[2018-06-20 17:22] #83 closed

[2018-06-20 17:22] #43 closed

[2018-06-20 17:23] denisebmsft commented on #26
Hello junemay1001,

Thank you for letting us know about this. We'll follow up soon.

[2018-06-20 17:44] chrisda commented on #85
@somecoulombs, have you tried a DTAP hybrid customized version of the Exchange Online [MFA connection instructions](https://docs.microsoft.com/powershell/exchange/exchange-online/connect-to-exchange-online-powershell/mfa-connect-to-exchange-online-powershell)?

• UserPrincipalName is your account.
• Use the ConnectionUri value` https://ps.outlook.com/powershell-liveid?DelegatedOrg=<customer tenant

[2018-06-21 09:49] jadoming opened #86 "Obsolete - Replaced by MS Graph reporting APIs"
This method is deprecated as of Jan 29th 2018.
O365 reporting services have been moved to the Graph and this document should be removed or updated with a pointer to the Graph API reference site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffbeccaa-efdd-de74-0b2c-5a74de5caac0
* Version Independent ID: 95d9f3d2-8664-3

[2018-06-21 10:34] Octavie commented on #84
Hi Denise,

I have SharePoint 2016 installed in Azure VMs and used this article (https://docs.microsoft.com/en-us/office365/enterprise/using-azure-ad-for-sharepoint-server-authentication) to integrate with Azure AD.

We have one web application configured with SSL and a couple of path based site collections.
Navigating to the web application URL (root site collection) is just fine.
Navigating to a

[2018-06-21 11:37] Codefearingguy opened #87 "Assign Saml 1.1 powershell throws error"
Assign Saml 1.1 principal powershell scripts does not work anymore. It fails with below error:
GetPoliciesAssignedToEntityUrl: Using graph endpoint: https://graph.windows.net
entity: servicePrincipals entityId: d23010a6-e4ad-4908-9094-46be253bf267
HTTP GET https://graph.windows.net/myorganization/servicePrincipals/d23010a6-e4a
d-4908-9094-46be253bf267/policies?api-version=1.6
Invoke-RestMethod : T

[2018-06-21 12:57] Simon5886 opened #88 "typo in script"
In the multiple user script, there is a typo.
line 3 shows variable $accountSkuId but in line 12 it is called as $AccountSkuId, which means code does not run correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6e1db9c-8440-9547-98ab-3bfca008bd86
* Version Independent ID: 17011d6e-4978-6312-274b-586bd9e857de
* Co

[2018-06-21 17:38] denisebmsft commented on #88
Hello Simon5886, and thank you for letting us know about this. We'll fix it ASAP.

[2018-06-21 17:38] #88 closed

[2018-06-21 17:40] denisebmsft commented on #87
Hello Codefearingguy, and thank you for letting us know about this. We have some folks out of the office, but we will address this as soon as we can.

[2018-06-21 17:41] denisebmsft commented on #86
Hello jadoming, and thank you for letting us know about this. We will address ASAP.

[2018-06-21 19:13] MSFTTracyP commented on #84
Thanks for letting me know that level of detail, seeing as it really helps me get context for the problem. A couple more scoping questions:

- When you go to the site collection URL and get too many redirects, how many in total?
- What does the user see on the screen during these redirects?
- Do you ever get to the site collection page? Or does it always error out? (What do you see?)
- What happen

[2018-06-22 07:42] Octavie commented on #84
Hi good morning,
I have asked Vincent (colleague) to join this conversation, as he has more specific answers for you than I have. I do not have access to the SP2016 VMs all the time. He has. :)

1) How many redirects? As far as I can remember, at least 5 times.
2) The user doesn't see anything but the loading indicator. We were expecting a login screen, but after a few seconds we see the error Cou

[2018-06-25 14:34] JoeDavies-MSFT commented on #86
Article removed.

[2018-06-25 14:34] #86 closed

[2018-06-25 14:41] VinceWeir commented on #84
Hi all,
Thanks for letting me join this conversation.
Going to Url "/_trust/default.aspx" root site collection and opening a path based site collection on a new tab works fine.

[2018-06-25 17:15] denisebmsft commented on #84
Hello!

Octavie, if you are still having trouble, you will want to open a support ticket.

[2018-06-27 09:35] earthengine opened #89 "In acurate information"
For all scripts, every occurance of "StandardLRS" should be replaced with "Standard_LRS".

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 136007e4-4ddd-a1d8-a3ac-251da6bd5311
* Version Independent ID: 5c1ec643-ac23-cf7c-c787-3ffb1b4f9674
* Content: [Base Configuration dev/test environment](https://docs.microsoft.com/en-

[2018-06-27 16:34] denisebmsft commented on #89
Thank you for the feedback, earthengine! We'll take a look at this.

[2018-06-27 20:11] ashunt677 commented on #89
Yes Standard_LRS is definitely correct, was covered in the post titled 'Splendid documentation'.

[2018-06-28 19:14] stefshap opened #90 "Lacks visual appeal and flow"
As someone has been in multiple compromise situations, this document does not flow well. It needs screen shots and a greater visual appeal for all types of users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04d540fc-67c0-86ea-7bcb-9a08cdc52e1b
* Version Independent ID: 022eebfd-370d-7b8b-1a26-81d0dfb0aae7
* Content:

[2018-06-28 23:36] chrfox commented on #90
Thanks for the feedback. There is a video embedded and given that this is a fast turn around topic for deflection, additional revisions will be considered later.

[2018-06-28 23:36] #90 closed

[2018-07-01 13:41] tekanary opened #93 "Tenant vs subscritpion"
I have a MSDN Professional subscription with 2 tenants(directories). It is not clear if I can (and how) use the same subscription to create resources in the second directory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcdf56d0-5b7a-f0df-86c2-14ce1c067514
* Version Independent ID: 76a8737d-8f21-56ae-93f5-5d794281348

[2018-07-06 18:18] denisebmsft commented on #87
Hello @martynelsonjr, @Codefearingguy, and others! We didn't forget about this issue, and we are looking into it. We will post an update as soon as one is available. I'll keep this issue open until then.

[2018-07-06 18:18] #84 closed

[2018-07-09 15:55] JoeDavies-MSFT commented on #89
I have updated the instances of StandardLRS to "Standard_LRS" in accordance with the examples in https://docs.microsoft.com/en-us/azure/virtual-machines/windows/attach-disk-ps and version 6.00 and later of the Azure PowerShell module.

[2018-07-09 15:55] #89 closed

[2018-07-09 17:06] JeremyTBradshaw opened #94 "Procedure for CSP Partners (i.e. Delegated Access)?"
Hello,

I see there are procedures that have been added for Azure AD and Exchange Online PowerShell for CSP partners to connect to customers' tenants but I don't see anything for Skype for Business Online PowerShell.  Will this be added?

Thanks in advance.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f318af5-7da8-da

[2018-07-09 17:42] JeremyTBradshaw commented on #85
Hello,

I've tried using the DTAP hybrid customized version of the Exchange Online MFA connection instructions that you linked, but they don't work.  I'm trying:

Connect-EXOPSSession -ConnectionUri https://ps.outlook.com/powershell-liveid?DelegatedOrg=<customer tenant domain name> (I've tried the default domain as well as the .onmicrosoft.com domain).

It ends up in an error that is showing below

[2018-07-10 18:24] AMSDatabase opened #96 "Instructions incorrect for "Connect with the Microsoft Azure Active Directory Module for Windows PowerShell""
The instructions for  "Connect with the Microsoft Azure Active Directory Module for Windows PowerShell" are confusing/incorrect. Once the MSOnline Module is installed and you get to Step 2 the commands have to be run sequentially -- run the first command under Line 2:
$UserCredential = Get-Credential
Input your Office 365 credentials in the dialog box and click OK, then run the next command shown

[2018-07-11 02:26] chazwoza opened #97 "An organisation could have multiple domain names"
You mention the domain name as being the identifying component of an organization... but a tenant may have multiple domain names for different organisations attached to it.

I also think we need a clearer explanation of how the Azure Enrollment, Accounts/Departments etc relate to the tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2018-07-11 11:25] joker-it opened #98 "Need Azure AD Premium for create a new enterprise application in Azure AD?"
is it correct that we need an azure ad premium 2 license for using a Non-gallery Application in Azure AD?

[2018-07-11 16:11] JoeDavies-MSFT commented on #96
@AMSDatabase You run the two commands together. The second command is run automatically by PowerShell after you enter your credentials. A third step and extra copy-past operation is not needed. Hope this helps.

[2018-07-11 16:43] AMSDatabase commented on #96
Nope -- didn't work that way for me. Returned an error.

On Wed, Jul 11, 2018, 12:11 PM Joe Davies <notifications@github.com> wrote:

[2018-07-11 17:24] denisebmsft commented on #97
@chazwoza, thank you for the feedback. We'll look into this.

[2018-07-11 17:29] denisebmsft commented on #94
@JeremyTBradshaw, good question. We're looking into this.

[2018-07-12 12:11] JeffBrownTech opened #99 "Module Name"
The code examples reference's the older "LyncOnlineConnector" module while the new PowerShell module's name is "SkypeOnlineConnector".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f318af5-7da8-daec-d038-7bca3d4cabf8
* Version Independent ID: 7cb9bf9d-5b01-7cbd-fa54-cb9847b61fc2
* Content: [Manage Skype for Business

[2018-07-12 21:20] JoeDavies-MSFT commented on #26
Link to the web page for Office Business Support has been added/

[2018-07-12 21:21] JoeDavies-MSFT commented on #97
The text has been revised to allow for multiple domain names. Thanks.

[2018-07-12 21:21] #97 closed

[2018-07-12 21:21] JoeDavies-MSFT commented on #99
This has been corrected. Thanks for letting us know.

[2018-07-12 21:21] #99 closed

[2018-07-12 21:23] JoeDavies-MSFT commented on #96
@amsdatabase I just tried this and it worked. You have to press Enter for the second command when copying from the code box. What error are you getting?

[2018-07-17 12:29] Codefearingguy commented on #87
Hi am back from vacation and I have a fix for this issue.
In InvokeMSGraphAPI method change the header to use "Content" instead of "Content-Type"

[2018-07-17 16:22] Codefearingguy opened #101 "After logging in user is not redirected back to SharePoint site"
I have followed through all the steps and when I try to access my SharePoint site, I get redirected to login.microsoftonline.com, but then it goes into continous loop in this url:
https://login.microsoftonline.com/{objectid}/wsfed?wa=wsignin1.0&wtrealm=urn%3as509lab&wctx=https%3a%2f%2fs509lab%2f_layouts%2f15%2fAuthenticate.aspx%3fSource%3d%252F

Below is my environment set up:

- SharePoint 2013
-

[2018-07-17 22:47] chrisda commented on #85
@somecoulombs, @JeremyTBradshaw, I've received official word that the Exchange Online Remote PowerShell Module isn't supported for MFA in DAP.

That being said, you can try the [Trusted IPs](https://docs.microsoft.com/azure/active-directory/authentication/howto-mfa-mfasettings#trusted-ips) feature to allow regular (non-MFA) PowerShell connections from your intranet. If necessary, be sure to includ

[2018-07-17 23:57] JeremyTBradshaw commented on #85
@chrisda Thanks for confirming and the Trusted IP suggestion.

[2018-07-18 03:32] sngoz opened #103 "Cannot open Word files in Desktop Word"
I cannot open Word files in desktop Word.

When I select Edit in Word for a Word document, Desktop Word opens with the toolbar, and below the toolbar is a empty grey background, then in front of Desktop Word a small dialog box appears with the homepage of the site in it, then when I click on the x to close this dialog, nothing happens and I still see Desktop Word with the empty grey background.

T

[2018-07-18 04:59] zhouqinp opened #104 "Kind Reminder: Set-ExecutionPolicy Unrestricted before trying Connect-MsolService"
After I successfully installed MSOnline with Install-Module MSOnline command, I faced error when I try connecting MsolService. It reads 'The 'Connect-MsolService' command was found in the module 'MSOnline', but the module could not be loaded. For more information, run
'Import-Module MSOnline'.' Then I tried Import-Module MSOnline, but it also failed because 'Errors occurred while loading the forma

[2018-07-18 16:43] Codefearingguy commented on #101
Tried with "/_trust/" &  /_trust/default.aspx still the same behaviour. Goes on a loop in the https://login.microsoftonline.com/{objectid}/wsfed?wa=wsignin1.0&wtrealm=urn%3as509lab&wctx=https%3a%2f%2fs509lab%2f_layouts%2f15%2fAuthenticate.aspx%3fSource%3d%252F url

[2018-07-18 17:33] kaevans commented on #87
@Codefearingguy I have tested this several times over and cannot reproduce an error either using PowerShell or simply making REST API calls. The correct header to use is "Content-Type" as per [RFC 2616 section 14.17](https://tools.ietf.org/html/rfc2616#section-14.17).

Check to make sure that a proxy is not interfering with your HTTP calls and somehow transferring or removing required HTTP headers

[2018-07-18 22:17] kaevans commented on #101
Another trick to try is to open a private browsing session (In Private or Incognito) as there could be an issue with an existing cookie in your environment. Using a private browsing session opens a new session without reading existing cookies, forcing you to go through the entire logon sequence.

Here is a summary of the traffic in my environment (captured using Fiddler) during a private browsing

[2018-07-19 16:45] scraping-infinity opened #105 "Instructions and link text for installing the .NET Framework 3.5 on desktops refer to Win8/8.1 but not Win10"
The section here with instructions on installing .NET 3.5 for desktop systems calls out Windows 8 and 8.1, but makes no mention of Windows 10.  The title of the linked article is "Install the .NET Framework 3.5 on Windows 10, Windows 8.1, and Windows 8".  The title and link text used in this article should be updated to include Windows 10.

---
#### Document Details

⚠ *Do not edit this section. I

[2018-07-20 15:12] kaevans commented on #98
No, I used a free tenant for the demo. For more information on AAD SKUs, see https://azure.microsoft.com/en-us/pricing/details/active-directory/.

[2018-07-20 16:13] JoeDavies-MSFT commented on #104
I just tried this on a brand new virtual machine and I was able to install and execute Connect-MsolService without having to set the Execution policy (which was set to its default of RemoteSigned). Perhaps there is another reason why you got this error.

[2018-07-20 16:13] #104 closed

[2018-07-20 17:29] JoeDavies-MSFT commented on #105
@scraping-infinity, The article now contains a link to the instructions for Windows 10. Thanks for letting us know.

[2018-07-20 17:31] JoeDavies-MSFT commented on #96
@AMSDatabase  The instructions have been rewritten to use only the Connect-MsolService command for both user name/PW and MFA sign-ins.

[2018-07-20 17:31] #96 closed

[2018-07-20 19:12] scraping-infinity commented on #105
Just for the record:  The added link is exactly the same as the link that's already there with the incorrect title and link text.

[2018-07-21 23:50] ashunt677 opened #106 "On down the road"
I mostly got this tutorial working in my dev/test, could never get Azure to verify with my 365 tenant:
![image](https://user-images.githubusercontent.com/39784734/43040419-0706dfb0-8d09-11e8-80de-4c1261443eba.png)

Although the O365 --> GoDaddy domain integration was seamless:
![image](https://user-images.githubusercontent.com/39784734/43040453-df487956-8d09-11e8-9d38-a1faeeaace53.png)

This is an

[2018-07-22 07:15] sngoz commented on #103
The PowerShell below from https://sharepoint.stackexchange.com/questions/228085/sharepoint-2016-with-fba-credential-prompts-when-opening-office-documents/231296#231296 has possibly fixed the issue. I will test more thoroughly in the next couple of days.

$sts = Get-SPSecurityTokenServiceConfig
$sts.SuppressModernAuthForOfficeClients = $True
$sts.update()
iisreset

What are the implications of sett

[2018-07-22 16:01] kaevans commented on #103
The Get-SPSecurityTokenServiceConfig setting is at the STS level, not at the web application level, so this is a farm-wide setting as there is only one STS per farm. The STS processes the incoming SOAP messages from trusted identity providers. You can have multiple zones for a web application where users accessing from one zone use federated auth claims (such as in this article with AAD) and users

[2018-07-24 14:50] JoeDavies-MSFT commented on #105
@scraping-infinity  This has been corrected. Sorry for the overlook. Thanks again for letting me know. :)

[2018-07-24 14:50] #105 closed

[2018-07-26 16:39] #87 closed

[2018-07-26 16:44] #98 closed

[2018-07-26 16:45] #103 closed

[2018-07-26 16:45] #101 closed

[2018-07-27 14:57] JoeDavies-MSFT commented on #106
@ashunt677 Sorry to hear about your problems completing this test lab configuration. This guide is in the process of being revised to include a synchronized domain name and a purchased third-party certificate for a better test experience. I will comment here when it is complete so perhaps you can try again with a new E5 trial subscription.

[2018-07-27 14:57] #106 closed

[2018-07-30 16:44] kenwith commented on #94
@JeremyTBradshaw - thank you for reporting. We were able to get this added to our Product Backlog for Skype documentation and I will work to get this prioritized in an upcoming sprint. Thanks for taking the time to make the docs better!

[2018-07-30 16:44] #94 closed

[2018-08-01 19:53] #93 closed

[2018-08-02 08:18] kombaiahmurugan commented on #26
@JoeDavies-MSFT , if possible, can you please share the license details (json file or other file) that you got from support?

[2018-08-02 08:52] SashaSidorenko opened #109 "Group Claims"
Could you please add the instructions how to add Azure AD group claims to SharePoint trusted identity token issuer. It will be very helpful to use Azure AD groups to share something on SharePoint On-Premises

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f079fa08-284c-3f14-be4a-1f32d5b0e7b9
* Version Independent ID: 70

[2018-08-02 19:59] kaevans commented on #109
@SashaSidorenko Azure AD will not include O365 groups as part of the token that is posted to the SharePoint STS. Instead, a custom claims provider is needed to augment the user claims to include groups they are a member of.  One example of this is https://blogs.msdn.microsoft.com/jesusfer/2016/01/25/sharepoint-2013-role-claims-augmentation/. AzureCP should enable this as well via Graph API lookups

[2018-08-06 01:52] danmyhre opened #110 "MSDN"
Why does MSDN not include Office 365 E5 and Dynamics 365?  The MSDN enterprise level subscription would be perfect for building this, but it only include E3 level.  Please make it E5 and add D365.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 596c812b-a25a-e573-825b-debe0af35fd8
* Version Independent ID: 1669980c-0c80

[2018-08-06 07:36] SashaSidorenko commented on #109
Adding possibility to share data with O365 groups can be managed by adding http://schemas.microsoft.com/ws/2008/06/identity/claims/groups claim mapping to SharePoint server TrustedIdentityTokenIssuer and enabling groupMembershipClaims "SecurityGroup" in AAD App Registration manifest. After that, you can ensure groups in PeoplePicker by group ID. Isn't? If so current article could be modified by ad

[2018-08-06 10:07] michevnew opened #111 "Incorrect examples"
Ahem, can you folks please test your code examples before putting them in official documentation. The entire "Specific Office 365 services for users from all licensing plans" section doesn't make any sense. First, you are getting all the SKUs for the tenant, and not checking which individual SKUs a given user is assigned. Second, there is no single serviceplan that you can disable across "all lice

[2018-08-06 16:01] JoeDavies-MSFT commented on #110
@danmyhre The best I can do is pass your request along to the folks who run the MSDN subscription program. You might also send your request through MSDN subscription support at https://www.visualstudio.com/subscriptions/support/. Thanks

[2018-08-06 16:01] #110 closed

[2018-08-06 19:55] OlegKP opened #112 "Script with filter by license ($acctSKU="<AccountSkuId>") isn't workin."
If user have enable additional license with pack, script is not apply.
$acctSKU="&lt;AccountSkuId&gt;"
$AllLicensed = Get-MsolUser -All | Where {$_.isLicensed -eq $true -and $_.licenses[0].AccountSku.SkuPartNumber -eq ($acctSKU).Substring($acctSKU.IndexOf(":")+1, $acctSKU.Length-$acctSKU.IndexOf(":")-1)}
$AllLicensed | ForEach {Set-MsolUserLicense -UserPrincipalName $_.UserPrincipalName -LicenseOp

[2018-08-07 16:37] kaevans commented on #109
The more typical workflow is to assign site permissions by name rather than ID. For instance, adding the group in People picker as "mytesto365group" (as most users would expect) writes the following to the database:

`c:0ǵ.t|azuread|mytesto365group`

Authentication fails because the claim that is posted includes the object ID, not the group name.

Instead, add the group using its object ID in the

[2018-08-07 16:38] #109 closed

[2018-08-08 14:05] lexxus93600 opened #113 "Licensing"
When trying to follow your guideline, portal Azure notifies me that I need a Premium Azure Active Directory in order to create a "Non-gallery application". So I'm wondering if I need an Azure Active Directory Premium P1 (or P2) for each user in my organization to be able to authenticate them on SharePoint ? It's a big cost.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2018-08-08 15:00] JoeDavies-MSFT commented on #111
@michevnew Looking into this now, Sorry for the inconvenience.

[2018-08-08 15:29] JoeDavies-MSFT commented on #112
@OlegKP I have removed the section with the code block until it can be rewritten to support multiple licenses. Time frame is to be determined. Sorry for the inconvenience.

[2018-08-08 15:29] #112 closed

[2018-08-08 16:51] danmyhre opened #114 "Multiple Licenses Example"
Please add an example of how you deal with users that have multiple licenses assigned.  It is possible that some services are included in multiple licenses.  For example, SharePoint online and Office Online is included in both ENTERPRISEPACK and DYN365_ENTERPRISE_PLAN1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4

[2018-08-08 16:53] danmyhre opened #115 "Examples Missing Array Index"
Some of the examples are missing the array index on the "Licenses" property

Get-MsolUser | Where-Object {$_.isLicensed -eq $true -and $_.Licenses.ServiceStatus[4].ProvisioningStatus -eq "Disabled"}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f403603f-e17b-8b5b-cbd8-8e4c6f4e1728
* Version Independent ID: a93a3de1-25

[2018-08-08 18:45] denisebmsft commented on #113
Thanks for the feedback, @lexxus93600. I'm looking into this and will post back when I get an answer.

[2018-08-10 15:16] denisebmsft commented on #113
@lexxus93600, if you are able to add a gallery application (and apparently you get 10 free), then you don't need the premium version of Azure Active Directory.

[2018-08-10 15:40] lexxus93600 commented on #113
Without a premium azure ad, I am not able to add a « non gallery application ».
But my question is more about that do I need to have a license per user ? Because with only a single licence I can add a non gallery application and I am be able to authenticate all my azure active directory users into SharePoint, without assigning any azure ad premium license to any user. Only the fact to have a azure

[2018-08-10 20:39] ferringer opened #116 "Why use a web application policy to grant access in Step 5?"
Is there a required reason why this is a recommended way to grant AAD users access to the web application? It feels fairly heavy handed to grant them access (especially full access) via the web app policy rather than individually within the site collections they need to access. I kind of thought these policies were mostly for service accounts and such, am I misunderstanding a requirement for imple

[2018-08-11 20:45] kaevans commented on #116
@ferringer - hey John, this is really for testing purposes. This article really only serves to educate how to perform and confirm an initial configuration, it does not intend to educate users to the nuances of SharePoint authorization and permission models.

We restricted this article to give specific instructions to get a user started, not to provide comprehensive product documentation on how aut

[2018-08-13 19:01] #116 closed

[2018-08-14 09:11] Vrolir opened #117 "Trial license from Microsoft.com to conduct pilot for EA customer"
We are intrested in Office 365 E3 and would like to conduct a small Pilot.

Can we create a tenant via the Microsoft website for this purpose and if the pilot is succesfull link this tenant to our Enterprise Agreement and buy production licenses under that agreement?

I know we could ask our LSP to provision a Tenant for us, but  we would like to speed up the process.

So in a compact form; can we

[2018-08-16 08:44] FrankvL commented on #46
When I run the script to create DC1 I got the following error
PS N:\> # Create the DC1 VM

WARNING: The output object type of this cmdlet will be modified in a future release.
WARNING: The output object type of this cmdlet will be modified in a future release.
WARNING: Since the VM is created using premium storage, new standard storage account, gratirgtesdc1081610230, is created for boot
diagnosti

[2018-08-17 16:56] denisebmsft commented on #113
@lexxus93600 that is a good question. We'll get the answer.

[2018-08-18 02:56] ashunt677 commented on #46
Is it the hyphen in "RG-Test" ? try "RG'-Test" or just use _

[2018-08-20 11:28] emashiring commented on #46
Hello, I have been having a challenge creating an Azure VM using the scripts on this document (today's date 20th August 2018). I get the error when I run the last PowerShell command under Phase 2: Configure DC1.
[ New-AzureRMVM -VM $vm -ResourceGroupName $rgName -Location $locName ]
it was creating a storage account prior to returning the error which shown below. So I decided to create a storage a

[2018-08-21 07:00] sngoz opened #119 "Does Azure AD for SharePoint Server Authentication work with Cloud Hybrid Search?"
Cloud Hybrid Search ( https://docs.microsoft.com/en-us/sharepoint/hybrid/configure-cloud-hybrid-searchroadmap ) is a great feature. Does Azure AD for SharePoint Server Authentication work with it? TY.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f079fa08-284c-3f14-be4a-1f32d5b0e7b9
* Version Independent ID: 707cbeee-

[2018-08-21 16:29] kaevans commented on #119
@sngoz - As of right now, cloud hybrid search does not support SAML claims providers, it requires NTLM or Windows claims.

[2018-08-22 12:13] takayakawano commented on #46
Hi Team, I had a same error. this command is based on [Phase 2: Configure DC1](https://docs.microsoft.com/en-us/office365/enterprise/base-configuration-dev-test-environment#phase-2-configure-dc1). Could you please provide solution if this error resolved.

**Entered Command:**
PS C:\WINDOWS\system32> $locName=(Get-AzureRmResourceGroup -Name $rgName).Location
$vnet=Get-AzureRMVirtualNetwork -Name Te

[2018-08-22 13:29] Ramonin opened #120 "We should add a description field for each and all URLs in all (3) categories"
Customer with strict security postures need to understand what these URL's are used for. We had a semblance of this in the old document.  We should expose this to the customer base in this new approach

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec

[2018-08-22 17:45] mzappy opened #121 "Recent page changes appear to have hidden the references to IE"
It appears this page format was updated recently (today?), which removed significant, descriptive text.

One such area was the specific notations regarding the need to add certain URL's into the IE Trusted Sites settings for our user's workstation browsers.

Getting requests for supportive documentation and would greatly appreciate such information being made available again

[2018-08-22 19:31] JoeDavies-MSFT commented on #115
@danmyhre The "long version" section with the incorrect examples has been removed. Thanks for letting us know.

[2018-08-22 19:31] #115 closed

[2018-08-22 19:33] JoeDavies-MSFT commented on #111
@michevnew You are correct. The section makes some big assumptions about each licensing plan being assigned to the user account(s) and that the service is supported by all of them. I have removed the offending section and added text to use the remaining procedures multiple times for multiple licensing plans. Sorry again for your inconvenience. Thanks for letting us know about this so we could corr

[2018-08-22 19:33] #111 closed

[2018-08-24 14:53] danmyhre opened #122 "Office 2010"
Looks like the Office 2010 apps such as word and excel have been updated to support modern auth for SharePoint Online.  Can you add the details to this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 059ed9a7-ea75-0fa3-e246-4ad1f1b0c5bc
* Version Independent ID: d7598f96-3158-09ee-024a-6175599718cd
* Content: [How

[2018-08-24 16:53] denisebmsft commented on #122
@danmyhre, thank you for the feedback.  We're looking into this.

[2018-08-24 17:13] denisebmsft commented on #121
@mzappy can you clarify which article(s) don't have the descriptive text you're looking for?

[2018-08-24 18:00] mzappy commented on #121
https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges?redirectSourcePath=%252fen-us%252farticle%252fOffice-365-URLs-and-IP-address-ranges-8548a211-3fe7-47cb-abb1-355ea5aa88a2

Thank you, Denise for your time and assist with this request.

Mike Zappacosta
Microsoft Cloud Platform Engineer
Exelon IT Cloud & Infrastructure

From: Denise Vangel-MSFT <notifications@github.com

[2018-08-24 20:54] ErinRomeo opened #123 "aVP Global Strategic Alliances"
Can we see an example of the content needed in the "web link to the solution that you are looking to qualify in this program"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e449ab57-b1c0-6ca5-7e77-a587eb7390a9
* Version Independent ID: 53932091-b65c-c7d8-1927-97afa11d1cf6
* Content: [Office 365 Networking Partner Progr

[2018-08-27 18:46] bernardlam opened #124 "Use of nested AD groups"
I was under the impression that deeply nested AD/AAD groups may cause unexpected behaviour in permissioning. may want to call this out in the doc and provide more specific guidance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1364a35f-148d-20e2-620e-1999290c74c8
* Version Independent ID: 2b1ce492-f795-20fc-9b49-1960

[2018-08-27 19:17] JoeDavies-MSFT commented on #123
This field is referring to a URL that points to a product or solution that you are trying to certify, such as the URL to a product page of a firewall, proxy server, or other type of network edge device.

[2018-08-27 19:17] #123 closed

[2018-08-27 19:46] JoeDavies-MSFT commented on #117
@Vrolir Please contact your local account team for this licensing question.

[2018-08-27 19:46] #117 closed

[2018-08-27 19:50] JoeDavies-MSFT commented on #121
@mzappy You can find this information in a new article here: https://docs.microsoft.com/office365/enterprise/additional-office365-ip-addresses-and-urls

[2018-08-27 19:50] #121 closed

[2018-08-27 22:56] JoeDavies-MSFT commented on #114
@danmyhre The article has been updated. See the last section and code block.

[2018-08-27 22:56] #114 closed

[2018-08-28 08:06] Codefearingguy opened #126 "Information about user profile synchronisation mechanism"
Will the OOTB user profile sync mechanism work here? Or should we implement custom profile sync mechanism. Please add some information regarding the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f079fa08-284c-3f14-be4a-1f32d5b0e7b9
* Version Independent ID: 707cbeee-d311-d430-6119-e9ae8b8aeae5
* Content: [Using

[2018-08-28 08:10] unnieayilliath opened #127 "Single sign on and sign out"
I can understand that single sign on will work in this scenario. But will these steps provide single sign out between the on prem SP sites and other apps (eg: SPO sites) integrated with same Azure AD also? Since SharePoint works with fed-auth cookie will it not just ignore that the user has been logged out from Azure from some different application ? It will be nice to have some information about

[2018-08-28 19:15] kaevans commented on #126
See https://blogs.msdn.microsoft.com/kaevans/2013/05/23/sharepoint-2013-user-profile-sync-for-claims-users/.

[2018-08-29 09:09] gavinmorrison opened #129 "URLs Incorrect"
The list of URLs available over ExpressRoute has changed since this article was written. This article now gives conflicting guidance to the more current article at https://support.office.com/en-gb/article/managing-office-365-endpoints-99cab9d4-ef59-4207-9f2b-3728eb46bf9a?ui=en-US&rs=en-GB&ad=GB#ID0EACAAA=2._Proxies

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2018-08-29 16:13] denisebmsft commented on #129
@gavinmorrison thank you for the feedback. We'll look into this ASAP.

[2018-08-29 16:14] #126 closed

[2018-08-29 17:04] jothomp opened #130 "Duplicate entries..."
It seems that ID11 and ID21 are identical. Any reason?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP address ranges](https://docs.microsoft.com/en-gb/office365/enterprise/urls-and-ip-a

[2018-08-29 18:27] sstrodel opened #131 "typo"
"Azure RMS Deploymnet Wizard"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 919dff18-2ca8-ded4-7b64-be7b05657dfe
* Version Independent ID: d211dc9d-f8a9-1c94-4956-c4fe97cddff3
* Content: [Azure integration with Office 365](https://docs.microsoft.com/en-us/office365/enterprise/azure-integration#feedback)
* Content Sour

[2018-08-30 00:08] sngoz commented on #119
@kaevans - Thank you.

Can SharePoint Online be crawled by an on-premise Search Service Application and search work with security trimming, when Azure AD for SharePoint Server Authentication is used?

Also are there plans to include support for SAML claims providers in cloud hybrid search in the roadmap?

[2018-08-30 14:58] JoeDavies-MSFT commented on #124
@bernardlam I am investigating. Thanks.

[2018-08-30 15:47] yamineT opened #132 "Get-SPWeb issue"
Get-SPWeb cmdlet doesn't exist on SPO. Could you please update this article?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 303a91ac-84b7-6c54-2cf7-ca5be2f9007c
* Version Independent ID: f38fd76e-208e-a206-2b90-f1c818fac3af
* Content: [Why you need to use Office 365 PowerShell](https://docs.microsoft.com/en-us/o

[2018-08-30 16:31] #131 closed

[2018-08-30 20:44] yovasx2 commented on #26
Where is the list?

[2018-08-31 08:53] JeremyTBradshaw opened #133 "Is this page replacing the equivalent page on support.microsoft.com"
Hello,

I'm happy to see this page here on docs!  Just wondering if this page is replacing the longstanding [https://support.office.com/en-gb/article/office-365-urls-and-ip-address-ranges-8548a211-3fe7-47cb-abb1-355ea5aa88a2](https://support.office.com/en-gb/article/office-365-urls-and-ip-address-ranges-8548a211-3fe7-47cb-abb1-355ea5aa88a2) ?

It might be obvious, but I wanted to double-check so I

[2018-08-31 15:52] dagroll opened #134 "Link/tab missing."
The "Update your firewall's outbound allow lists" has the following sentence:
The easiest way to choose which network requests to trust is to use our pre-built PAC files on the Proxies tab above.
However, the article does not have Proxies tab.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8762d73c-32fc-a4f9-162a-b81ae

[2018-08-31 16:31] kelleyvice-msft commented on #129
I'll get this resolved today.

[2018-08-31 17:36] kaevans commented on #119
No it cannot be used to search and provide security trimming out of box. You could look into on-premises search extensibility to see if this can be built.

To provide feedback on this scenario, post to Uservoice. https://office365.uservoice.com/

[2018-09-03 12:01] chwilfing opened #135 "Intune Endpoints are missing from api"
The intune list is not part of this full list. - intune list is https://docs.microsoft.com/en-us/intune/network-bandwidth-use
As far as i see - also api does not return the list of intune IP Addresses.

BG Christoph

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independen

[2018-09-04 15:54] oualabadmins commented on #129
I've been working on this; the issue is more complex than it seemed. All versions of the SOC topic https://support.office.com/en-gb/article/managing-office-365-endpoints-99cab9d4-ef59-4207-9f2b-3728eb46bf9a should redirect to the latest release on DMC: https://review.docs.microsoft.com/en-us/Office365/Enterprise/managing-office-365-endpoints. It appears that the EN-US version of the SOC topic (htt

[2018-09-04 16:03] oualabadmins commented on #129
@gavinmorrison , can you please give me an example of conflicting guidance/URLs? Please compare the current version of the **Managing Office 365 endpoints** article (https://review.docs.microsoft.com/en-us/Office365/Enterprise/managing-office-365-endpoints) with https://docs.microsoft.com/en-us/office365/enterprise/routing-with-expressroute#deciding-which-applications-and-features-route-over-expre

[2018-09-04 16:34] denisebmsft commented on #135
@chwilfing thank you for the feedback! We're looking into this.

[2018-09-04 16:35] denisebmsft commented on #134
@dagroll thank you for the feedback. We're looking into this.

[2018-09-04 16:36] denisebmsft commented on #133
@JeremyTBradshaw thank you for the good question. We are looking into this right now.

[2018-09-04 21:54] kaevans commented on #127
To enable signout, configure the SharePoint STS with a ProviderSignOutUri property. This will sign the user out of SharePoint then redirect them to the provider's signout URL, which signs them out of AzureAD and, if present, your federation service (such as ADFS).

[code]

[2018-09-07 14:40] QUIPQUOPRO opened #136 "proxies tab?"
From article: "The easiest way to choose which network requests to trust is to use our pre-built PAC files on the Proxies tab above."

I don't see a proxies tab anywhere here. Am I blind or is this an artifact?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8762d73c-32fc-a4f9-162a-b81ae4052ea3
* Version Independent ID:

[2018-09-07 19:16] robertpauljensen opened #137 "Bug in Session Timeouts"
If I login and start reading a document for even just 1m I get forced to log out with a notice saying the session timed out. This happens on every computer I use. It makes 365 unusable for me since I need longer than 60 secs to read and respond to documents. This could be because I am logged in to an older session. If this is the case it should session me out sooner and not wait until after I read

[2018-09-10 15:35] denisebmsft commented on #137
@robertpauljensen, thank you for the feedback. Have you reached out to your organization's Office 365 Admin to see what's going on?

[2018-09-11 02:21] dialedin2014 opened #138 "Need PowerShell command reference"
Please provide a link to documentation for all the PowerShell commands used to manage Skype for Business Online

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f318af5-7da8-daec-d038-7bca3d4cabf8
* Version Independent ID: 7cb9bf9d-5b01-7cbd-fa54-cb9847b61fc2
* Content: [Manage Skype for Business Online with Office 365

[2018-09-11 05:03] sasukeh opened #139 "Pros とConsがProと詐欺となっています。"
[フィードバックをこちらに入力してください]
ProsとConsは日本語でメリットとデメリットという訳になるかと思いますが、
現状このドキュメントでは、Proと詐欺という正しくない訳になっております。
修正をしていただけないでしょうか？

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 7249c9c4-ab9c-c731-aeb0-6065965f518a
* Version Independent ID: 804199c9-6487-5fdb-f5e8-aaab252c4704
* Content: [SharePoint Server 2007 のサポート終了ロードマップ](https://docs.microsoft.com/ja-jp/off

[2018-09-11 20:58] #119 closed

[2018-09-11 21:00] denisebmsft commented on #139
Per Bing Translator, the feedback is this:

I think that pros and cons will be a translation of merit and disadvantage in Japanese,
In this document, pro and fraud are not correct. Could you please fix it?

We will definitely look into this. Thank you @sasukeh for the feedback.

我々は間違いなくこれに見ていきます。ご意見 @sasukeh ありがとうございます。

[2018-09-12 12:29] shahartamari opened #140 "Missing mapping for group"
The PowerShell script to add TrustedIdenityTokenIssuer is missing the id claim for Group.  The result will be that as-is, groups will not be visible in the people picker.  To fix this you need to add
`$map1 = New-SPClaimTypeMapping -IncomingClaimType "http://schemas.microsoft.com/ws/2008/06/identity/claims/role" -IncomingClaimTypeDisplayName "Group" -SameAsIncoming`

and change the last line of th

[2018-09-12 20:16] denisebmsft commented on #140
@shahartamari does your feedback pertain to this article: https://docs.microsoft.com/en-us/office365/enterprise/using-azure-ad-for-sharepoint-server-authentication?

[2018-09-12 21:02] dplotnikov opened #141 "typo in SharePoint Online link in the left nav"
now you have https://docs.microsoft.com/en-us/sharepoint/sharepoint-online.md but it should be https://docs.microsoft.com/en-us/sharepoint/sharepoint-online

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf76353d-e095-c8a4-cf9e-4bafee7b688c
* Version Independent ID: 52df9c4a-3a3d-2305-bf00-5184d940bcd3
* Content: [Depl

[2018-09-12 23:06] shahartamari commented on #140
Yes

Shahar Tamari

[2018-09-13 11:30] guptas-abhishek opened #142 "Issue in getting the Signin Page after Step 6"
Hi ,  I had followed your guidelines and have successfully changed the authentication mechanism from ACS to Azure AD in few environments in the past, but recently in one of the environment  I am facing the problems.

After creating the TrustedIdentifier Token and executing the scripts of enabling SAML 1.1 to my Enterprise application,  when  I try to browse the site,  i am not getting the landing

[2018-09-13 12:05] guptas-abhishek commented on #142
The Page when tried to browse comes with the following URL -- https://*******.com/_trust/?ReturnUrl=%2f_layouts%2f15%2fAuthenticate.aspx%3fSource%3d%252F&Source=%2F

[2018-09-13 18:40] denisebmsft commented on #141
Thank you @dplotnikov for the feedback. We've fixed the link.

[2018-09-13 18:40] #141 closed

[2018-09-13 18:41] denisebmsft commented on #142
@guptas-abhishek thank you for the feedback. We're looking into this.

[2018-09-13 18:43] denisebmsft commented on #139
@sasukeh we are working on this. It should be fixed soon.

我々はこれに取り組んでいます。それはすぐに修正する必要があります。

[2018-09-13 18:59] denisebmsft commented on #138
@dialedin2014 thank you for the feedback. Link added.

[2018-09-13 18:59] #138 closed

[2018-09-13 19:01] denisebmsft commented on #136
@QUIPQUOPRO thank you for the feedback. We'll get this fixed.

[2018-09-13 21:24] mikeroonz opened #143 "Text blocks starting/ending at the wrong places"
I think the line:
[code]

[2018-09-13 23:34] kaevans commented on #127
@unnieayilliath that's correct, the default behavior is that the user is authenticated and a persistent FedAuth cookie is stored for the user with a default lifetime of 10 hours. Note that a change in SP2016 may mean that the token is automatically refreshed (see the second article below). Logging out of AAD does not affect the validity or lifetime of the FedAuth cookie issued by SharePoint.

A ch

[2018-09-13 23:41] kaevans commented on #140
Duplicate issue. See #109

[2018-09-14 00:07] #142 closed

[2018-09-14 00:08] #127 closed

[2018-09-14 00:08] #140 closed

[2018-09-14 13:14] th3r1dd1ck commented on #26
for those looking for the list - https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/licensing-service-plan-reference

[2018-09-14 17:55] denisebmsft commented on #143
@mikeroonz thank you for catching this. We've fixed it. Wishing you a great weekend!

[2018-09-14 17:55] #143 closed

[2018-09-14 17:56] yovasx2 commented on #26
I got that one, is not complete 😞:

ATP_ENTERPRISE : Advance threat protection (Safe links and safe attachments)
RIGHTSMANAGEMENT_STANDARD_STUDENT : Azure Active Directory Rights Management

Above items are missing and I have more examples

[2018-09-14 18:47] hisword9 commented on #136
i want to use the pre-built PAC files....where could I access them ? proxies tab doesn't appear anywhere on this page.

[2018-09-14 21:00] AndreaBarr commented on #137
@robertpauljensen Thank you for the feedback.

I want to make sure this forced logout issue is addressed ASAP for you. Support will be able to take this issue to resolution.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on open

[2018-09-14 21:00] #137 closed

[2018-09-14 21:14] AndreaBarr commented on #136
@QUIPQUOPRO Thank you for this feedback

I want to make sure this gets updated. I am making sure the Enterprise team gets this so it's addressed properly and updated.

I was able to get this into the backlog for the Enterprise team. The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to upda

[2018-09-14 21:28] AndreaBarr commented on #135
@chwilfing Thank you for this feedback.

I am getting this Intune list issue over to the Enterprise team so we can get this addressed and updated.

I was able to get this into the backlog for the Enterprise team. The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the wor

[2018-09-14 21:38] AndreaBarr commented on #134
@dagroll Thank you for this feedback

I want to make sure this proxies tab issue is addressed so I am making sure that the Enterprise team gets this so it's can be investigated.

I was able to get this into the backlog for the Enterprise team. The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the t

[2018-09-14 23:29] AndreaBarr commented on #130
@jothomp Thank you for this feedback.

I want to make sure this duplicated information gets looked into so I am going to get this over to the Enterprise team for investigation.

I was able to get this into the backlog for the Enterprise team. The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the te

[2018-09-14 23:33] AndreaBarr commented on #133
@JeremyTBradshaw Thank you for this feedback

I want to make sure this replacement link gets addressed so I am making sure the Enterprise team gets this for investigation.

I was able to get this into the backlog for the Enterprise team. The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to

[2018-09-14 23:37] AndreaBarr commented on #132
@yamineT Thank you for this feedback

We appricate you taking the time to make the docs better. I am going to get this article over to the Enterprise team for investigation so we can get this updated.

I was able to get this into the backlog for the Enterprise team. The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made

[2018-09-17 16:13] kelleyvice-msft commented on #129
We have found that after migrating this content to docs.microsoft.com, localized versions of the original topic were not being redirected. This is being fixed, so closing the issue. @gavinmorrison feel free to reopen if there are still issues, but also note that we are planning significant changes to several O365 networking articles, and will be ensuring that guidance is consistent across all topi

[2018-09-17 16:13] #129 closed

[2018-09-17 17:50] denisebmsft commented on #139
@sasukeh the updated content is live now.

更新されたコンテンツは現在ライブです。他にご不明な点がございましたらお知らせください。再度のご意見ありがとうございます!

[2018-09-17 17:50] #139 closed

[2018-09-17 22:19] AussieDavo opened #144 "Hybrid Search does not support SAML based authentication"
There is a limitation in Hybrid Search where any objects with SAML based permissions submitted to SharePoint Online Search index are security trimmed.

This causes these SharePoint objects to be unsearchable when authenticating with AzureAD.

Reference (Hybrid Search supports Windows Claims only): https://blogs.msdn.microsoft.com/spses/2016/07/19/sharepoint-2016-hybrid-search-stuff-you-should-know

[2018-09-17 23:28] qmiqmi opened #145 "fine"
well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d0e735d-ee63-38ec-9829-f9bd5017ccf6
* Version Independent ID: 67b1c8cc-f18e-0139-581b-306848f8f8e9
* Content: [Assign licenses to user accounts with Office 365 PowerShell](https://docs.microsoft.com/en-us/office365/enterprise/powershell/assign-licenses-to-user-accoun

[2018-09-18 15:46] #145 closed

[2018-09-18 16:17] kaevans commented on #144
@AussieDavo thank you for the feedback on the product. As you noted, the correct place for that feedback is via UserVoice.

[2018-09-18 18:01] #144 closed

[2018-09-18 22:17] AndreaBarr commented on #122
@danmyhre Thank you for this feedback

I am getting this over to the Enterprise team for investigation and update.

I was able to get this into the backlog for the Enterprise team. The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-09-18 23:03] AndreaBarr commented on #113
@lexxus93600 Thank you for this feedback

Since you should be able to add non gallery applications but are not able to I want to get you to support so they can handle this to resolution.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick

[2018-09-18 23:03] #113 closed

[2018-09-19 13:18] cbarnardne opened #147 "Additional Status Definitions"
I have noticed that some Incidents have a status of "False Positive" or "Information Unavailable", It would be nice to have these additional status types in this documentation along with how Microsoft defines them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd2a834a-296b-1c7d-7358-6f6a19f8f3c3
* Version Independent

[2018-09-19 15:09] JoeDavies-MSFT commented on #124
@bernardlam Using Azure AD groups as members of SharePoint groups in the manner described in this article works fine. There are no Microsoft support issues related to this. Thanks.

[2018-09-19 16:58] denisebmsft commented on #147
@cbarnardne thank you for the feedback. We are looking into this.

[2018-09-20 18:13] bernardlam commented on #124
Hi Joe, I realize it's supported but not necessarily recommended.  I dug up some old notes and found this verbiage:

- we do not recommend the following items when you manage AD DS groups […] Adding security groups that contain nested security groups, contacts, or distribution lists.

- security groups that have deep nested structure might break SharePoint sites

source: https://docs.microsoft.com

[2018-09-21 14:53] d-kovacevic opened #151 "URL "*.o365weve.com" is missing from the XML list "https://support.content.office.net/en-us/static/O365IPAddresses.xml""
Hello Team,

Based on the article "Office 365 URLs and IP address ranges" (URL is bellow) URL "*.o365weve.com" should be included in the Office365 XML list "https://support.content.office.net/en-us/static/O365IPAddresses.xml" but currently is missing.

https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges?redirectSourcePath=%252fen-us%252farticle%252foffice-365-urls-and-

[2018-09-21 23:03] AndreaBarr commented on #147
@cbarnardne Thank you for this feedback

I agree it would be appropriate and convenient to have those added to this article.

I was able to get this into the backlog for the Enterprise team. The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-09-21 23:06] AndreaBarr commented on #151
@d-kovacevic Thank you for this feedback

I agree it should be in that list.

I was able to get this into the backlog for the Enterprise team. The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-09-23 20:21] markaldridge opened #152 "Broken link on left hand navigation - Choose between MDM and Intune"
The link to Choose between MDM and Intune directs to an incorrect URL.
Currently it links to https://docs.microsoft.com/en-us/SecurityCompliance/choose-between-mdm-and-intune.md
I assume it's meant to link to this page.
https://docs.microsoft.com/en-us/office365/securitycompliance/choose-between-mdm-and-intune

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2018-09-24 17:43] robmazz commented on #147
I've updated this topic to include the "Post-incident report published" status and definition, as well as updating the topic for some formatting issues. After discussing with the product group team, we've decided not to include status/definition information on "False Positive" and "Information Unavailable" - these are typically edge cases and will not be normally displayed to customers. These are

[2018-09-24 17:45] robmazz commented on #147
Closing this issue per my previous comment and topic update today.

[2018-09-24 17:45] #147 closed

[2018-09-24 18:06] JoeDavies-MSFT commented on #124
@bernardlam Your link refers to a best practice for Active Directory Domain Services (AD DS) and SharePoint 2016. The article is for Azure AD and SharePoint Online, with only one level of nesting.

[2018-09-24 18:10] JoeDavies-MSFT commented on #26
Please use the feedback at the end of the article to not missing items. Thanks.

[2018-09-24 18:10] #26 closed

[2018-09-25 22:07] olivier-raynaut opened #153 "Microsoft Assesment tool IP addresse not listed"
Hi,

I am trying to use the Microsoft Network Assessment tool (https://www.microsoft.com/en-us/download/details.aspx?id=53885) in a secured environment in Europe and the IP address used by the tool it is not listed here and therefore blocked at the client.
Indeed the IP address is 13.107.8.2 and is required to connect to find the Skype relay server to use.

Can you please advise and/or adapt this

[2018-09-26 06:34] ConradIlgmann opened #154 "Giphy.com is missing"
Teams uses gifs from https://giphy.com/. Should be added to the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP address ranges](https://docs.microsoft.com/en-us/office365/enterpris

[2018-09-26 18:14] AndreaBarr commented on #154
@ConradIlgmann Thank you for this feedback.

I agree this should be added to the list.

I was able to get this into the backlog for the Enterprise team. The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-09-27 12:10] TomAafloen opened #156 "Broken link"
The link "Implementing password hash synchronization with Azure AD Connect sync" points to "https://docs.microsoft.com/en-us/azure/active-directory/active-directory-aadconnectsync-implement-password-synchronization", which gives a "404 - Page not found" error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 093db571-11e

[2018-09-27 13:54] sav169 opened #157 "Multiple Providers on web app"
I have a question. I want to use Azure AD as an authentication provider along with Windows Claims (NTLM) and with Forms authentication on the same web application for the following reasons
1) Windows NTLM auth (For Crawling purpose)
2) Forms authentication (Existing forms external users)
3) Azure AD auth provider (For authenticating with Azure AD which allows us to use MFA)
Is it possible to have

[2018-09-27 15:42] bakerm00 opened #158 "Multi geo and tenant sync settIngs"
Clearly call out if SPO tenant sync settings can be different in multi geo ??  Ie allow ODFB Mac sync

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18f3a2c9-0399-218d-cf9a-eb0f16fcbbb0
* Version Independent ID: da6ada6e-ce41-f772-74b8-144cf540d423
* Content: [Multi-Geo Capabilities in OneDrive and SharePoint Online in

[2018-09-27 17:15] AndreaBarr commented on #156
@TomAafloen Thank you for this feedback

I will make sure this link get fixed.

I was able to get this into the backlog for the Enterprise team. The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-09-27 18:07] AndreaBarr commented on #157
@sav169 Thank you for this feedback

I want to make sure you get this addressed promptly. Support can handle this to resolution.

I think the best way forward is if you can open a service ticket in your tenant so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v

[2018-09-27 18:15] AndreaBarr commented on #158
@bakerm00 Thank you for this feedback

I agree these sync settings should be clerified.

I was able to get this into the backlog for the Enterprise team. The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-09-27 18:15] #158 closed

[2018-09-28 15:31] anwarmahmood1 opened #159 "can I install both Azure Active Directory module V1 and Azure Active Directory Module V2 at the same time?"
can I install and use both the Azure Active Directory PowerShell for Graph module and the Microsoft Azure Active Directory Module for Windows PowerShell on the same computer at the same time?

I will use this on the Azure AD Connect server, which synchronises &gt;50K user accounts in a highly dynamic environment, so I *CANNOT* afford to take any risks!  Can you confirm that they will happily coexi

[2018-10-01 14:18] BilawalAsghar commented on #54
how i remove SAML 2.0 and add SAML 1.1 , please help.

[2018-10-01 18:02] sudheerbaisani opened #160 ""needs to" repeated twice"
https://docs.microsoft.com/en-us/office365/enterprise/install-and-run-idfix?redirectSourcePath=%2fen-us%2farticle%2fInstall-and-run-the-Office-365-IdFix-tool-f4bd2439-3e41-4169-99f6-3fabdfa326ac#idfix-software-requirements

"Needs to" word has repeated twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c937e8be-1696

[2018-10-01 18:55] JoeDavies-MSFT commented on #46
@takashi-moriyama I just tested this again with Azure module version 6.4.0 and it worked. I have added a note throughout that you need to ensure that the VM size must be supported in the region (location) in which you are deploying, as others have indicated. I have also added a section that describes a new ARM template to deploy this configuration.

[2018-10-01 19:15] AndreaBarr commented on #159
@anwarmahmood1 Thank you for this feedback

I want to make sure you get help ASAP. We aren't equiped for support here on the forums. I want to get you over to the Support team so that we can get this question answered for you. I undersatnd the importance on speed with this since you are mid-migration and have users waiting on you.

Here is a quick video on opening a ticket: https://www.youtube.com

[2018-10-01 20:57] JoeDavies-MSFT commented on #46
@takayakawano I just tested this again with Azure module version 6.4.0 and it worked. I have added a note throughout that you need to ensure that the VM size must be supported in the region (location) in which you are deploying, as others have indicated. I have also added a section that describes a new ARM template to deploy this configuration.

[2018-10-01 21:02] leov6 opened #161 "does the solution work with sharepoint extranet web application using Azure AD"
i followed the exact step here against our sharepoint 2013 web application (extranet zone) published using ADFS 3.0 and WAP.  but, after successful login at Azure AD, i get the web.config error at the https://extranet_SP_URL/_trust page.  any idea why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f079fa08-284c-3f14-b

[2018-10-02 08:21] BilawalAsghar commented on #62
dear All,

when i execute command Get-Policy, it asks for credentials, i enter my hotmail credentials,which has rights on application and is owner, but it says,
Invoke-RestMethod : {"odata.error":{"code":"Authentication_Unauthorized","message":{"lang":"en","value":"User was not found."}}}
At E:\Bilawal\MSGraphTokenLifetimePolicy.psm1:339 char:15
+     $result = Invoke-RestMethod @parameters -Conte

[2018-10-02 15:33] kaevans commented on #62
@BilawalAsghar your comment does not apply to the original issue, please open a new issue in the future.

The user configuring the SAML 1.1 policy must be a member of the directory and not a federated user. Create a new user in the directory with sufficient permissions and then configure an application while logged in as that user.

@denisebmsft  please close.

[2018-10-02 15:36] kaevans commented on #54
@BilawalAsghar follow the steps in the article in the order they are written. The PowerShell script shows how to remove the SAML 2.0 issuance policy and add a SAML 1.1 issuance policy.

@denisebmsft Please close.

[2018-10-02 19:36] vashxx opened #164 "typo"
There is a typo under subject: "At any time, you can check the blocked status of a user account with the following command:" It should be:

Get-MsolUser -UserPrincipalName &lt;UPN of user account&gt; | Select DisplayName,BlockCredential

Also might be worth mentioning needing to run this after connecting to Powershell&gt; Connect-MsolService

---
#### Document Details

⚠ *Do not edit this section.

[2018-10-02 20:19] #160 closed

[2018-10-03 07:52] BilawalAsghar commented on #62
@Kaevans oh my God, you make my day man, it worked as you mentioned. thanks alot.

[2018-10-03 13:45] lachlann562 opened #166 "Teams fails to join meetings with "oops you've been disconnected""
After several weeks of investigation on my own and with microsoft support, we identified that the reason meeting were dropping (but not other calls) is that there was a problem with port mapping. the resolution was to setup a port forwarding rule on the router to my computer.
Audio ports: UDP 50000-50019
Video ports: UDP 50020-50039
App sharing ports: UDP 50040-50059

support case # was 11072418

[2018-10-03 16:37] #164 closed

[2018-10-03 18:10] AndreaBarr commented on #161
@leov6 Thank you for this feedback

I agree with Guptas that this should work. If double checking your reply URL doesn't get this to work then the best thing I can have you do is contact Support so that we can see exactly what is going on.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you don't mind please keep us posted here on the resolution and I re

[2018-10-03 18:10] #161 closed

[2018-10-03 18:36] AndreaBarr commented on #166
@lachlann562 Thank you so much for sharing this information

I'll make sure we get this information added to the docs.

I was able to get this into the backlog for the Enterprise team. The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-04 11:20] Lady-MCSE opened #167 "ClientSideAssets"
Another more recent article seems to suggest that "clientsideassets" is also a default public origin.
 It is not mentioned in this article.  Reference -  https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/get-started/hosting-webpart-from-office-365-cdn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2836d55d

[2018-10-04 17:48] AndreaBarr commented on #167
@Lady-MCSE Thank you for this feedback

I agree we need to clarify "clientsideassets". I'm going to get this over to the Enterprise team for investigation and clarification.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-04 19:05] robmazz commented on #156
This link has been updated and fixed - thanks for reporting.

[2018-10-05 04:35] ScapyArtGroup opened #168 "ScapyArtGroup"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b476eef-d177-d194-e569-5e2ab7b1be27
* Version Independent ID: d9fcd02f-86a4-eb7d-3076-222faf4380e6
* Content: [Manage Office 365 with Office 365 PowerShell](https://docs.microsoft.com/en-us/office365/enterprise/powershell/manage-office-365-with-offic

[2018-10-05 10:25] hkusulja opened #169 "Powershell parameters typo"
There is a typ in powershell parameter commands,
instead: Select-Object -TenantId
should be: Select-Object TenantId

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c34e3138-8c1d-0a14-f730-416c9767cf24
* Version Independent ID: 2c01a8e7-0b6f-e44d-2e4c-bab9c0f5beda
* Content: [Manage Office 365 tenants with Windows PowerS

[2018-10-05 16:52] jat27516fi opened #170 "Is this page being deprecated as a result of the move from xml and rss feeds for o365 ips and url changes to the rest api web services ??"
Last update to this page is dated 7/17/2018 and the sample pac files are not current and contain info that is NOW incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8762d73c-32fc-a4f9-162a-b81ae4052ea3
* Version Independent ID: 554cc99d-b929-8db0-7ab7-0f666438e8cf
* Content: [Managing Office 365 endpoints](https

[2018-10-05 16:56] AndreaBarr commented on #169
@hkusulja Thank you for finding this

I will get this over to the Enterprise team so we can fix this typo.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-05 17:01] AndreaBarr commented on #170
@jat27516fi  Thank you for you feedback

I agree the information needs to have current sample pac files. I will get this in front of the Enterprise team so they can investigate this and get it updated to the current information.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update

[2018-10-05 17:16] #168 closed

[2018-10-06 06:15] anwarmahmood1 commented on #159
I opened an incident with Microsoft; a Microsoft support engineer covering cloud identity confirmed "there won’t be any problem in installing the 2 PowerShell modules in the same computer. This is usually how customers use PowerShell because depending to the cmdlet you are using you need to use the Msol or the AzureAD."

Hence, I would recommend at the end of "What do you need to know before you b

[2018-10-07 04:04] stemy-msft opened #172 "Incorrect $domainHost?"
Shouldn't this line:
$domainHost="&lt;domain host name, such as litware for litwareinc.onmicrosoft.com&gt;"
be this?
$domainHost="&lt;domain host name, such as litwareINC for litwareinc.onmicrosoft.com&gt;"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c551eb1-7ac5-cb02-cd1b-d67ca3886d85
* Version Independent ID: fb6

[2018-10-08 09:09] Comde-IT opened #173 "Does not work for Office 365 Germany"
Step 2 does not work for account under Office 365 Germany. I can connect to Exchange by changing the server adress, but that option is missing here. Please add the info or name an alternative.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbb1fe83-c1b3-3176-4d61-fe4f3ce1d598
* Version Independent ID: c89f295b-4f00-c2c

[2018-10-08 16:15] AndreaBarr commented on #159
@anwarmahmood1 Thank you for giving us feedback on what you learned from support

I will get this over to the Enterprise team so that we can make sure to get this information added to the article.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-08 16:31] AndreaBarr commented on #172
@stemy-msft Thank you for this inquiry.

I am not sure if it's supposed to be litware or litwareINC. Let me get this over the to the Enterprise team for investigation and updating.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-08 16:34] AndreaBarr commented on #173
@Comde-IT Thank you for this information.

I will get this over to the Enterprise team so we can get the instructions for the Germany 365 accounts updated.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-09 13:18] pavelrozenberg opened #174 "Line 125 explination"
It seems that this row is for CRLs.
Why does it have www.microsoft.com included?
Also why does it require port 443?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP address ranges](https:

[2018-10-09 19:03] AndreaBarr commented on #174
@pavelrozenberg Thank you for this feedback.

I don't have the answers for this but I'll get this over to the Enterprise team so we can get answers for you.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-10 13:12] adammodlin commented on #72
It's mentioned above "Microsoft needs to configure your Exchange Online tenant for Multi-Geo support. This one-time configuration process is triggered after you order Multi-Geo and the licenses show up in our tenant." but there is no link or direction on how to enable this for your tenant. Am I missing that information or is it not on the page?

[2018-10-10 13:13] adammodlin opened #175 "Where to go to enable Multi-Geo support?"
It's mentioned above "Microsoft needs to configure your Exchange Online tenant for Multi-Geo support. This one-time configuration process is triggered after you order Multi-Geo and the licenses show up in our tenant." but there is no link or direction on how to enable this for your tenant. Am I missing that information or is it not on the page?

---
#### Document Details

⚠ *Do not edit this secti

[2018-10-10 18:17] cowitkow opened #177 "Skype for Business and Microsoft Teams ID #12"
dev.teams.microsoft.com is an Azure CDN. Routing this via PAC against ExpressRoute will not work, as ER block CDNs (https://docs.microsoft.com/en-us/azure/expressroute/expressroute-faqs). Needs to be excluded in particular for ER customers for AppStudio to work in Teams

[2018-10-11 16:30] chrisda commented on #175
@adammodlin I added the following sentence: To order Multi-Geo, contact your Microsoft representative. For more information, see https://aka.ms/Multi-Geo.

Thanks for the feedback.

[2018-10-11 16:30] #175 closed

[2018-10-11 19:29] JohnGGeo commented on #166
@lachlann562 The above ports were listed under Default Optional Notes: Needed when there are users are hosted both in Skype for Business on premises and online (Hybrid). No changes should be required for docs.

[2018-10-12 16:10] #72 closed

[2018-10-13 08:33] NeeranjanShettar opened #180 ""Office 365 authentication and identity" Content missing which is suppose to be as per https://docs.microsoft.com/en-us/office365/enterprise/hybrid-modern-auth-overview"
"Office 365 authentication and identity" Content missing which is suppose to be as per https://docs.microsoft.com/en-us/office365/enterprise/hybrid-modern-auth-overview

Have it checked and update accordingly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID:

[2018-10-13 17:59] bernardlam commented on #124
HI Joe, it was also my understanding that one level of nesting is OK. Would it make sense to be more explicit in the article to say we're only recommending one level of nesting (or state that we don't recommend deep nesting)?

[2018-10-15 06:21] kazshi opened #181 "IP address for secure.aadcdn.microsoftonline-p.com"
I have a customer who would like to know if IP address is static and its range to add to NSG in Azure - where/how can I get information?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP a

[2018-10-15 14:15] LuigiBruno opened #182 "Improving Italian translation"
Is there any way to suggest improvements for the automated translation into Italian language for this page or to manually fix it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbb1fe83-c1b3-3176-4d61-fe4f3ce1d598
* Version Independent ID: c89f295b-4f00-c2c0-c75f-75fa50ecda65
* Content: [Connect to Office 365 PowerShel

[2018-10-15 20:58] cowitkow commented on #177
This is for the general URLs and IPs article for O365 (https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges) in relation to https://icm.ad.msft.net/imp/v3/incidents/details/79728857/home. Teams PG confirmed the limitations after a back and forth with the ExpressRoute folks.

[2018-10-15 21:28] denisebmsft commented on #152
@markaldridge and @AndreaBarr I believe this is fixed. Thank you so much for your feedback and help.

[2018-10-15 21:28] #152 closed

[2018-10-15 21:58] AndreaBarr commented on #180
@NeeranjanShettar Thank you for this feedback

I will make sure to get this over to the Enterprise team for investigation.

 The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-16 08:55] chaitraliraut105 opened #183 "Grammer mistake"
please correct this grammar error "users' passwords "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0157c20-f401-82c5-eede-67c6505a688d
* Version Independent ID: 02e0575c-193a-3610-5496-e9076d51df3f
* Content: [Understanding Office 365 identity and Azure Active Directory](https://docs.microsoft.com/en-us/office365/en

[2018-10-16 12:38] JeremyTBradshaw opened #184 "Need Info on Traffic Direction (Source(s) / Destination(s))"
This information used to include what source / destinations go along with these IP address ranges and URL's.  For example, the "Exchange Online" IP address ranges...:

Some of these are required to be allowed to connect inbound to customers' external-facing Exchange servers.  Then, some of these are required to be allowed for customers' users to connect outbound to them.  These two requirements ar

[2018-10-16 14:51] JoeDavies-MSFT commented on #134
@dagroll This is fixed. Thanks for letting us know.

[2018-10-16 14:52] JoeDavies-MSFT commented on #136
@QUIPQUOPRO This is fixed. Thanks for letting us know.

[2018-10-16 14:54] JoeDavies-MSFT commented on #133
@JeremyTBradshaw Yes, this is the replacement for the previous article on support.microsoft.com.

[2018-10-16 15:05] JoeDavies-MSFT commented on #130
@jothomp The duplicate section 21 has been removed.

[2018-10-16 15:27] JoeDavies-MSFT commented on #132
@yamineT You are correct and the example using Get-SPWeb has been removed. Thanks for letting us know.

[2018-10-16 16:36] AndreaBarr commented on #134
@dagroll It looks like Joe was able to fix this. I am going to close this issue. If the issue is not resolved please re-open this issue.

[2018-10-16 16:36] #134 closed

[2018-10-16 16:36] AndreaBarr commented on #136
@QUIPQUOPRO It looks like Joe fixed this issue. I am going to close this issue. If the issue is not resolved please re-open this issue.

[2018-10-16 16:36] #136 closed

[2018-10-16 16:38] AndreaBarr commented on #133
@JeremyTBradshaw  It looks like Joe was able to answer the question about this link. I am going to close this issue. If this doesn't answer your question please re-open this issue.

[2018-10-16 16:38] #133 closed

[2018-10-16 16:40] AndreaBarr commented on #130
@jothomp It looks like Joe fixed this duplicate section issue. I am going to close this issue. If this doesn't resolve the issue please re-open this issue.

[2018-10-16 16:40] #130 closed

[2018-10-16 16:41] AndreaBarr commented on #132
@yamineT It looks like Joe has fixed this. I am going to close this issue. If this doesn't resolve your issue please re-open this issue.

[2018-10-16 16:41] #132 closed

[2018-10-16 16:53] JoeDavies-MSFT commented on #159
@anwarmahmood1 The article has been updated to include your information suggestions. Thanks for the assistance and the push.

[2018-10-16 16:53] #159 closed

[2018-10-17 14:46] JoeDavies-MSFT commented on #180
@NeeranjanShettar A fix to the original article at https://docs.microsoft.com/en-us/office365/enterprise/hybrid-modern-auth-overview is in progress.

[2018-10-17 14:48] #46 closed

[2018-10-17 15:16] sav169 commented on #157
I opened a ticket with O365 support but they closed it saying its a on-prem issue.
The question that I would like to be addressed is step 4 in this article. For the sign-in page, can we use it with a custom login page ? as the article says we have to use "/_trust/".
If we have to use forms authentication also, then we cannot put "/_trust/"

[2018-10-17 19:02] AndreaBarr commented on #157
@sav169 I don't have an answer for you so let me get this over the Enterprise team so we can get the appropriate answers.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-17 22:17] JoeDavies-MSFT commented on #170
@jat27516fi The update to the PAC files is in progress.

[2018-10-17 22:29] #166 closed

[2018-10-17 22:41] JoeDavies-MSFT commented on #151
@d-kovacevic As of 10/2, the XML files are no longer being maintained and do not reflect the changes for the October update. Please use the JSON formatted list going forward, which now includes o365weve.com.

[2018-10-17 22:41] #151 closed

[2018-10-17 22:52] JoeDavies-MSFT commented on #173
@Comde-IT  I added tips to both step 2 sections with a link to a separate article that contains the instructions to connect to Office 365 Germany. Thanks for your feedback.

[2018-10-17 22:52] #173 closed

[2018-10-18 18:58] AndreaBarr commented on #181
@kazshi Thank you for this feedback

I am not sure where the information for NSG in Azure is. Let me get this over to the Enterprise team so we can get some answers for you.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-18 19:09] AndreaBarr commented on #182
@LuigiBruno Thank you for this feedback

I am not sure what the best way to suggest improvements for the Italian language automated translation. Let me get this over to the Enterprise team so this can be handled appropriately.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update th

[2018-10-18 19:19] AndreaBarr commented on #183
@chaitraliraut105 Thank you for this feedback

I created a pull request to fix that grammar. It's now waiting to be reviewed and merged.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-18 19:30] JoeDavies-MSFT commented on #135
@chwilfing Yes, you are correct. This list does not at this time include the Intune endpoints. It it primarily for Office 365.

[2018-10-18 20:11] chwilfing commented on #135
Does that mean it will not be part of the api?

Is there a way to get that information from an api? are there any changes?

[2018-10-18 21:54] #183 closed

[2018-10-19 18:20] NeeranjanShettar commented on #180
Thanks, Joe.. How about for this article where "Office 365 authentication and identity" Content missing which is suppose to be as per https://docs.microsoft.com/en-us/office365/enterprise/hybrid-modern-auth-overview ? is it something Enterprise team are going to modify the statement in the original article ?

Thanks in advance.

[2018-10-19 19:05] LuigiBruno commented on #182
@AndreaBarr Thank you.

[2018-10-24 09:57] Larryngolog opened #193 "Missing information for SharePoint Hybrid Site feature traffic"
When SharePoint Hybrid Site feature is enabled SP farm is sending POST requests to a service located in the OneDrive sites namespace. (https://GUID-my.sharepoint.com/_vti_bin/client.svc/ProcessQuery). This information is missing from the documentation - to allow traffic from SP farm we would need information which service on local SP farm is posting the request, what exactly URL is beind used (loo

[2018-10-24 10:09] Larryngolog opened #194 "Missing information for Office for PC"
There used to be dedicated page for Office ProPlus apps for PC, but now the page is gone and there is no information for ProPlus on this page. When customers want to deploy ProPlus they do not know which exactly end points are needed. We need for PC the same page that is available for Mac https://docs.microsoft.com/pl-pl/office365/enterprise/network-requests-in-office-2016-for-mac.

---
#### Szcze

[2018-10-24 22:56] JoeDavies-MSFT commented on #154
@ConradIlgmann I have forwarded your request to the product team for their consideration in the next update.

[2018-10-25 13:19] AndreaBarr commented on #193
@Larryngolog Thank you for this feedback

We apricate you pointing out where we can improve the documentation. I will get this information over to the Enterprise team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-25 13:22] AndreaBarr commented on #194
@Larryngolog Thank you for this feedback

I will get this information over to the Enterprise team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-25 14:47] #154 closed

[2018-10-25 16:10] JoeDavies-MSFT commented on #194
@Larryngolog I have forwarded your question to the product team owners, who will re-open this issue when they provide an answer.

[2018-10-25 16:14] JoeDavies-MSFT commented on #181
@kazshi I have forwarded your question to the product team owners, who will reopen this issue when they provide an answer.

[2018-10-25 16:15] JoeDavies-MSFT commented on #174
@pavelrozenberg I have forwarded your question to the product team owners, who will reopen this issue when they provide an answer.

[2018-10-25 16:15] #174 closed

[2018-10-25 16:16] JoeDavies-MSFT commented on #184
@JeremyTBradshaw I have forwarded your question to the product team owners, who will reopen this issue when they provide an answer.

[2018-10-25 16:16] JoeDavies-MSFT commented on #193
@Larryngolog I have forwarded your question to the product team owners, who will reopen this issue when they provide an answer.

[2018-10-25 16:16] #193 closed

[2018-10-25 17:05] triplanedave commented on #135
I haven't seen that Intune IP's are programmatically available via API.  But, the O365 IP's are documented on https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges
Or you can use the web service to stay up to date - https://docs.microsoft.com/en-us/office365/enterprise/office-365-ip-web-service.  I'll keep looking for the Intune IP's and see if we have that info availabl

[2018-10-25 18:58] triplanedave commented on #135
https://docs.microsoft.com/en-us/intune/network-bandwidth-use

[2018-10-25 20:45] Larryngolog commented on #194
Hi @pandrew1. I'm not sure where is this information stated. Do you mean that if customer wants to use just Office 365 ProPlus without using any other cloud services they need to allow all required addresses for Microsoft 365 Common and Office Online? It seems like it's too much just to use ProPlus and regulated customer oppose to having opening to so many addresses, especially if they do not want

[2018-10-26 03:52] dcaddick opened #195 "Modern Authentication - Supported Clients?"
Hi,

Just leaving this as macOS & iOS without any reference to version numbers is a bit simplistic.
There is a reasonable expectation that in most docuemtation there are specific "System PreReqs" called out.

Just like this other reference:
https://www.microsoft.com/en-us/microsoft-365/blog/2015/11/19/updated-office-365-modern-authentication-public-preview/ but again it was last edited over 12 mon

[2018-10-26 17:35] #156 closed

[2018-10-26 17:37] #169 closed

[2018-10-26 17:41] denisebmsft commented on #182
@LuigiBruno thank you for the feedback. Our localization team is looking into this.

[2018-10-26 17:41] #182 closed

[2018-10-26 18:30] JoeDavies-MSFT commented on #124
@bernardlam Based on my internal Microsoft research, there are no issues with nesting groups beyond a single level of nesting for Azure AD groups and SharePoint Online. A statement recommending against its use would not be appropriate.

[2018-10-26 18:30] #124 closed

[2018-10-26 18:31] AndreaBarr commented on #195
@dcaddick Thank you for this feedback

I am not sure if there is another resource where this is split out. Let me get this over to the Enterprise team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-29 10:33] sav169 commented on #157
Thanks for taking this to the Enterprise team. I would eagerly wait to hear back on this.

[2018-10-29 12:27] gnerd opened #196 "federation required - or not?"
The article states "◦Your SIP domain is added as a Federated domain in Office 365" - later you state "◦Your identity configurations are any of the types supported by AAD Connect (such as password hash sync, pass-through authentication, on-premises STS supported by Office 365, et cetera.)" so is federation requried or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2018-10-29 18:01] AndreaBarr commented on #196
@gnerd Thank you for this feedback

I am not sure if federation is required or not. Let me get this over to the Enterprise team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-29 20:11] randallrking opened #197 "Need exact version numbers"
[Enter feedback here]
As a previous user commented, I would like to know specific version numbers of the software where Modern Authentication was added. For instance, was it in Office 2016 for Mac from the initial launch, or was it added in a specific version later (e.g. 15.30)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2018-10-30 00:46] kazshi commented on #181
@JoeDavies-MSFT Do you mind if I reopen this to track the issue (since I have no way to track this issue other than here)?  or Would you please tell me whom I should contact for the issue?  Thanks

[2018-10-30 15:17] macaneese opened #198 "O365 URLs and IP address ranges under Prereq's needs fixed"
The SFB specific prereq's contains outdated info / bad link for O365 URLs and IP address ranges: "All SFB Front Ends must have connections outbound to the internet, to Office 365 Authentication URLs (TCP 443) and well known certificate root CRLs (TCP 80) listed in Rows 1 and 2 of the 'Office 365 authentication and identity' section of Office 365 URLs and IP address ranges."

---
#### Document Deta

[2018-10-30 16:06] AndreaBarr commented on #197
@randallrking Thank you for this inquiry.

I don't have the version numbers so let me get this request over to the Enterprise team.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-30 16:11] AndreaBarr commented on #198
@macaneese Thank you for pointing this out

I will get these prereq's over to the Enterprise team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-10-30 19:30] v-MarioMigliacio opened #199 "Broken links"
Hey, just a heads up - there are a LOT of 404 broken links on this page. Googled a couple of them and found them, but I think this is a great page- just needs some care!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 093db571-11e5-adc8-8826-3485e79ccbec
* Version Independent ID: 0c7bd2ea-f4cf-bd2a-56ef-d5f57786c5be
* C

[2018-11-01 11:32] westerdaled opened #201 "Guidance on when to install AzureADPreview modules"
I am refreshing some Developer laptop installation documentation for a colleague. Previously, I ran  Install-Module -Name AzureADPreview  however, I wonder this is only appropriate If I need the (latest) support for graph API xyz . Can you please advise?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbb1fe83-c1b3-3176

[2018-11-01 18:41] AndreaBarr commented on #199
@v-MarioMigliacio Thank you for pointing this out

I will get this broken links information over to the Enterprise team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-01 19:00] AndreaBarr commented on #201
@westerdaled Thank you for this inquiry

I am not sure on the answer to this. Let me get this over to the Enterprise team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-01 19:19] robmazz commented on #199
@v-MarioMigliacio - thanks for catching these broken links, the topic has been updated and the broken links are fixed. And please remember to Bing instead of Google! :)

[2018-11-01 19:19] #199 closed

[2018-11-01 22:19] JoeDavies-MSFT commented on #201
@westerdaled Please ask this same question as a comment on this page: https://www.powershellgallery.com/packages/AzureADPreview/2.0.2.5. The product team for the Azure AD Preview PowerShell module should be able to answer your question. Thanks

[2018-11-01 22:19] #201 closed

[2018-11-02 08:42] jopgommans opened #206 "TraceTCP link not working"
It seems the TraceTCP link is not functioning, might be good to look into that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45822051-b802-c3da-01c2-88abb5482ca2
* Version Independent ID: 3b6670b0-6eb8-9ab1-fd3d-02c833d2cdbc
* Content: [Office 365 performance tuning using baselines and performance history](https://doc

[2018-11-02 08:53] jopgommans opened #207 "More tips, not just on migration"
The essence of this article is great, and adding tips to improve speeds is a great approach. I notice that most of the Exchange Online are related to migration however. I would suggest adding some general tips such as:
- Look into mailbox caching and choose the appropriate options (caching period, shared mailbox caching yes/no)
- Verify that the DNS lookup for outlook.office.com enters the MS-data

[2018-11-02 13:41] sbdoroff opened #210 "Power BI in Office 365"
Hello,

Since Public Peering is now deprecated for new ExpressRoute connections (https://docs.microsoft.com/en-us/azure/expressroute/expressroute-circuit-peerings#azure-public-peering) we are getting questions about Power BI's traffic path in Microsoft Peering.  After connecting with Power BI teams, they state that it is an Office 365 product.  Would Power BI be included in this authorization and

[2018-11-02 15:58] stevep4 opened #211 "This article appears to have been superseded?"
The following article:

https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/sharepoint-on-premises-tutorial

appears to supersede this article... it describes virtually the same scenario, without the need to create a non-gallery app and play with powershell... there is an enterprise app now pre-built to take out all the hard work... and it's free (the solution in this article isn't f

[2018-11-05 04:10] mrik23 opened #212 "Missing IPs for Teams"
Looking at the traffic during meeting or call in Teams, and I see most of the traffic being on IP like 52.113. and 52.114. which are not listed at all here. And I check even from the JSON on web service, it's missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independ

[2018-11-05 16:13] Forcide opened #213 "Office 365 Roadmap link dead"
The link to the Office 365 Roadmap is not working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b49fa8b-3555-bab8-6a91-417af55f6b5c
* Version Independent ID: ed87643c-8ee0-f937-8b2c-975d0be7bf7c
* Content: [Manage Office 365 Groups with PowerShell](https://docs.microsoft.com/en-us/office365/enterprise/manage-office-

[2018-11-06 11:08] mrik23 commented on #212
OK sorry these IPs are withing 52.112.0.0/14.

However I'm seeing traffic to 40.70.46.15 which doesn't fall in any given range.

[2018-11-06 13:03] Ramonin opened #214 "I believe there are updates to both Regions and workloads"
Please update this article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18f3a2c9-0399-218d-cf9a-eb0f16fcbbb0
* Version Independent ID: da6ada6e-ce41-f772-74b8-144cf540d423
* Content: [Multi-Geo Capabilities in OneDrive and SharePoint Online in Office 365](https://docs.microsoft.com/en-us/office365/enterprise/multi-ge

[2018-11-06 15:49] JoeDavies-MSFT commented on #212
@mrik23 I have forwarded your feedback to the product team that maintains the list of IP addresses for Teams. They will incorporate your request as needed into the next update. Thanks for letting us know.

[2018-11-06 15:49] #212 closed

[2018-11-06 20:17] JoeDavies-MSFT commented on #206
@jopgommans This link has been corrected and updated. Thanks for letting us know.

[2018-11-06 20:17] #206 closed

[2018-11-06 21:17] kelleyvice-msft commented on #210
Steven,

Thanks for reaching out. I will touch base with my product team contacts and get some information about your question.

Thanks,
Kelley

[2018-11-07 19:11] MSFTTracyP commented on #211
https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/sharepoint-on-premises-tutorial is an older article, in fact. 'Using Azure AD for SharePoint Server Authentication' is the most comprehensive article.

[2018-11-07 19:20] MSFTTracyP commented on #157
@sav169 Starting from the top, this is a single web-app with FBA configured in the web.config, yes? Also, please tell me what are your Zone URLs for SharePoint Server? It also seems like if you use NTLM + the trusted Azure AD IdP without using FBA, this works, correct? When you add back, Forms-Based Authentication, then any use of any Zone URL results in the pop of the FBA prompt for credentials,

[2018-11-07 22:05] AndreaBarr commented on #207
@jopgommans Thank you for these suggestions.

I am going to get this over to the Enterprise team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-07 22:33] AndreaBarr commented on #211
@stevep4 Did what Tracy provided resolve this issue?

[2018-11-08 00:12] AndreaBarr commented on #213
@Forcide Thank you for pointing this out

I will get this link information to the Enterprise team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-08 00:38] AndreaBarr commented on #214
@Ramonin Thank you for pointing this out

I will get this information about the updates to the Enterprise team for investigation.

The team will get this prioritized into a sprint plan. Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-08 07:55] NeeranjanShettar commented on #180
Is there any update ?

[2018-11-08 10:56] stevep4 commented on #211
I respectfully disagree that this article is the more comprehensive.

If you follow this article without realising the other one exists, then you are left thinking you need to create a non-gallery app, which is an Azure AD Premium only thing.

If you're on Azure AD Basic, like most Education users might be, then you're left thinking you are not able to use this SAML 1.1 feature (without spending a

[2018-11-08 11:06] matthewjlevy opened #216 "Broken Link"
Hi Joe and the documentation team, this a great series of articles and I had seen the TLG PowerPoint from your CAAB about a year ago, however, the link in all the docs in this series to http://aka.ms/catlgstack take me to an empty or non-existent OneDrive location. Can you confirm the link please?

PS: Great show with you, Brenda Carter and "theCloudArchitects" https://thearchitects.cloud/2018/11/

[2018-11-08 13:24] Key-international opened #217 "Key International academy"
Www.keyinternational.academy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6101179a-5d2d-01a9-a575-7dca1fdd7d55
* Version Independent ID: d442eef1-d893-52d5-2309-07f9e6bb2059
* Content: [Get your organization ready for Office 365 Enterprise](https://docs.microsoft.com/en-us/office365/enterprise/get-your-organization-r

[2018-11-08 16:08] JoeDavies-MSFT commented on #216
@matthewjlevy The link has been corrected and updated. Thanks for letting us know about the broken link and the kudos on the content and the Cloud Architects podcast. :)

[2018-11-08 17:07] #217 closed

[2018-11-08 22:57] randallrking commented on #197
I’m not sure how Android was brought into the picture.

For macOS, it can be any version upon which Microsoft Office will run. Microsoft has supported different versions of macOS for Office over the years. I can’t see how your question is relevant to my question. At some point in Microsoft Office for Mac, modern authentication (ADAL) was added. I’d like to know when. That question seems irrelevant

[2018-11-09 07:54] matthewjlevy commented on #216
That "One" TLG stack is a thing of beauty!

[2018-11-09 15:41] JoeDavies-MSFT commented on #216
@matthewjlevy Thanks! The "One that rules them all!" :)

[2018-11-09 19:17] sathiathirumal opened #219 "Link broken"
The link for text "Microsoft Cloud Identity for Enterprise Architects" is broken.
It points to https://go.microsoft.com/fwlink/p/?LinkId=828642 which leads to a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 919dff18-2ca8-ded4-7b64-be7b05657dfe
* Version Independent ID: d211dc9d-f8a9-1c94-4956-c4fe97cddff3
* Conte

[2018-11-12 15:39] #216 closed

[2018-11-12 23:02] mealiffe opened #224 "Need to be clearer on the first two statements"
The first two statements in this doc state that load testing isn't permitted, and then state that it's strongly discouraged - these are two very different things. I'd suggest changing the "strongly discouraged" wording to "isn't permitted" so there is consistency of messaging.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2018-11-13 22:29] MSFTTracyP commented on #211
Hm. Steve. The last time I saw https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/sharepoint-on-premises-tutorial, it included information that used the ACS (which is not going to work, long term for customers) but I'm not seeing that now and it's been updated, so you have a good point here. Let me see what I can do (if anything). I'll look into this.

[2018-11-14 10:01] lewislivingstone opened #227 "Broken Links"
Hi,
The following links appear to be broken:
- "attributes synchronized to Azure Active Directory by Azure AD Connect." under Directory Cleanup Tasks
-  "Prepare for directory synchronization." under "Add an alternative UPN Suffix for AD DS"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c60ee789-fce6-6c95-150d-be4ae89

[2018-11-14 10:04] lewislivingstone opened #228 "Broken Link"
Hi,
The following link is broken:
"Integrating your on-premises identities with Azure Active Directory."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79589db3-4bf5-e940-0410-75d5f0ff97b8
* Version Independent ID: e7980b96-bab3-981e-2da8-6e1bdde9ba31
* Content: [Prepare a non-routable domain for directory synchronizat

[2018-11-14 18:50] Oatlad opened #229 "Remove links to paid content"
Stop trying to sell LinkedIn video content in the user guides for the products I am already paying for....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0157c20-f401-82c5-eede-67c6505a688d
* Version Independent ID: 02e0575c-193a-3610-5496-e9076d51df3f
* Content: [Understanding Office 365 identity and Azure Active Dir

[2018-11-15 21:14] UpsilonB opened #230 "Videotraniing url broken"
The url to the videotraining is broken. It links to a page that no longer exists.

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

* ID: c937e8be-1696-c315-a93b-88f083279644
* Version Independent ID: c0c3d253-4bfe-1750-58a1-4d8f4a1e68d6
* Content: [Install and run the Office 365 IdFix tool](https://docs.microso

[2018-11-16 17:54] qwirk opened #231 "MORE>Directory Synch not as indicated in this document"
The first panel now has this after More&gt; Directory Synchronization:

Active Directory preparation
Active Directory synchronization allows your company’s administrators to continuously sync your existing on-premises user and group accounts with Azure Active Directory.
Microsoft Azure Active Directory Connect tool can be used to setup Active Directory Synchronization
Download Microsoft Azure Acti

[2018-11-18 09:12] aglasson commented on #227
I've also noticed the "Prepare for directory synchronization"[https://go.microsoft.com/fwlink/p/?LinkId=525430] link is broken on a ton of Microsoft documentation websites.

[2018-11-19 13:28] Bernskov opened #232 "Missing sender IP"
You are sending inbound mail from 40.107.0.0/16 but only 40.104.0.0/15 is mentioned in the Docs.
You should update the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP addre

[2018-11-19 16:21] JoeDavies-MSFT commented on #232
@Bernskov I have forwarded this information to the product team, who will evaluate and update the address ranges as needed in the next update. Thanks for letting us know.

[2018-11-19 16:21] #232 closed

[2018-11-20 05:54] patros opened #233 "Non-Microsoft controlled content hosted on some of the above endpoints"
For example azureedge.net is used for Azure CDN endpoints. Meaning anyone in the world can create a something.azureedge.net CDN profile and host whatever they like.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Conten

[2018-11-20 05:58] patros commented on #233
Sorry, title should have read something about the listing being a bit misleading. i.e. the *.azureedge.net item is "Microsoft Stream - unauthenticated". It could be more specific which would be ideal. i.e. msstream1.azureedge.net or whatever it needs to be.

[2018-11-21 01:54] SHIMSOFT opened #234 "Facebook や YouTube など Microsoft 社以外のアドレス識別について"
JSON 形式でダウンロードしたデータなどでは、Facebook や YouTube など Microsoft 社以外の URL も含まれていました。
これらのサードパーティ URL を JSON 系式データ内からピックアップする方法があれば教えてください。
Microsoft 社以外のどこのアドレスを利用する可能性があるのかなどの一覧を取りたいためです。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 8762d73c-32fc-a4f9-162a-b81ae4052ea3
* Version Independent ID: 554cc99d-b929-8db0-7ab7-0f666438e8cf
* Content: [Office 365 エン

[2018-11-21 12:19] bally-singh opened #235 "Exchange Online certificate"
Exchange Online relies on TLS by default. In the Exchange Online section is it possible to add a section for the following URL's:

ocsp.globalsign.com
crl.globalsign.com
secure.globalsign.com

https://docs.microsoft.com/en-us/office365/securitycompliance/exchange-online-uses-tls-to-secure-email-connections#prepare-for-the-new-exchange-online-certificate

---
#### Document Details

⚠ *Do not edit t

[2018-11-21 14:50] samualblair opened #236 "No AAAA records are available for outlook.office365.com"
No AAAA records are available for outlook.office365.com

This prevents some users from accessing outlook.office365.com when on an IPv6 only network (such as Comcast when not running dual-stack). In addition documentation would suggest that there should be AAAA records available for this site/service.

**Per documentation the following IP (specifically ipv6) ranges could/should be used:**
[code]

B

[2018-11-21 16:08] harbars commented on #211
yup, the second article was updated in August and no longer requires the use of ACS. the use of the Gallery is certainly something that should be promoted. Not that doing it without the gallery config isn't valid, but as mentioned above requires AD premium (in this scenario just to translate a saml token)

[2018-11-21 21:10] AndreaBarr commented on #219
@sathiathirumal Thank you for pointing this out

I will get this broken link information over to the Enterprise writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-21 21:46] AndreaBarr commented on #230
@UpsilonB Thank you for pointing this out.

I will get this broken link information over to the Enterprise writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-21 21:56] AndreaBarr commented on #229
@Oatlad Where are the paid links? We are not seeing them but need this information so we can escalate this issue and get them addressed.

[2018-11-21 22:07] AndreaBarr commented on #231
@qwirk Thank you for pointing this out

I will get this updated information over to the Enterprise writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-21 22:09] AndreaBarr commented on #224
@mealiffe Thank you for this suggestion

I will get this wording suggestion over to the Enterprise writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-21 22:17] AndreaBarr commented on #235
@bally-singh Thank you for this feedback

I'll get this url addition request over to the Enterprise writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-21 22:20] AndreaBarr commented on #236
@samualblair Thank you for this feedback

I'll get this request for the addition of the AAAA records to be included over to the Enterprise writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-21 22:41] AndreaBarr commented on #234
@SHIMSOFT Thank you for this feedback

I am getting this informaiton over to the Enterprise team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-22 09:44] syuu2017 opened #237 "I met error when doing 「6.Run these commands to connect to Exchange Online」"
If I do 1→6、there will be success.
But if I do 1→2→3→4→5→6、then i will meet error as contents below.

PS C:\Users\Administrator&gt; $exchangeSession = New-PSSession -ConfigurationName Microsoft.Exchange -ConnectionUri "https://outlook.office365.com/powershell-liveid/" -Credential $credential -Authentication "Basic
" -AllowRedirection
New-PSSession : [outlook.office365.com] リモート サーバー outlook.office

[2018-11-22 09:45] syuu2017 commented on #237
sorry, I didn't write the contents well.

[2018-11-23 13:21] jordi-j opened #238 "Typo"
There's a typo at the top of the document, one of the links is a missing "t" in organization: "Common attacks and Microsoft capabilities that protect your organization".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 096f9573-ba23-b0a0-23dc-7b0eb57a17d8
* Version Independent ID: 45643fe7-700e-8eca-b7b9-563327472d6b
* C

[2018-11-25 23:36] jcgithubdeveloper opened #239 "Developers"
Can you please help me fixing all issues

[2018-11-26 17:38] robmazz commented on #219
@sathiathirumal - Thanks for the feedback, this link has been fixed and updated.

[2018-11-26 17:38] #219 closed

[2018-11-26 17:40] robmazz commented on #228
@lewislivingstone - Thanks for the feedback, this link has been fixed and updated.

[2018-11-26 17:40] #228 closed

[2018-11-26 17:42] robmazz commented on #230
@UpsilonB - Thanks for the feedback, this link has been fixed and updated.

[2018-11-26 17:42] #230 closed

[2018-11-28 02:22] Keisuke1234 opened #240 "'*.gvt1.com' and 'dl.google.com' are missing"
Teams uses from '*.gvt1.com' and 'dl.google.com'. Should be added to the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP address ranges](https://docs.microsoft.com/en-us/office365/

[2018-11-28 19:57] AndreaBarr commented on #238
@jordi-j Thank you for pointing this out

I will get this typo over to the Enterprise writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-28 20:35] AndreaBarr commented on #239
@jcgithubdeveloper Thank you for this inquiry

If you are having an issue with an article we can for sure help with that. If your having an issue with a product then the best thing we can do is get you over to Support since they have more resources than we do here to help dig in and find a resolution.

Here is a quick video on opening a ticket: https://www.youtube.com/watch?v=puuOy0sEg1Y

If you d

[2018-11-28 20:35] #239 closed

[2018-11-28 20:42] AndreaBarr commented on #240
@Keisuke1234 Thank you for pointing this out

I will get these over to the Enterprise writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2018-11-28 21:12] AndreaBarr commented on #238
@jordi-j The typo has been fixed and should be merged to live sometime today.

[2018-11-28 21:12] #238 closed

[2018-11-29 00:06] jutsey commented on #229
There are several videos in the series. All of the preliminary videos are free, but when you try to go to the one that actually explains installation of AzureADConnect you have to go to linked in and sign up for Linked In Learning. And it requires you to sign up for the one month free trial.

[2018-11-29 01:10] kazshi commented on #181
Closing since I got information. Thanks.

[2018-11-29 01:10] #181 closed

[2018-11-29 08:23] RamIyer5 opened #243 "Office 365 URLs and IP address ranges"
We are unable to find the Office 365 URLs and IP address ranges in this site. request you to kindly let us know where we can find it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP addre

[2018-11-29 14:30] nugentd commented on #243
Missing for me too :(

[2018-11-29 17:06] dstrome commented on #243
Thanks @RamIyer5  and @nugentd for bringing this to our attention. We've reverted the erroneous changes and are working to ensure this doesn't happen again.

[2018-11-29 17:06] #243 closed

[2018-11-29 20:43] denisebmsft commented on #122
@danmyhre thank you for the feedback, and @AndreaBarr thank you for your help. Turns out Office 2010 is not currently supported with Office 365, including SharePoint Online, so for now, we aren't going to add that.

[2018-11-29 20:43] #122 closed

[2018-12-01 08:14] #184 closed

[2018-12-01 09:00] JeremyTBradshaw opened #244 "More specific detail / inclusion in Web Service"
Hello, the first paragraph says:

"The web service scope is network endpoints that are required for connectivity from a user of Office 365 across an enterprise perimeter network. This currently does not include:

Network connectivity that may be required from a Microsoft datacenter to a customer network (inbound hybrid server network traffic).
Network connectivity from servers on a customer networ

[2018-12-02 23:08] TonyRogersAU opened #245 "Session timeout for Skype for Business client"
What is the session timeout for Skype for Business Client when running in hybrid mode?

We have Lync server on premises and Exchange Online in O365.
How often will the SfB client request a new refresh token for EXO with Modern Auth and MFA activated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1570de51-50b1-d4cc-c1c

[2018-12-03 20:54] StPhil opened #246 "Page needs to be refreshed"
There are many different languages showing on this page. I suspect there is some code which got published in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP address ranges](

[2018-12-03 22:41] mprentice22153 opened #247 "Exchange Online Collaboration Address Lists"
Is there a way to share Global Address Lists or contacts between multiple O365 Exchange Online tenants?  Or is this part of the functionality with the calendar sharing?  I'm not finding anything that explicitly addresses email address sharing between tenants.

Matthew

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41bc

[2018-12-03 23:15] soyalejolopez opened #248 "Content shows up in asian writing"
Endpoints content showing up in Asian writing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP address ranges](https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ra

[2018-12-03 23:33] dstrome commented on #246
hi @stphil,

Thanks for the feedback. This was caused by incorrect configuration change. That change has been reverted and this issue has been resolved.

[2018-12-03 23:33] #246 closed

[2018-12-03 23:33] dstrome commented on #248
hi @soyalejolopez

Thanks for the feedback. This was caused by incorrect configuration change. That change has been reverted and this issue has been resolved.

[2018-12-03 23:33] #248 closed

[2018-12-04 14:46] chris-pfs commented on #247
I have the same question

[2018-12-05 03:34] DeanGross opened #249 "Old information"
This page has alot of references to very old versions of Office, please review and update where appropriate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c20e446d-02fe-de0e-ac2a-2fc76fe1e3cd
* Version Independent ID: 626a7e4e-bc66-0e21-ba89-ad2ac9609f6c
* Content: [Best practices for using Office 365 on a slow networ

[2018-12-05 21:48] robmazz commented on #244
@JeremyTBradshaw - Thank you for pointing this out
I will get these over to the Enterprise writing team for investigation.
Thank you for reporting and making the docs better. Much appreciated.
I made a note to request the team to update this when the work is complete.

[2018-12-05 21:51] robmazz commented on #247
@mprentice22153 - Thank you for pointing this out
I will get these over to the Enterprise writing team for investigation.
Thank you for reporting and making the docs better. Much appreciated.
I made a note to request the team to update this when the work is complete.