[2020-02-13 17:03] #706 closed

[2020-02-13 17:25] NickElniff opened #707 "Including Microsoft Teams for Federation SRV record"
Microsoft Teams needs to be included as well in the _SipFederationtls._tcp section

SRV
(Skype for Business Online)
Allows your Office 365 domain to share instant messaging (IM) features with external clients by enabling SIP federation. Read more about Office 365 URLs and IP address ranges.
Service: sipfederationtls
Protocol: TCP
Priority: 100
Weight: 1
Port: 5061
Target: sipfed.online.lync.com
No

[2020-02-14 11:52] OfficeGlobal commented on #700
@masa-narita  the article has been HumanTranslated and published live

@mypil could you please confirm, asterisks are duplicated in source on purpose?
e.g. \*\*\*\*Japan\*\*\*\* instead of \*\*Japan\*\*
it cause troubles for ITNL version, extra \* are visible at live page

PrintScreen from https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/blob/live/Enterprise/moving-data-to-new-datacenter-geo

[2020-02-15 13:48] mypil commented on #687
@adagioajanes - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by VLG17. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-02-15 13:48] #687 closed

[2020-02-15 13:51] mypil commented on #691
@jvplopper  - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by VLG17. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-02-15 13:51] #691 closed

[2020-02-15 18:51] mypil commented on #700
@OfficeGlobal - let me check with the author about your query.

@JoeDavies-MSFT @LauraWi - Can you please confirm if the  asterisks are duplicated in source on purpose?  e.g. ****Japan**** instead of **Japan**. It cause troubles for ITNL version, extra * are visible at live page.

Please confirm so we can create a PR on the source file if those extra asterisks need to be removed.

Thank you.

cc:

[2020-02-15 21:34] jasonkatz424 opened #709 "Spelling error"
The "h" in "THis includes:" should not be capitalized.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57a412c8-b70e-bc0e-63da-0a0adbf301f8
* Version Independent ID: 11d9d5d3-6eea-91a4-b3fd-babc6069b2ea
* Content: [Office 365 Data Immutability](https://docs.microsoft.com/en-us/office365/enterprise/office-365-data-immuta

[2020-02-16 16:59] danone1985 opened #710 "CDN checked, while is not in use (powershell check)."
CDN check is green in Page Diagnostic for SharePoint, while Get-SPOTenantCDNEnabled is FALSE for both private and public.

will retry, however seems to be a bug.

[2020-02-17 00:17] masa-narita commented on #700
Thanks team.

I’ve confirmed that the point I mentioned was fixed in the ja-jp page.

Thank you,
Masa

From: Joyce Y. <notifications@github.com>
Sent: Sunday, February 16, 2020 3:51 AM
To: MicrosoftDocs/OfficeDocs-Enterprise <OfficeDocs-Enterprise@noreply.github.com>
Cc: Masakazu Narita <Masakazu.Narita@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-Ent

[2020-02-17 05:58] kefujino opened #711 "Misstransration about "advisories" for Japanese article"
The word of "Advisories" translates to "アドバイザリ" in Microsoft Admin Center.
But now, the word of "Advisories" translates "勧告".

Could you check and fix to it?

Thank you!

Could you please check and fix.
https://docs.microsoft.com/ja-jp/office365/enterprise/view-service-health?source=docs#incidents-and-advisories

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-02-17 15:23] weyCC81 commented on #85
You are really forcing Partner to 2FA and Powershell doesn't event Support MFA for Delegated Access?
Ticket: SRX619102491683086

[2020-02-17 15:26] weyCC81 commented on #482
There is no MFA Support, only Workaround: https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-mfasettings#trusted-ips

[2020-02-17 20:29] mypil commented on #709
@jasonkatz424 - Thank you for pointing this out.

I created PR #712 to fix and close this issue once the PR is merged.

Thank you and we appreciate your contribution to make the docs better!

[2020-02-19 17:27] mymebenha commented on #665
So what's the conclusion?  Do we need to allow both the wildcard domain names and the IP addresses or is it enough to allow the wildcard FQDNs?

[2020-02-19 17:37] cat-mucius commented on #665
If I understood @LauraWi 's response correctly, FQDNs are enough (accessed via proxy).
My experience so far supports that, Office sites worked pretty well, but I didn't test their functionality in depth, just "touched the surface".

[2020-02-19 23:28] mypil commented on #692
@DeanGross - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/commit/9a3dc363e3fc3ed03de2d8930b525365a95abeeb.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-02-19 23:28] #692 closed

[2020-02-20 02:20] mypil commented on #711
@kefujino - Thank you for submitting feedback.

I will get this issue over to the Enterprise writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2020-02-20 02:28] mypil commented on #711
@officeglobal @tinamcN - Can you please assist with this Translation/Localization issue?

Thank you.

[2020-02-20 06:25] OfficeGlobal commented on #711
Working on a fix

[2020-02-20 11:01] mypil commented on #662
@CHDAFNI-MSFT - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by the author kelleyvice-msft  so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-02-20 11:01] #662 closed

[2020-02-20 11:07] mypil commented on #704
@DeanGross - Thank you for submitting feedback.

I will get this issue over to the Enterprise writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2020-02-20 11:08] mypil commented on #704
@JoeDavies-MSFT - Can you please share your insights on this issue?

Thank you.

cc: @kenwith

[2020-02-20 11:10] mypil commented on #710
@danone1985 - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-02-21 00:46] UKayo opened #716 "further request on #593"
Thanks for the additional note on "mailnickname" section.
However, my intention was to also add a note that any allowed character other than "-" would be replaced with "_" when the object is synced to AAD. This was found from my testing environment. Would you revisit this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-02-21 14:56] miss-tech opened #717 "include:sharepointonline.com needs clarification"
The "include:sharepointonline.com" isn't neccessary anymore from my understanding. This needs removal and / or clarification.

[2020-02-21 16:04] vijaydias opened #718 "Premier Customer feedback."
Leaving feedback from a premier customer which took a couple of days to Test and resolve, seems like the attribute PreferredDatalocation requires a newer version of powershell else the attribute doesn't come up in older module.

Could we update the article to mention which version of MSONLINE is required at minimum to get the required parameter? Right now its working on  1.1.183.157

---
#### Docu

[2020-02-21 16:30] carletto75 commented on #587
Any news about general availability of structural navigation caching ?
It is still not available in my tenant.

[2020-02-21 18:56] LoreenLa commented on #587
Thanks for asking! We haven’t started rolling to targeted release yet, but we expect to do so in late Q1.

From: carletto75 <notifications@github.com>
Sent: Friday, February 21, 2020 8:30 AM
To: MicrosoftDocs/OfficeDocs-Enterprise <OfficeDocs-Enterprise@noreply.github.com>
Cc: Loreen La Penna <loreenl@microsoft.com>; State change <state_change@noreply.github.com>
Subject: Re: [MicrosoftDocs/Office

[2020-02-22 13:03] mypil commented on #710
@danone1985 - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page.

Thank you.

[2020-02-22 13:03] #710 closed

[2020-02-23 14:15] mypil commented on #717
@miss-tech - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-02-24 09:59] stewalshy opened #720 "Domain Restrictions"
Hi,

In the "Limit sharing by domain" section of the site-level, it states that the settings cannot be used to override restrictions at the Sharepoint Organization or Azure AD Level. This is clear and easy to understand.

However can you explain how the "Limit external sharing by domain" option at the Sharepoint Organization level works with collaboration restrictions at the Azure AD level?

Takin

[2020-02-24 15:16] MikePlumleyMSFT commented on #720
@stewalshy  if the [SharePoint and OneDrive integration with Azure AD B2B preview](https://docs.microsoft.com/sharepoint/sharepoint-azureb2b-integration-preview) has been enabled, then SharePoint will respect the Azure AD domain restrictions. So if only domain1.com is allowed in Azure AD, then you can't allow domain2.com in SharePoint. Basically, anything that is allowed based on the Azure AD sett

[2020-02-24 20:39] LauraWi commented on #700
@mypil
I think it's a mistake that the asterisks are duplicated. Okay to create a PR to standardize on the more normal double asterisk for bold.

[2020-02-24 21:28] JRVcr opened #721 "Whitepaper link broken"
Redirects to MS home page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57a412c8-b70e-bc0e-63da-0a0adbf301f8
* Version Independent ID: 11d9d5d3-6eea-91a4-b3fd-babc6069b2ea
* Content: [Office 365 Data Immutability](https://docs.microsoft.com/en-us/office365/Enterprise/office-365-data-immutability#feedback)
* Content S

[2020-02-24 22:29] missilelaunchr opened #722 "This page lists no source IP addresses for hybrid connectivity *from* Microsoft"
This article was linked to from the following article:
https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges
It states: "Endpoint data below lists requirements for connectivity from a user’s machine to Office 365. It does not include network connections from Microsoft into a customer network, sometimes called hybrid or inbound network connections. See Additional endpoint

[2020-02-25 00:49] mypil commented on #700
@LauraWi - Thanks for your response. I created PR #723 to remove the duplicated asterisks from the table.

@OfficeGlobal - FYI.

[2020-02-25 09:24] VLG17 commented on #654
@RAJU2529 "Modern authentication is already enabled for Office 2016 clients, **you do not need to set registry keys for Office 2016.**"

@oddhair I will add the location of the keys that need to be added for Office 2013 clients

[2020-02-25 09:35] VLG17 commented on #699
@Justin-Nash Did you get this to work in the end? A few things:

1. Your command is missing the "s" after Origin. It should be: Get-SPOTenantCdnOrigin**s**

2. You don't need to specify the -OriginUrl to get it. You just neet to run "Get-SPOTenantCdnOrigins -CdnType Public":

![image](https://user-images.githubusercontent.com/41186174/75234268-f7bf4200-57c2-11ea-9cff-b8ccf5aa29c6.png)

[2020-02-25 11:06] VLG17 commented on #701
@scottclarke1 "The Region parameter specifies the satellite location for multi-geo tenants to conduct eDiscovery searches in." If you create Compliance Security Filter with NAM as the value for the -Region parameter, the users that you assign the search filter to will be allowed to search only in NAM.

If you don't use the "-Region" parameter in a multi-geo tenant, eDiscovery searches are performe

[2020-02-25 11:34] VLG17 commented on #702
@Mlavieri According to the [public documentation](https://docs.microsoft.com/en-us/office365/Enterprise/office-365-exchange-online-data-deletion#page-zeroing), a page zeroing mechanism exists only for Exchange Online. For SharePoint this is not applicable. The data is written over the deleted chunks.

[2020-02-25 12:02] VLG17 commented on #705
@V3ertigo83 It is stated in the article that "You must be a **Global Administrator or SharePoint Administrator** to move a site between geo locations."

I will create a PR and add "SharePoint Administrator" to the paragraph you mentioned.

[2020-02-25 15:22] Mlavieri commented on #702
@VLG17 thanks for the confirmation

[2020-02-25 15:22] #702 closed

[2020-02-25 15:58] #709 closed

[2020-02-25 21:39] Justin-Nash commented on #699
I did get it to work but I created this issue so your documentation would be updated. It still has yet to be updated, you have a line of script on this page "Add-SPOTenantCdnOrigin -CdnType Public -OriginUrl */CLIENTSIDEASSETS". As you stated the command is missing an "s".

Please review this page the script in question can be found in your documentation under https://docs.microsoft.com/en-us/offi

[2020-02-26 10:51] apedder opened #726 "Tooltips"
Tooltips on sensitivity labels can only be 64 characters. Your examples are longer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69eee476-1c7a-06ef-ba3f-5ba33c907c5e
* Version Independent ID: 31cdfe07-a3f4-3c0e-519f-042b847b7237
* Content: [Create a secure guest sharing environment](https://docs.microsoft.com/en-us/O

[2020-02-26 12:21] VLG17 commented on #699
@Justin-Nash The missing "s" is for the "Get" cmdlet not the "Add" one:

[Get-SPOTenantCdnOrigins](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/get-spotenantcdnorigins?view=sharepoint-ps)

[Add-SPOTenantCdnOrigin](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/add-spotenantcdnorigin?view=sharepoint-ps)

So there is nothing missing in the article, as fa

[2020-02-26 17:52] msbemba commented on #716
@UKayo  Thank you for the feedback. There is already a note on the document which talks about this

Underscores ("_") in the synchronized name indicates that the original value of this attribute contains invalid characters. The original value can contain letters, numbers, and the characters !, #, $, %, &, ', *, +, -, /, =, ?, ^, _, `, {, |, } and ~. For more information on this attribute, see Exch

[2020-02-26 21:43] Justin-Nash commented on #699
My mistake I thought your documentation had not been updated. After a second review it looks like it has been. The documentation originally had the line:

That has since been modified to reflect the documentation I referenced:

The only reason i started this ticket was so you could update the documentation as the original documentation was incorrect.

[2020-02-26 21:43] #699 closed

[2020-02-27 01:48] ziggynemeth opened #727 "Digital Signature"
The idfix.exe tool is not signed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c937e8be-1696-c315-a93b-88f083279644
* Version Independent ID: c0c3d253-4bfe-1750-58a1-4d8f4a1e68d6
* Content: [Download and run the Office 365 IdFix tool](https://docs.microsoft.com/en-us/office365/enterprise/install-and-run-idfix)
* Cont

[2020-02-27 16:42] BatmanAMA opened #728 "Viewing service health as a general user"
Why is this limited to admins? These just wind up posted all over twitter and reddit anyway so it's not like they're sensitive data, why do I have to be in an administrative role to see service health advisories?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd2a834a-296b-1c7d-7358-6f6a19f8f3c3
* Version Independent I

[2020-02-28 01:10] mypil commented on #717
@miss-tech - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page.

Thank you.

[2020-02-28 20:36] miss-tech commented on #717
https://answers.microsoft.com/en-us/msoffice/forum/msoffice_o365admin-mso_shareon-mso_o365b/sharepointonlinecom-vs-protectionoutlookcom-spf/43cf1dc1-655b-4d28-a827-ea0a10f529c3

This answers post and the following articles all exclude sharepointonline.com from SPF records:
- https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/set-up-spf-in-office-365-to-help-prevent-spoofin

[2020-02-28 20:37] miss-tech commented on #717
Could you please reopen this issue?

[2020-02-28 20:40] miss-tech opened #731 "include:sharepointonline.com needs removal or clarification"
The "include:sharepointonline.com" isn't neccessary anymore from my understanding. This needs removal and / or clarification.

The primary article referencing this:
https://support.office.com/en-us/article/information-about-changes-to-the-address-that-is-used-to-send-notification-email-messages-from-sharepoint-online-ae01f2a0-acca-499b-ab96-df0e996d367a

Additional Information:
https://answers.mic

[2020-02-28 20:41] miss-tech commented on #717
The primary article referencing this:
https://support.office.com/en-us/article/information-about-changes-to-the-address-that-is-used-to-send-notification-email-messages-from-sharepoint-online-ae01f2a0-acca-499b-ab96-df0e996d367a

Starting in January 2016, there was a subtle change in the "From" email address that's used in notification messages that are sent by SharePoint Online. This change shoul

[2020-02-29 10:21] Air-Git opened #732 "MFA for Administrators"
I appreciate that this is "general advice".  But this article specifically refers to constraining Global Administrator accounts, while another article (https://docs.microsoft.com/bs-latn-ba/azure/active-directory/conditional-access/howto-conditional-access-policy-admin-mfa) recommends constraining all administrator roles.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-03-01 14:54] mypil commented on #701
@scottclarke1 - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by VLG17 so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-01 14:54] #701 closed

[2020-03-01 15:10] mypil commented on #716
@UKayo - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-01 15:10] #716 closed

[2020-03-01 15:23] mypil commented on #720
@stewalshy - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by the author MikePlumleyMSFT so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-01 15:23] #720 closed

[2020-03-01 15:24] mypil commented on #731
Closing this issue as it is a duplicate to #717

[2020-03-01 15:24] #731 closed

[2020-03-02 08:53] stewalshy opened #733 "Applying Domain Restrictions"
Hi,

If we apply domain restrictions (at site, org or AAD level), do they revoke previous sharing of sites/files/folders with domains that are no longer allowed? Or does it just apply the restrictions to block future sharing with those domains?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bb31720-7494-ab3f-6a3d-5c39

[2020-03-03 02:49] kelvinwong927 opened #734 "When it support for OneDrive on macOS?"
When it support for OneDrive on macOS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8669577f-03c4-3521-b969-83667dfc75b2
* Version Independent ID: b4f17a99-6f21-0bdf-ef27-d6087e2f6370
* Content: [Office 365 Client App Support — Certificate-based Authentication](https://docs.microsoft.com/en-us/office365/enterprise/of

[2020-03-03 08:46] freedomofkeima opened #735 "Hang while accessing O365 IP Address URL"
Hi,

I noticed this is not the first time this issue was mentioned (https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/issues/689, https://github.com/PaloAltoNetworks/minemeld/issues/49#issuecomment-573369187 described similar problem). Currently, we are retrieving O365 IP Address periodically as it is **critical** to our service. This issue seemed to happen recently (not in the past).

We not

[2020-03-03 08:55] freedomofkeima commented on #735
To clarify, on normal cases, we're only accessing the endpoint every 15 minutes. Since the request is failing and reaching a timeout of 60 seconds, the worker will try it again the subsequent minute, therefore there were around 189 requests in 5 hours.

[2020-03-03 17:53] #700 closed

[2020-03-04 13:19] VLG17 commented on #707
@NickElniff As far as i know, that's not the case and external access in Microsoft Teams [is turned on by default.](https://docs.microsoft.com/en-us/microsoftteams/manage-external-access). Did you see an issue with Teams that was solved by adding "sipfederationtls"?

Other than [the well known ports and URLs](https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges#skype-fo

[2020-03-04 13:43] NickElniff commented on #707
Turning on External Access is only the settings to allow for federation communications, while the "SipFederationTLS" DNS SRV record is to allow other organizations to discover the federation route. Example if Customer A is TeamsOnly in O365 and Customer B is Skype for Business Server: Customer B would need to be able to resolve Customer A's SipFederationTLS DNS record in order to know where to sen

[2020-03-04 14:30] greganth1 opened #736 "Microsoft Whiteboard for Teams"
whiteboard.microsoft.com needs to be added to this list. If a customer doesn't have it whitelisted it will prevent it from loading when the app is enabled for use in Microsoft Teams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6

[2020-03-04 16:41] LauraWi commented on #736
@greganth1 Thank you. We're reaching out to engage that engineering team so they can contribute their info to the automated process that generates the info in this topic.

[2020-03-04 16:41] #736 closed

[2020-03-04 18:39] adnantocode opened #737 "Global Admin and Office License"
Can you also put that Global Admin do not need any license and if they do what is the use

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96784dc6-991a-fb80-cd0c-ae8217c32f45
* Version Independent ID: 0532ace1-bf55-916f-708d-5444c49d77b1
* Content: [Protect your Office 365 global administrator accounts](https://docs.mic

[2020-03-05 17:58] darwinpou opened #739 "Not working"
I've spent all steps in this article with no sucess.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7df65c5-ea03-f39b-ea7f-14809c15abc1
* Version Independent ID: 7ed5fef7-51f8-1b6b-e220-49dcc59e98c2
* Content: [Collaborate with guests in a team](https://docs.microsoft.com/en-us/Office365/Enterprise/collaborate-as-a-te

[2020-03-05 18:22] darwinpou opened #740 "Not working"
After spent some hours configuring Guest Access with these steps, finally not working.
I think there must be another step not documented in this page.
Even, waiting recommended 24 hours for configuration refresh.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2296f91f-ac66-7d38-1aae-479bbcef9b87
* Version Independent I

[2020-03-08 18:34] mypil commented on #739
@darwinpou - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution so

[2020-03-08 18:34] #739 closed

[2020-03-08 18:34] mypil commented on #740
@darwinpou - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution so

[2020-03-08 18:34] #740 closed

[2020-03-08 18:52] mypil commented on #735
@freedomofkeima - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolutio

[2020-03-08 18:52] #735 closed

[2020-03-08 19:07] mypil commented on #734
@kelvinwong927 - Thank you for submitting feedback.

I will get this issue over to the Enterprise writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2020-03-08 19:07] mypil commented on #734
@robmazz - Can you please share your insights on this issue?

Thank you.

cc: @kenwith

[2020-03-09 04:25] UKayo opened #742 "Response to #716"
@msbemba
Thank you for looking into this. My intention was to say that any allowed characters allowed to use other than "-" and "_" will result in getting synced as "_".  It says we can contain " !, #, $, %, &, ', *, +, -, /, =, ?, ^, _, `, {, |, } and ~" but it actually only allows "-" and "_" to be synced properly. Please test this and verify.

---
#### Document Details

⚠ *Do not edit this sect

[2020-03-09 08:50] Larryngolog opened #743 "Different information about data location on different pages"
This document https://products.office.com/pl-pl/where-is-your-data-located#office-ContentAreaHeadingTemplate-bkjgypc states that for EU data is stored in Austria, Finland, Netherlands and Ireland. This documents adds France, Germany and UK. Which document is correct and should be considered authorative?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-03-09 08:58] Larryngolog opened #744 "EU data stored in UK and Brexit"
Now that Brexit is a fact, what is approach to EU data residency? This document states that for European Union data can be stored in United Kingdom. Is this still true?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82d4d59d-d7b1-81b1-aeaf-6d34f61ae18b
* Version Independent ID: 2b2620fa-7e4f-27ee-2655-47da2391296f
* Co

[2020-03-09 10:39] freedomofkeima commented on #735
Hi,

Thanks for the response. We'll see what we can do in our side. In the past few days, it looks a bit better with lower number of failures (we still see some occasional failures but not as persistent as a week ago).

<img width="1265" alt="Screen Shot 2020-03-09 at 19 35 09" src="https://user-images.githubusercontent.com/2115470/76205415-84dfad80-623d-11ea-8ecc-b0b1a686b297.png">

[2020-03-09 15:40] VLG17 commented on #707
@NickElniff I understand what you mean. I could not find any official guidance around this topic. I will add a note in the article about this and hopefully it will get approved.

I guess we will have to wait for official guidance to come out close to the [Skype for Business Online retirement date](https://techcommunity.microsoft.com/t5/healthcare-and-life-sciences/skype-for-business-online-end-of-

[2020-03-10 06:06] susan-wangyi opened #746 "Missing some IP addresses, which are needed when using Connect to sync between O365 and AAD"
My customer needs to use Connect to sync between O365 and AAD, and follow this docs to allow mentioned IP ranges to access in the firewall. But still got connection failed error as Connect was unable to connect login.chinacloudapi.cn and adminwebservice.partner.microsoftonline.cn, and the related IP addresses should be:
139.217.231.208
         139.217.228.95
          139.217.231.198
          13

[2020-03-10 16:42] LauraWi commented on #746
@susan-wangyi I'm following up with engineering to investigate. Thanks.

[2020-03-10 17:09] LauraWi commented on #746
@susan-wangyi -- Do you have specific information about which app within Office 365 is having the issue? To manage expectations, if there's a true gap in the docs, I can alert the team so they submit the proper endpoints to our publishing tool. If this is blocking customer connectivity, I recommend having the customer work with support.

[2020-03-11 03:04] susan-wangyi commented on #746
Hello Laura,
This issue is not specific to an app. Customer needs to use Connect tool to sync local AD with AAD in order to use O365. Customer opened all IPs/ports on their firewall, but find that Connect is trying to connect IPs that I listed before. These IPs are for login.chinacloudapi.cn and adminwebservice.partner.microsoftonline.cn. Connect needs to connect login.chinacloudapi.cn and adminwe

[2020-03-11 13:21] stewalshy commented on #733
Hi, is there any feedback on this question?

[2020-03-11 13:50] greganth1 commented on #736
Additional info from Whiteboard team.
Microsoft Whiteboard IP addresses to be whitelisted for Whiteboard:

52.190.28.19
52.155.173.190
52.157.250.241
51.143.111.143

TCP Ports 80 and 443 need to be enabled.

The domains are the following:
whiteboard.microsoft.com
wbd.ms
whiteboard.ms

[2020-03-11 16:28] John712796 commented on #704
You can find the list of partners in the program here: https://www.microsoft.com/microsoft-365/partners/O365networkingpartners

[2020-03-11 16:57] LauraWi commented on #743
@Larryngolog  -- Reaching out to engineering on this.

[2020-03-11 16:57] LauraWi commented on #744
@Larryngolog Reaching out to engineering on this.

[2020-03-11 17:43] LauraWi commented on #722
Tagging in @kelleyvice-msft while Joe is out.

[2020-03-11 17:44] LauraWi commented on #746
Tagging in @kelleyvice-msft while Joe is out.

[2020-03-11 18:06] kelleyvice-msft commented on #746
Adding @pandrew1 for visibility.
@susan-wangyi, I suspect that the endpoints in Enterprise/urls-and-ip-address-ranges-21vianet.md do not include the IPs you mention because endpoints for AAD are not specific to Office 365. There is a topic that describes how to whitelist AAD endpoints here: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-prerequisites.
@pandre

[2020-03-12 00:49] mypil commented on #721
@JRVcr - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/commit/90b8591b712c791e5ec0f71c9a84830fbb7f4f8c.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-12 00:49] #721 closed

[2020-03-12 03:55] susan-wangyi commented on #746
@Kelleyvice-msft, yes, I think this is not specific to O365. However, the IPs for AAD are not listed in the doc you mentioned. Also, the URL adminwebservice.partner.microsoftonline.cn is not listed either. My customer firewall needs to know what IPs need to open, rather than URL. So customer wants us to provide a whole list of IPs.

[2020-03-12 22:35] DeanGross opened #747 "GCC tenants"
can express route be used with GCC or GCC High tenants?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 132cbf89-c6a0-cbe2-dd7e-5e449ce2f390
* Version Independent ID: 787afe5f-0111-a1f0-d33c-4ac4260b846b
* Content: [Azure ExpressRoute for Office 365](https://docs.microsoft.com/en-us/office365/enterprise/azure-expressrou

[2020-03-13 01:56] susan-wangyi commented on #746
@kelleyvice-msft @pandrew1, may I get some updates here?
I used nsloopup login.chinacloudapi.cn, and got a list of IPs that I posted before, but all these IPs are not included in this page.
I will feedback on the page https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-prerequisites as well.
Could you please help check all needed IPs and update this page? Really a

[2020-03-13 02:36] susan-wangyi commented on #746
I just searched worldwide endpoints https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges, which includes adminwebservice.microsoftonline.com.
However, in this page, adminwebservice.partner.microsoftonline.cn is not listed.

[2020-03-13 03:02] susan-wangyi commented on #746
@kelleyvice-msft @pandrew1, sorry for posting several comments here, please allow me to summarize my customer requests as below:

Customer firewall needs to know what IPs to open rather than URLs. He followed this page to open all IPs/IP ranges on the firewall, but still failed as Connect unable to connect the IPs:
139.217.231.208
139.217.228.95
139.217.231.198
139.217.231.219
139.217.118.54
139.2

[2020-03-13 05:10] susan-wangyi commented on #746
After comparing the public cloud and Azure China, the following endpoints/IPs are also missing:
mscrl.microsoft.com
*.verisign.com
*.entrust.net
secure.aadcdn.parter.microsoftonline-p.cn

[2020-03-13 09:17] chwilfing opened #748 "AGAIN - Missing IP Addresses"
We see connections from(sample):

20.176.3.146
20.176.2.159

which is _NOT_ provided in the Web Services. AGAIN...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP address ranges](https:/

[2020-03-13 16:31] kelleyvice-msft commented on #746
@susan-wangyi, I'm evaluating all of this and consulting with the engineering team, who will have the final say on how we address this issue. I will get back to you as soon as I can. Thank you!

[2020-03-14 22:15] GavGavGavGav opened #749 "Use write-output"
It would be helpful if you used "write-output $_.UserPrincipalName" to list the users, so you can easily use the data from the command. For example counting the amount of users by enclosing the whole thing in parentheses and using .count. Using write-host means the data is only good for copying/pasting.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-03-15 13:09] jnxxx opened #750 "Teams IPs seem incorrect"
Are you sure 13.107.64.0/18, 52.112.0.0/14 is correct?
I see connections to 52.114.0.0 instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP address ranges](https://docs.microsoft.com

[2020-03-15 13:18] jnxxx commented on #750
Never mind. It is included off course... :-)

[2020-03-15 16:02] mypil commented on #750
@jnxxx - Thank you for submitting feedback.

From your last comment, it appears that your issue has been addressed so we will close this issue now.

Please feel free to open a new issue if you find a specific area of the docs that we can improve on by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page.

[2020-03-15 16:02] #750 closed

[2020-03-15 21:37] mypil commented on #704
@DeanGross - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by John712796 so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-15 21:37] #704 closed

[2020-03-16 01:10] susan-wangyi commented on #746
@kelleyvice-msft, many thanks for your help.

[2020-03-16 06:55] msbemba commented on #749
@GavGavGavGav Thank you for the feedback  The  Azure Active Directory PowerShell for Graph module has been added with two  examples to use Write-output.

Hope this helps!
Thanks
Sri

[2020-03-16 06:58] msbemba commented on #747
@DeanGross  Thank you for the feedback. Yes. Office 365 GCC service endpoints are reachable through the Azure US Government ExpressRoute. However, you first need to open a support ticket on the Azure portal to provide the prefixes you intend to advertise to Microsoft. Your connectivity to Office 365 GCC services will be established after the support ticket is resolved. We have added this question

[2020-03-16 07:10] msbemba commented on #733
@stewalshy Thank you for your feedback. By Design when we apply domain restrictions it will revoke the previous sharing with the domains that are no longer allowed.

Hope this  Helps!

Thanks
Sri

[2020-03-16 07:19] msbemba commented on #737
@adnantocode Thank you for your feedback. We have added a note to the document via PR# https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/751

Thanks
Sri

[2020-03-16 07:22] msbemba commented on #732
@Air-Git Thank you for your feedback. This article is focused on global administrator accounts only. That's the reason you don't see constraints on all admin roles. We have added a note saying that
"Although this article is focused on global administrator accounts, you should consider whether additional accounts with wide-ranging permissions to access the data in your subscription, such as eDiscov

[2020-03-16 07:27] msbemba commented on #728
@BatmanAMA Thank you for your feedback. By design, the service health dashboard is accessible for only admins. I can check with @mypil  and see if we have a UserVoice option open for this request.

Thanks
Sri

[2020-03-17 08:27] msbemba commented on #728
@BatmanAMA I found a UserVoice (Design request) for the same.

https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/14823009-be-able-to-provide-only-the-service-health-informa

You can Upvote it with your email address and Once Microsoft developers/Product group make this change you will be notified

Thanks
Sri

[2020-03-17 08:31] msbemba commented on #717
@miss-tech  Thank you for your feedback. All the three documents that you have mentioned state there is no need to add the SharePoint's SPF records. Can you elaborate on what changes are required on the document(s)?

Thanks
Sri

[2020-03-17 08:39] msbemba commented on #726
@apedder Thank you for the feedback. The Tooltips on sensitivity labels doesn't have a limit as such. I was able to create a sensitivity label with the example provided.

![image](https://user-images.githubusercontent.com/45987684/76837600-d77e2280-6858-11ea-9b59-b90e65e0b305.png)

Thanks
Sri

[2020-03-17 08:49] msbemba commented on #727
@ziggynemeth  Thank you for your feedback. We are looking into this and will get back to you shortly.

Thanks
Sri

[2020-03-18 13:37] adrianwells opened #752 "Link from other page does not properly point to here"
The link "Manage Skype for Business Online with Office 365 PowerShell" from this URL  https://docs.microsoft.com/en-us/SkypeForBusiness/set-up-your-computer-for-windows-powershell/set-up-your-computer-for-windows-powershell?source=docs
appears like it should point here but instead goes to a GitHub formatted page. Please review and correct. Thank you.

---
#### Document Details

⚠ *Do not edit this

[2020-03-18 17:47] LauraWi commented on #748
@pandrew1 Would you be able to determine if these connections are indeed missing from our list? Thank you.

[2020-03-18 19:04] pandrew1 commented on #748
To confirm, these IP Addresses are not published as being required for customers to include in client machine outbound ACLs on their firewalls. Required IP Addresses are published at http://aka.ms/o365ip

[2020-03-19 05:19] susan-wangyi commented on #746
@kelleyvice-msft, may I get some updates? Thanks in advance.

[2020-03-19 06:39] chwilfing commented on #748
we've confirmed these IP addresses are also not on the http://aka.ms/o365ip list but don't get me wrong. a human readable website is a nice idea and can be used to get an overview but the api should always be the first point to update. I use the web api for all automations so this is the only truth.

[2020-03-19 08:24] UKayo commented on #742
Somehow, "_" (underscore) has been deleted from my text, so re-posting with clarifications.

Thank you for looking into this. My intention was to say that any allowed characters allowed to use other than "- (hyphen)" and "_ (underscore)" will result in getting synced as "_ (underscore)". It says we can contain " !, #, $, %, &, ', *, +, -, /, =, ?, ^, _ (underscore), `, {, |, } and ~" but it actual

[2020-03-19 13:23] mypil commented on #728
@BatmanAMA - Thank you for engaging with the community here for the docs.

As mentioned by msbemba, please submit this feature request via UserVoice.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-19 13:23] #728 closed

[2020-03-19 13:56] mypil commented on #707
@NickElniff - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/commit/a69be96fab09ff9bb06ad8369caafe090061c011.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-19 13:56] #707 closed

[2020-03-19 15:31] kelleyvice-msft commented on #746
@susan-wangyi, I apologize for the delay. I have been told there is a project underway right now to get these on-prem server to Office 365 service network endpoints published to https://docs.microsoft.com/office365/enterprise/additional-office365-ip-addresses-and-urls in the same way as the endpoints we publish for client machines. In the meantime, I am looking into manually updating the topic wit

[2020-03-20 10:01] msbemba commented on #742
@UKayo  Thank you for the feedback. We will test this and update shortly.

[2020-03-20 10:35] Larryngolog opened #753 "Access to SPO"
Hello
Removing license to SPO does not remove access to SPO nor OneDrive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6e1db9c-8440-9547-98ab-3bfca008bd86
* Version Independent ID: 17011d6e-4978-6312-274b-586bd9e857de
* Content: [Disable access to services while assigning user licenses](https://docs.microsoft.com/en

[2020-03-20 12:15] susan-wangyi commented on #746
@kelleyvice-msft, thanks a lot for your time and effort on this request.
Could you please first work on the following endpoints as they are the minimum requirements for AAD connect?

mscrl.microsoft.com
*.verisign.com
*.entrust.net
secure.aadcdn.parter.microsoftonline-p.cn
*.chinacloudapi.cn
*.partner.microsoftonline.cn

Since customer firewall can only limit IPs/IP ranges rather than URLs, we nee

[2020-03-20 14:34] gnerd opened #754 "shared mailbox"
Are licenses required for shared mailboxes (normally, shared mailboxes do not require a license)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 85937c83-35db-0882-e226-a4f2f732de73
* Version Independent ID: ac0b646b-0fbf-eb24-6768-07cfcd51076b
* Content: [Exchange Multi-Geo](https://docs.microsoft.com/en-us/office365/e

[2020-03-20 16:04] jimjimbojimbob opened #755 "Email being sent from unpublished IP ranges"
The web service which publishes the Exchange Online Protection IP ranges found here:

https://docs.microsoft.com/en-us/office365/enterprise/office-365-ip-web-service

Currently reports the latest worldwide version as 2020022800 which reports the following ranges for inbound connections on port 25.  I have firewalls configured based on this information.

...
{
    "id": 10,
    "serviceArea": "Exch

[2020-03-20 21:18] LauraWi commented on #744
Hi, update from my engineering counterpart: "Tenants with a sign-up address located within the UK will have their data stored at rest within the UK. Learn more about our data residency commitments in the Online Services Terms (OST) [https://www.microsoftvolumelicensing.com/Downloader.aspx?documenttype=OST&lang=English]. If you wish to store user data at rest in different geos under a single tenant

[2020-03-20 21:18] #744 closed

[2020-03-20 21:19] LauraWi commented on #743
This document is accurate. The link you copied is an older page that will redirect to this doc page starting on March 27.

[2020-03-20 21:19] #743 closed

[2020-03-20 21:23] LauraWi commented on #755
Adding @pandrew1

[2020-03-20 21:26] Larryngolog commented on #744
Hello. I think You understood my comment the other way around. The document clearly states that UK customers will have their data in UK but this is not what worries me. I was asking if EU customer's data (for example customer from Italy, Spain o Poland) can be stored in UK. Document states currently that EU data is/can be stored in UK. This could have serious legal consequences now since UK is not

[2020-03-20 22:03] LauraWi commented on #744
Thanks for this clarification. Hope this helps. I think my engineering partner is assuming you are in the UK, which you are not. EU data should stay in the EU.

If the O365 tenant has a GB signup country associated with it then the tenant’s core workload data at rest could be in the EU or it could be in the UK, depending on the timing of the tenant creation and whether or not the tenant opted-in f

[2020-03-21 00:52] pandrew1 commented on #755
The web service referenced here is for configuring network perimeter devices for client machine outbound to Office 365 service filtering. It is not provided as a comprehensive list of all Office 365 IP Addresses.

[2020-03-21 13:43] jimjimbojimbob commented on #755
Thanks for the reply. I've slightly mis-understood then.  And in which case where is the list of IP ranges or URIs that can be referenced in order to configure network perimeter devices for inbound connections from EOP on port 25?

[2020-03-21 14:37] tuanna106 opened #756 "Azure ExpressRoute for Office 365"
Please explain detail all condition we need to use Office 365 over ExpressRoute. ( exp : numbers of subscribers, license,... )

[2020-03-21 15:42] mypil commented on #756
@tuanna106 - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-03-21 16:12] tuanna106 commented on #756
![Capture](https://user-images.githubusercontent.com/62473405/77230721-c91d6700-6bc8-11ea-930d-a687602972b8.PNG)

This the document link I used :"https://docs.microsoft.com/en-us/office365/enterprise/azure-expressroute". So I must finish  "ExpressRoute for Office 365 Request Form to begin a Microsoft review". So I just finish Request Form then I can use ExpressRoute for Office 365 OR I need any co

[2020-03-21 16:47] pandrew1 commented on #755
You can run this command to get the current IP Addresses for inbound SMTP validation: nslookup -type=TXT spf.protection.outlook.com
Please review this article for more information on Sender Policy Framework: https://docs.microsoft.com/microsoft-365/security/office-365-security/how-office-365-uses-spf-to-prevent-spoofing

[2020-03-21 16:52] mypil commented on #749
@GavGavGavGav  - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-21 16:52] #749 closed

[2020-03-21 17:43] jimjimbojimbob commented on #755
Well that does make perfect sense, thank you.  However that nslookup does return the exact same IP ranges as the web service.

Also it doesn't explain why on March 19th as per my original message, mail was reported by customers as missing or not received.  I investigated and could see connection attempts on port 25 from other unpublished IP addresses in the 40.95.x.x range.  Once unblocked the mis

[2020-03-21 22:09] mypil commented on #747
@DeanGross  - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-21 22:09] #747 closed

[2020-03-21 22:51] mypil commented on #733
@stewalshy  - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-21 22:51] #733 closed

[2020-03-21 23:20] mypil commented on #732
@Air-Git- Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-21 23:20] #732 closed

[2020-03-22 07:51] Air-Git commented on #732
Thanks, that works.

[2020-03-22 16:49] mypil commented on #726
@apedder - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-22 16:49] #726 closed

[2020-03-22 17:04] mypil commented on #717
@miss-tech - Can you please respond to the query of msbemba?

Thank you.

[2020-03-23 09:07] msbemba commented on #742
@UKayo Thank you for your feedback.I was able to test this in multiple Instances and the document is upto date. I was able to sync the below characters without any issues

" !, #, $, %, &, ', *, +, -, /, =, ?, ^, _ , `, {, |, } and ~"

![image](https://user-images.githubusercontent.com/45987684/77300274-c5e2c200-6d13-11ea-9dd3-c19ef51abf23.png)

Thanks
Sri

[2020-03-23 13:26] NoahGo-us opened #758 "New GEO CHE"
List needs to be updated for new CHE Geo

[2020-03-23 15:55] tbogle commented on #628
I've been unsuccessful in finding a way to make this work with Service Principles.  I followed instructions on the link you suggested, but the new-csonlinesession command doesn't appear to accept any form of a credential other than a traditional username/password.  Can you provide a link to documentation showing how this our work specifically with Skype For Businessness Online?

[2020-03-23 20:22] miss-tech commented on #717
https://docs.microsoft.com/en-us/office365/enterprise/external-domain-name-system-records#choose-the-spf-record-structure-you-need

Section 3 states that include:sharepointonline.com is required if Sharepoint Online is in use. This is no longer the case so needs to be modified.

[2020-03-23 20:41] mypil commented on #758
@NoahGo-us - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-03-23 21:31] NoahGo-us commented on #758
https://docs.microsoft.com/en-us/office365/enterprise/office-365-multi-geo

From: Joyce Y. <notifications@github.com>
Sent: Monday, March 23, 2020 3:42 PM
To: MicrosoftDocs/OfficeDocs-Enterprise <OfficeDocs-Enterprise@noreply.github.com>
Cc: NoahGo-us <noahgo@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-Enterprise] New GEO CHE (#758)

@NoahGo-us<https:/

[2020-03-24 00:17] msbemba commented on #717
@miss-tech  Thank you for your feedback. We have modified the document accordingly via PR https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/762

Thanks
Sri

[2020-03-24 22:49] mypil commented on #758
@NoahGo-us - Thank you for submitting feedback.

Please check on PR #759 which may resolve your issue once the PR will be merged by the author.

[2020-03-26 00:46] swinster opened #764 "Should we be using using the AzureAz module?"
As the subject? This is now release and preferred to Azure AD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbb1fe83-c1b3-3176-4d61-fe4f3ce1d598
* Version Independent ID: c89f295b-4f00-c2c0-c75f-75fa50ecda65
* Content: [Connect to Office 365 PowerShell](https://docs.microsoft.com/en-us/office365/enterprise/powershell/

[2020-03-26 00:51] swinster commented on #764
I guess without the old AzureAD module installed, you wont be able to even run `Connect-MsolService`

So what does this mean? Do you need to run AzureAD and AzureAZ side-by-side? Is that even possible?

[2020-03-26 13:23] swinster opened #765 "Connecting to `Connect-MsolService` using PS 7 fails - Could not load type 'System.Security.Cryptography.SHA256Cng'"
Attempting to connect with these old methods to O365 fails in PS7

[code]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbb1fe83-c1b3-3176-4d61-fe4f3ce1d598
* Version Independent ID: c89f295b-4f00-c2c0-c75f-75fa50ecda65
* Content: [Connect to Office 365 PowerShell](https://docs.microsoft.com/en-gb/office365/enterprise

[2020-03-26 13:32] swinster commented on #765
The docs above state:

Note: Not "Windows" PowerShell

But then go onto say:

Will this be available to work for PS6/7?

[2020-03-26 14:01] swinster commented on #764
Ok the above is relate to #765 as you stated that "PS version 5.1 or higher" should be use, but PS 6/7 is not supported :(

Still, I guess Azure Az will be the future here?

[2020-03-26 18:09] JoeDavies-MSFT commented on #765
Article updated to include information about PowerShell 7. Thanks for letting us know.

[2020-03-26 18:09] #765 closed

[2020-03-26 18:11] JoeDavies-MSFT commented on #764
Article updated to include installing the AzureAz module as an alternative to the separate Azure Active Directory PowerShell for Graph. Thanks for letting us know.

[2020-03-26 18:11] #764 closed

[2020-03-26 19:58] #742 closed

[2020-03-26 20:01] darylzero commented on #649
It's March 26th, have you finished discussing this yet!?
Why is it so hard to get a list of IP's from you guys?  People have been asking for these IP's for over a year all over the web.

[2020-03-26 20:23] pandrew1 commented on #755
@jimjimbojimbob I got an answer for you. These IP Addresses should not be in the SPF detail.

These IPs are used to send very specific type of mail: outbound messages where sender domains do not belong to the customers who sent them. We cannot block that mail altogether because of some legit auto-forwarding scenarios, but we cannot make that mail look authenticated from the receivers’ POV because

[2020-03-26 20:25] JoeDavies-MSFT commented on #737
PR 751 is merged and published.

[2020-03-26 20:25] #737 closed

[2020-03-26 21:16] UKayo commented on #742
Than you so much for testing! However, my point only applies to "mailNickname." Please test with this attribute

[2020-03-27 00:03] lubergst opened #766 "Dynamics 365"
Do we have a public facing architecture of Dynamics 365

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 096f9573-ba23-b0a0-23dc-7b0eb57a17d8
* Version Independent ID: 45643fe7-700e-8eca-b7b9-563327472d6b
* Content: [Microsoft cloud IT architecture resources](https://docs.microsoft.com/en-us/office365/enterprise/microsof

[2020-03-27 01:25] taisino opened #767 "Need to allow business.bing.com?"
When I use sharepoint online, I can see the traffic to business.bing.com from sharepoint page.
Should this FQDN be allowed, or optional?
Please give the explanation of this FQDN.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec66569

[2020-03-27 14:48] JoeDavies-MSFT commented on #727
@ziggynemeth Sorry for the delay. Please create a similar issue here: https://github.com/microsoft/idfix/issues The IdFix tool is now being maintained as an open source project and this team can help you with this request. Thanks.

[2020-03-27 14:54] JoeDavies-MSFT commented on #767
@taisino Taking this investigation and its discussion internal to Microsoft.

[2020-03-27 14:54] #767 closed

[2020-03-27 15:34] JoeDavies-MSFT commented on #752
@adrianwells The https://docs.microsoft.com/en-us/SkypeForBusiness/set-up-your-computer-for-windows-powershell/set-up-your-computer-for-windows-powershell?source=docs article as been updated to link to the correct page. Thanks for letting us know.

[2020-03-27 15:34] #752 closed

[2020-03-27 16:16] JoeDavies-MSFT commented on #753
@Larryngolog Taking this issue internal to Microsoft for discussion and investigation. Thanks for letting us know.

[2020-03-27 16:16] #753 closed

[2020-03-27 22:28] msbemba commented on #742
@UKayo  Thank you for the response. I see that there is a Uservoice for this particular attribute https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/39013438-fix-the-behavior-that-the-character-set-as-the-mai

We have updated the note on the document to reflect the same. Reference  PR #https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/768

Thanks
Sri

[2020-03-28 15:24] mypil commented on #755
@jimjimbojimbob - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by pandrew1 so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-28 15:24] #755 closed

[2020-03-29 12:59] bchris999 commented on #94
Almost 2 years later, any progress on this?

[2020-03-29 22:02] msbemba commented on #756
@tuanna106  Thank you for the feedback. The prerequisites and checklist for implementing the Azure express route are outlined in the below document.

There are no specific limits on how many licenses or subscribers

https://docs.microsoft.com/en-us/azure/expressroute/expressroute-prerequisites

Hope this helps!

Thanks
Sri

[2020-03-30 14:31] JoeDavies-MSFT commented on #94
Assigning to kenwith for input.

[2020-03-30 19:05] kenwith commented on #94
@bchris999 - I am looking into this question in regards to Teams. Doing some research I found this article: https://docs.microsoft.com/en-us/microsoft-365/admin/misc/add-partner?view=o365-worldwide and am discussing with @JoeDavies-MSFT and @Sirkkuw if we need more information for Teams specifically. Our initial thinking is that a partner with these permissions could do anything a global admin cou

[2020-03-30 22:51] mypil commented on #727
@JoeDavies-MSFT - Thanks for your guidance.

@ziggynemeth - From our understanding, the issue you raised has been answered by the author-JoeDavies-MSFT  so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-30 22:51] #727 closed

[2020-03-30 23:41] ziggynemeth opened #772 "Incorrect download link to old version"
The download link on this page points to old v1.11.6579.29793. It should point to GitHub v2.1.2.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c937e8be-1696-c315-a93b-88f083279644
* Version Independent ID: c0c3d253-4bfe-1750-58a1-4d8f4a1e68d6
* Content: [Download and run the Office 365 IdFix tool](https://docs.micros

[2020-03-31 02:06] Manaf-Ibrahim opened #773 "Update required to script for checking MSOnline module version"
The path for this script needs to be changed as the module files are no longer located in System32 but rather this path:

C:\Program Files\WindowsPowerShell\Modules\MSOnline\1.1.183.57\Microsoft.Online.Administration.Automation.PSModule.dll 

The script in the current documentation returns this output:

Get-Item : Cannot find path 'C:\Program
Files\WindowsPowerShell\Modules\MSOnline\Microsoft.Onli

[2020-03-31 14:41] TheBaban opened #776 "Add the endpoints used by Office to get updates (OfficeCDN)"
In the Optimize URLs list, you should add the endpoints used by Office 365 ProPlus to update, to avoid that payload to comes through the VPN.
The endpoints are documented in the following article:
https://techcommunity.microsoft.com/t5/office-365-blog/configuring-office-365-proplus-updates-for-remote-workers-using/ba-p/1253491

There is 3 endpoints to whitelist:
mrodevicemgr.officeapps.live.com
of

[2020-03-31 16:13] DEberhardt commented on #324
Passing of a Credential Token without MFA is great.
With MFA it is a royal pain in the backside having to connect to 3 Services (especially if the Timout for the session is very low...) and you need to redo it 20 times a day (times 3)
Any chance this can be improved upon?

[2020-03-31 17:30] JoeDavies-MSFT commented on #773
@Manaf-Ibrahim  Added text for the error and how to check the version for more modern versions of the MSOnline module. Thanks so much for letting us know.

[2020-03-31 17:30] #773 closed

[2020-03-31 17:31] JoeDavies-MSFT commented on #772
@ziggynemeth Article is updated for the GitHub repository and with instructions to download. Thanks so much for letting us know.

[2020-03-31 17:31] #772 closed

[2020-04-01 22:43] pratikdedhia1987 opened #779 "Teams client update version number"
Can we document the version number of the update that will include the fix ?

A current requirement for this to work in 100% of scenarios is to also add the IP range 13.107.60.1/32. This should not be necessary very shortly due to an update in the latest Teams client due for release w/c March 30 2020.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-04-02 07:46] rafalfitt opened #780 "time is usually expressed in time units ;-)"
Time to Impact (in bytes/sec)
IMHO it should be seconds

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8836f0de-d00c-e6c6-984b-581a120bef7c
* Version Independent ID: 885bdef5-4c1e-abf7-cfd6-1cee68a030a1
* Content: [Office 365 Core Principles of Defense Against Denial-of-Service Attacks](https://docs.microsoft.com/en-us

[2020-04-02 11:07] VLG17 commented on #754
@gnerd Yes, licenses are required for shared mailboxes in a Multi-Geo scenario, according to [this article](https://techcommunity.microsoft.com/t5/security-privacy-and-compliance/multi-geo-in-exchange-online-and-onedrive/ba-p/182710).

Although you need to keep this in mind, which was mentioned in the comments of the mentioned article:

![image](https://user-images.githubusercontent.com/41186174/7

[2020-04-02 19:59] PaulCollinge commented on #779
We'll update the article with this information as soon as it's known which should be within the next week.

[2020-04-02 20:11] PaulCollinge commented on #776
The Optimize marked endpoints are very tightly controlled and are designed to allow customers to perform simple and priority driven optimization on endpoints which are very high volume and/or latency sensitive. Endpoints in this category have to meet certain criteria such as a low rate of change, a small, defined set of IPs and so on. Unfortunately the pro-plus update endpoints do not meet the str

[2020-04-04 17:14] identityiskey commented on #734
OneDrive on macOS does indeed work with Certificate Based Authentication. Besides the known prerequisite of a certificate that has both the E.K.U client authentication and the User UPN in the NT Principal Name SAN (Subject Alternative Name) set. The key here is that you use the set-identity preference setting in macOS (either trough GUI or command). The set identity preference has to be created on

[2020-04-05 15:38] mypil commented on #754
@gnerd  - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by VLG17 so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-05 15:38] #754 closed

[2020-04-05 17:40] mypil commented on #756
@tuanna106 - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-05 17:40] #756 closed

[2020-04-05 23:09] bingoglossy opened #783 "What about iPadOS? It's now separate from iOS so does it need to have its own bullet?"
What about iPadOS? It's now separate from iOS so does it need to have its own bullet?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c554e4c6-b078-134a-dd27-43310c93aa45
* Version Independent ID: a55042c0-f1f4-5750-5a03-fe9fad687367
* Content: [Office 365 Client App Support — Modern Authentication](https://docs

[2020-04-07 02:08] mypil commented on #776
@TheBaban - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by PaulCollinge so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-07 02:08] #776 closed

[2020-04-07 09:16] Clickbaitcake opened #785 "Mising IP addresses"
IPs in 144 range are missing from this list. Microsoft teams communicates to these addresses.

52.114.119.85
52.114.144.88

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP address ranges]

[2020-04-07 15:34] dab-ms opened #786 "Move Yammer bubble higher on the page"
Hi team,

Can we request the Yammer Note bubble is moved to a more prominent position on the page i.e. underneath other Notes?

The page is quite long vertically so the Yammer note may go unnoticed as it did with a recent customer interaction I had. I am referring to

"Note For recommendations on Yammer IP addresses and URLs, see this blog post."

Thanks

---
#### Document Details

⚠ *Do not edit

[2020-04-07 15:46] Larryngolog commented on #744
Can you please correct the article then? It clearly states today that European customers will get their data stored in UK:

Country
European Union

City:
Austria, Finland, France, Germany, Ireland, Netherlands, United Kingdom

[2020-04-07 16:25] JoeDavies-MSFT commented on #785
@Clickbaitcake The address block starting with 52.114 is included in the 52.112.0.0/14 block that is listed. Thanks for you question.

[2020-04-07 16:25] #785 closed

[2020-04-08 16:59] artproton33 opened #789 "The"
[ป้อนคำติชมที่นี่]

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: c554e4c6-b078-134a-dd27-43310c93aa45
* Version Independent ID: a55042c0-f1f4-5750-5a03-fe9fad687367
* Content: [Office 365 Client App Support — Modern Authentication](https://docs.microsoft.com/th-th/office365/enterprise/office-365-client-support-modern-authent

[2020-04-08 20:54] felgar73 opened #790 "URL(s) for non-O365 recipients"
Can you provide more details on what is required from external, non-O365 recipients (Google, Exch on-prem, etc.) to decrypt or access the OME portal and request the OTP? Is there a specific URL or URLs that are needed to be allowed via firewall such as, "*outlook.office365.com/Encryption/", which is what I see in my testing, but is not exactly documented?
-Thanks

---
#### Document Details

⚠ *Do

[2020-04-08 23:34] mypil commented on #789
@artproton33 - คุณช่วยกรุณาแบ่งปันปัญหาเฉพาะที่คุณมีกับเอกสารนี้หรือไม่

[2020-04-09 00:59] jammib commented on #722
I'm not sure how it is possible to secure a hybrid exchange deployment without this information.  Should I just open my Exchange server to the world and hope that the Internet blocks all the bad guys?  That doesn't feel like a great plan.

[2020-04-09 14:51] JoeDavies-MSFT commented on #790
@felgar73 Taking this issue up for internal Microsoft discussion. Thanks for letting us know.

[2020-04-09 14:51] #790 closed

[2020-04-09 15:13] felgar73 commented on #790
Thanks!

-Felix G.

From: Joe Davies <notifications@github.com>
Sent: Thursday, April 9, 2020 10:51 AM
To: MicrosoftDocs/OfficeDocs-Enterprise <OfficeDocs-Enterprise@noreply.github.com>
Cc: Felix Garcia <felgar@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-Enterprise] URL(s) for non-O365 recipients (#790)

@felgar73<https://nam06.safelinks.protection.o

[2020-04-10 15:20] kelleyvice-msft commented on #722
Hi @jammib. This is certainly a legitimate request, and we are working with the engineering team to get this information documented. I'll update this issue as we make progress. Thanks for bringing this to our attention.

[2020-04-10 18:12] missilelaunchr commented on #722
@kelleyvice-msft Thank you for acknowledging this issue, you are amazing.

[2020-04-10 21:59] mypil commented on #758
@NoahGo-us - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/commit/d449a011f9b45cecd5ef6a9a7ee17bdacfa025c7.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-10 21:59] #758 closed

[2020-04-11 03:55] guptha1989 opened #794 "Wrong Cmdlet"
Note 1 says Remove-AzureAD instead of Remove-Azureaduser

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 223fde07-be36-8fb8-b756-4f3c8087210f
* Version Independent ID: 4d993987-b95a-62d8-0237-e4caec5908d2
* Content: [Delete user accounts with Office 365 PowerShell](https://docs.microsoft.com/en-us/office365/enterprise/p

[2020-04-13 16:04] qaehtesh opened #795 "Add Windows Native Mail Client to the List"
I can't seems to find Windows Native Mail Client in the list although for sure it is  one of the Windows Apps which does support modern authentication when we sign-in.

Could we get this document updated to add Add Windows Native Mail Client to the List.

This indeed would be helpful as many customer's are in process of evaluating their environment for clients and applications that supports modern

[2020-04-13 16:39] JoeDavies-MSFT commented on #794
@guptha1989 This has been corrected and updated. Thanks so much for letting us know.

[2020-04-13 16:39] #794 closed

[2020-04-13 16:45] guptha1989 commented on #794
It still shows as below,

The -ObjectID parameter in the Remove-AzureAD cmdlet accepts either the account's sign-in name, also known as the User Principal Name, or the account's object ID.

I think that should be

The -ObjectID parameter in the Remove-AzureADUser cmdlet accepts either the account's sign-in name, also known as the User Principal Name, or the account's object ID.

[2020-04-13 17:41] JoeDavies-MSFT commented on #794
@guptha1989  It is there now. Publishing delays. Thanks again.

[2020-04-13 23:03] mypil commented on #795
@qaehtesh - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-04-15 05:55] dneto82 opened #802 "Conditional Access - Based on Named Locations / Trusted IP"
Hi. Great news. But wasn't clear to me, how this will work with Conditional Access Ruled based on Named Locations / Trusted IPs source.

If select "Optimize" to split tunneling, how this will affect conditional access rules based on source IP/Named Locations?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b1a1d14-d150

[2020-04-15 07:10] musashiharuno opened #803 "correct the word "the latest cummulative " to "the latest cumulative ""
wrong spell, please correct the word  "the latest cummulative " to "the latest cumulative "

•	All Exchange servers must have the latest cumulative updates installed, see Upgrade Exchange to the latest Cumulative Updates to find and manage all available updates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 626caf29-7

[2020-04-15 07:53] Petri-X opened #804 "Could you add description/purposes for these lines?"
Hi,
Is there any change that you could add a description to each of those lines? That would be much more informative for us. E.g. when smtp.office365.com TCP: 587 is really needed? Currently when looking for my Outlook's connection statuses it shows only "HTTP".
![image](https://user-images.githubusercontent.com/43988151/79312218-3e016980-7f07-11ea-8517-3e5aea226a29.png)

But still you have marked

[2020-04-15 09:16] Petri-X opened #805 "Missing IDs?"
Hi,
When looking for the list of the networks and hosts, you have the ID on the row. But quite fast you could see that there are missing IDs from the list: 4, 7, 20, 21, 23, etc...

Is there a reason for that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID:

[2020-04-15 13:35] optiimusprime commented on #779
This is really useful. Thank you. Any chance of getting a howto guide for Fortigate? Also, if we restrict selective split tunnelling say only for MS Teams (scenario 2), this means any O365 url other than MS Teams would still traverse the VPN and go out to the internet via the corporate proxy? Just wondering how the user experience might be in this case.

[2020-04-15 16:05] Jonher937 commented on #748
@LauraWi Hijacking this a bit to show that we are facing a similar problem of IP's in production not being documented.
Even IP's used for EOP -> On-Prem servers (connector from 365) are missing from the API and docs pages.

Here's two examples we see incoming SMTP traffic from:
* EUR02-HE1-obe.outbound.protection.outlook.com which has the IP: 213.199.180.175
* EUR04-VI1-obe.outbound.protection.out

[2020-04-15 16:07] jdcoats opened #807 "04/15/2020 Feed Service is down, Internal Server Error"
04/15/2020 Feed Service is down, Internal Server Error

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7ebf92c-e478-0f65-0494-97042e974b46
* Version Independent ID: 7e1b9b91-d60d-8665-9a39-2ca77a46b4ce
* Content: [Office 365 IP Address and URL web service](https://docs.microsoft.com/en-us/office365/enterprise/office-36

[2020-04-15 16:08] LauraWi commented on #748
Looping in @pandrew1 for review.

[2020-04-15 16:17] kelleyvice-msft commented on #807
Confirmed. I will touch base with engineering and update this issue.

[2020-04-15 16:29] kelleyvice-msft commented on #807
Engineering is working on the problem. I will reply to this issue when there is more information or the problem is resolved. Thanks for reporting the problem, @jdcoats!

[2020-04-15 16:31] kelleyvice-msft commented on #803
Typo corrected. Thanks, @musashiharuno!

[2020-04-15 16:31] #803 closed

[2020-04-15 16:48] kelleyvice-msft commented on #807
The issue has been mitigated, and I have confirmed. Thank you for reporting this, @jdcoats.

[2020-04-15 16:48] #807 closed

[2020-04-15 18:12] jdcoats commented on #807
this issue is recurring. The feed is still failing https://endpoints.office.com/endpoints/worldwide
It did work for a minute but I've noticed it not being consistent.

[2020-04-15 18:14] kelleyvice-msft commented on #779
@optiimusprime - RE Fortigate guidance, we've been adding links to vendor-specific Office 365 split tunneling guidance as it becomes available. I don't think Fortinet has published guidance specific to Office 365, but they do offer general split-tunneling guidance on their website.

The answer to your second question is yes, and user experience for such a configuration will depend on many variable

[2020-04-15 21:45] jdcoats commented on #807
@kelleyvice-msft this issue is still happening intermittently.

[2020-04-15 22:11] kelleyvice-msft commented on #807
Thanks @jdcoats - I will let engineering know. I know they are still working on resolving the root cause, but it sounds like the mitigation is not resilient.

[2020-04-15 23:26] mypil commented on #789
@artproton33 - เราขอขอบคุณข้อเสนอแนะใด ๆ ที่ปรับปรุงเนื้อหาในเอกสาร Microsoft แต่เราไม่ได้มีการตอบสนองใด ๆ จากคุณเพื่อให้เราจะปิดปัญหานี้

หากมีพื้นที่เฉพาะของเอกสารที่เราสามารถปรับปรุงได้โปรดเปิดประเด็นใหม่โดยคลิกที่ส่วนข้อเสนอแนะในเอกสาร Microsoft เฉพาะซึ่งพบที่ด้านล่างของหน้า ขอบคุณ

[We appreciate any suggestions for improving the content in the Microsoft documentation, but we do not have any

[2020-04-15 23:26] #789 closed

[2020-04-16 01:59] qaehtesh commented on #795
I am referring to modern auth app doc below
Office 365 Client App Support - Modern Authentication
https://docs.microsoft.com/en-us/office365/enterprise/office-365-client-support-modern-authentication

[2020-04-16 10:06] RaghuramP opened #808 "Exchange V2 Module"
Update the document to promote use of Exchange V2 module, rather than V1 that uses legacy authentication.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c551eb1-7ac5-cb02-cd1b-d67ca3886d85
* Version Independent ID: fb690e2e-420e-f697-60f2-39520283d385
* Content: [Connect to all Office 365 services in a single Windows

[2020-04-16 12:41] optiimusprime commented on #779
@kelleyvice-msft - Thanks for that

[2020-04-16 13:07] jmthia opened #809 "set usage location first."
Hello,
To avoid error and the error action, I first set the usage location and the assign the license.
Regards,
Jean Marie

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b6e1db9c-8440-9547-98ab-3bfca008bd86
* Version Independent ID: 17011d6e-4978-6312-274b-586bd9e857de
* Content: [Disable access to services while assig

[2020-04-16 18:02] JoeDavies-MSFT commented on #809
@jmthia Each of the command blocks set the location with the "$usageLocation=$user.UsageLocation" command. Can you tell me which block you are using and which error you are getting?

[2020-04-16 18:07] JoeDavies-MSFT commented on #805
@Petri-X The ID numbers are used for internal purposes. For example, a missing ID number can indicate a block of endpoints that are no longer being used. Thanks for your question.

[2020-04-16 18:07] #805 closed

[2020-04-17 10:03] jopgommans opened #811 "Amount of users/seats minimum"
This article states there is a requirement of 500 EA users, whereas the latest information and the paper on the MS site states a 250 minimum. You might want to update that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdf84db6-c7e8-9a68-0b60-eb0af2de593a
* Version Independent ID: bc0ed520-fccd-c390-b706-71ddfeab4085

[2020-04-17 10:04] jopgommans opened #812 "Pricing"
Additionally: I am having a hard time finding pricing information. Putting a reference to pricing information would add to the quality of this article in my opinion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdf84db6-c7e8-9a68-0b60-eb0af2de593a
* Version Independent ID: bc0ed520-fccd-c390-b706-71ddfeab4085
* Conte

[2020-04-17 10:30] testtenant opened #813 "Data Move Eligibility"
Would it be possible for tenant / organization way back 2015 to be eligible and request for data move when it was created and the geo is not available before as an option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186af886-1433-eb0d-030f-e828a03be906
* Version Independent ID: d5c4cc30-bd40-27ed-c3dc-81e54633b50a
*

[2020-04-17 15:54] JoeDavies-MSFT commented on #786
@dab-ms Based on our automated publishing system for the lists of endpoints, I can't insert the Skype note between the sections of lists. It needs to remain where it is. Thanks for your question.

[2020-04-17 15:54] #786 closed

[2020-04-17 16:18] JoeDavies-MSFT commented on #808
@RaghuramP The article has been updated to use the Exchange Online V2 module and commands. Thanks so much for the suggestion.

[2020-04-17 16:18] #808 closed

[2020-04-17 16:29] lewislivingstone opened #814 "Remove All Licenses From All Users Command Not Working"
Hey,

I had some issues with your command to remove licenses from all users. I kept getting errors which I sadly did not take a screenshot of but basically it wouldn't allow me to remove multiple licenses when separated by commas and also if some of your users have different licenses assigned, it can cause issues if you try and remove a license that doesn't exist for that user.

Therefore, I re-wr

[2020-04-19 21:36] fbrusa opened #816 "Broken link"
Link on "choosing PHS" is broken, it gives a 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bd2f66d-c853-21ff-7f74-ccb1359af4e1
* Version Independent ID: 807303e4-fbf8-ad2c-de8a-5ed65ad9216e
* Content: [Hybrid identity and directory synchronization for Office 365](https://docs.microsoft.com/en-us/office365/enterpr

[2020-04-20 14:58] ioshi13 opened #817 "Firewall doesn't support URLs"
What if the firewall doesn't support URLs, do you have the list of required IPs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP address ranges](https://docs.microsoft.com/en-us/office36

[2020-04-20 15:00] rickyrickuk opened #818 "Microsoft Teams Live Events IPs/URLs"
Are the Teams Live Events IPs/URLs covered by the Teams IPs on this page?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP address ranges](https://docs.microsoft.com/en-gb/office365/enter

[2020-04-20 15:00] rickyrickuk commented on #817
IPs show in the tables as well as URLs.

[2020-04-20 16:15] cimares commented on #811
Just to support this, the O365 blog was released last Wed 15th April with the updated limits.. though the marketing pages still show 500 too!

https://techcommunity.microsoft.com/t5/blogs/blogarticleprintpage/blog-id/Office365Blog/article-id/2176

[2020-04-20 16:43] JoeDavies-MSFT commented on #816
@fbrusa This has been corrected. Thanks so much for letting us know.

[2020-04-20 16:43] #816 closed

[2020-04-20 16:44] JoeDavies-MSFT commented on #814
@lewislivingstone The article has been updated with your code. Thanks so much for your effort.

[2020-04-20 16:44] #814 closed

[2020-04-20 16:45] JoeDavies-MSFT commented on #804
@Petri-X I will pass your suggestion to the product team. Currently, the automated process that creates these tables does not include this information.

[2020-04-20 16:45] #804 closed

[2020-04-20 16:45] ioshi13 commented on #817
Some of the URLs doesn't have the corresponding IPs like line 32, 33, 35, 36, etc. Is the IPs provided here enough?

[2020-04-20 19:11] rickyrickuk commented on #817
I would hope so, but resolving one of them (e.g. g.live.com in line 36) to 52.142.114.176. This IP doesn't seem to be in the list.
Maybe someone from Microsoft can advise?

[2020-04-20 23:21] mypil commented on #779
@pratikdedhia1987 @optiimusprime - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @PaulCollinge and @kelleyvice-msft so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-20 23:21] #779 closed

[2020-04-20 23:27] mypil commented on #802
@dneto82 - Thank you for submitting feedback.

PR #806 has been created by @MartinRinas to resolve this issue once the PR is merged.

Thank you and we appreciate your contribution to make the docs better!

[2020-04-21 18:07] andybergen commented on #813
Yes, if the tenant signup country is valid.

[2020-04-21 18:29] #813 closed

[2020-04-21 20:04] JeremyTyers opened #821 "Alignment with DPA"
within the top of the page I see a link titled "definitions for different types of data" which links to this location https://www.microsoft.com/en-us/trust-center/privacy/customer-data-definitions

It appears to be missing data definitions as they are represented within the OST / DPT.  Namely "Diagnostic Data", “Professional Services Data” , “Service Generated Data” , "Support Data" = is defined s

[2020-04-22 11:52] brianreidc7 opened #824 "SharePoint Online Record no longer required"
In this page (under "Choose the SPF record structure you need") it says in the Note section and row 3 of the table that the SPF record should contain include:sharepointonline.com. But https://docs.microsoft.com/en-gb/microsoft-365/security/office-365-security/set-up-spf-in-office-365-to-help-prevent-spoofing?view=o365-worldwide says that this is no longer necessary. Both of these documents where l

[2020-04-22 15:41] JonScott46 opened #825 "Tenant in common"
We are two schools in different countries looking to create collaborative learning opportunities for students. Wondering if it is better to create a middle-ground Tenant which shares information with Tenants in each school, in order to ensure security of data. Or is it in fact better to have simple trust relationships between our two existing Tenants—if so what are the risks?

---
#### Document De

[2020-04-22 18:05] mprentice22153 opened #826 "Provide needed commands"
In this document you provide a lot of good steps and commands.  Can you please provide the needed commands for the last part of this section?  https://docs.microsoft.com/en-us/office365/enterprise/configure-exchange-server-for-hybrid-modern-authentication#verify-virtual-directories-are-properly-configured

What are the commands needed if the virtual directories are not enabled with OAuth?  In our

[2020-04-22 18:28] 99littlebugs opened #828 "TenantName only works for some sections"
If I connect to the webservice with the service name filled in, only some sections get the * replaced.
Sample: https://endpoints.office.com/endpoints/worldwide?clientrequestid=b10c5ed1-bad1-445f-b386-b919946339a7&TenantName=something

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7ebf92c-e478-0f65-0494-97042e974b46
*

[2020-04-22 23:50] norrcom opened #829 "Step 2 is broken"
Context:
Powershell v7.0.0 / Windows 10 Pro (v1809, OS Build 17763.1158)
Step 1 completes no errors.

Next:
Instructions state the following:

Step 2: Connect to Azure AD for your Office 365 subscription
To connect to Azure AD for your Office 365 subscription with an account name and password or with multi-factor authentication (MFA), run one of these commands.

However, running the prescribed com

[2020-04-22 23:56] JoeDavies-MSFT commented on #829
@norrcom Run the "Get-InstalledModule" PowerShell command and verify that you have the "Azure-AD" module name in the list. If not run the "Install-Module -Name AzureAD" command again.

[2020-04-22 23:58] Manaf-Ibrahim commented on #829
Hi @Norrcom,

Not sure if this will help as it is a missing step from this article but try running "Import-Module AzureAD" - I think the issue is that the module is installed but not available in the current context of the session.

If that doesn't work then the contributor will have to step in here and review further.

[2020-04-23 00:01] norrcom commented on #829
Get-InstalledModule`

Version              Name                                Repository           Description
-------              ----                                ----------           -----------
2.0.2.76             AzureAD                             PSGallery            Azure Active Directory V2 General Availa…
1.1.183.57           MSOnline                            PSGallery

[2020-04-23 00:04] davidck-msft opened #830 "Is the management API supported in DoD tenants?"
*.manage.office.com and manage.office.com endpoints are listed in the Worldwide endpoints. And *.manage.office365.us and manage.office365.us are listed as GCC High endpoints.

But there are no endpoints for the Microsoft Office365 Management Activity API documented in this specific article, does this mean that the Management Activity API endpoints are not supported on DoD environments?

---
#### D

[2020-04-23 00:05] norrcom commented on #829
Step missing from document:

Import-Module AzureAD

[2020-04-23 00:05] #829 closed

[2020-04-23 00:09] norrcom opened #831 "Step 2: Connect-AzureAD: Errors: Could not load type 'System.Security.Cryptography.SHA256Cng'"
Context:
Windows 10 Pro (v1809 OS Build 17763.1158)
Powershell v7.0.0

Step 1: Install-Module -Name AzureAD
Step 2: Import-Module AzureAD
Step 3: Connect-AzureAD

<pre>Connect-AzureAD
Connect-AzureAD: One or more errors occurred. (Could not load type 'System.Security.Cryptography.SHA256Cng' from assembly 'System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.): Could not

[2020-04-23 01:25] ndambrosio opened #832 "Misspelling of tunneling"
Throughout this article we use tunnelling, the correct spelling is tunneling.  This is also an issue in "Overview: VPN split tunnelling for Office 365" https://docs.microsoft.com/en-us/office365/enterprise/office-365-vpn-split-tunnel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83a36fa1-0345-87d0-7fea-cca68bfe1915
*

[2020-04-23 01:27] ndambrosio opened #833 "Misspelling of tunneling"
Throughout this article we use tunnelling, the correct spelling is tunneling. This is also an issue in "Related topics
Implementing VPN split tunnelling for Office 365" https://docs.microsoft.com/en-us/office365/enterprise/office-365-vpn-implement-split-tunnel

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b1a1d14-d15

[2020-04-23 12:22] PaulCollinge commented on #832
Both are correct, one is correct for US English (single l) and the other is more pervasively used elsewhere in the world and the presence of both is due to authors being from various locations. We'll correct to a standard form however, thanks for pointing it out.

[2020-04-23 14:38] jmthia commented on #809
HI @JoeDavies-MSFT,
yes each block set the location after setting the licence
Set-MsolUserLicense -UserPrincipalName $userUpn -AddLicenses $accountSkuId -ErrorAction SilentlyContinue
Sleep -Seconds 5
Set-MsolUserLicense -UserPrincipalName $userUpn -LicenseOptions $licenseOptions -ErrorAction SilentlyContinue
Set-MsolUser -UserPrincipalName $userUpn -UsageLocation $usageLocation

but so using EA si

[2020-04-23 15:13] cbowen248 opened #834 "IP address range missing for port 587"
We are trying to allow network traffic through one of our Systems on Port 587 and we found that one of the ranges that it is using isn't listed here which is making it very difficult to get some of our systems working properly. When pinging smtp.office365.com we are getting an IP Address of 40.97.165.210. If we could get that updated so we know which ranges are being used please.

---
#### Documen

[2020-04-23 16:36] JoeDavies-MSFT commented on #834
@cbowen248 The 40.97.165.210 address is included in the 40.96.0.0/13 range in table ID 2. Does this answer your question?

[2020-04-24 15:13] 99littlebugs commented on #564
Based on the docs, it seems like the asterisk (*) is meant to indicate your tenant name. That said, I raised https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/issues/828 because it was only working for some sections. Stay tuned.

[2020-04-24 22:46] JoeDavies-MSFT commented on #831
@norrcom I was unable to reproduce this error. Please file a support ticket at https://azure.microsoft.com/en-us/support/options/. Thanks

[2020-04-24 22:46] #831 closed

[2020-04-24 23:06] JoeDavies-MSFT commented on #809
@jmthia I revised the code blocks to remove the use of usage location entirely. The Set-MsolUser command is not needed to set licensing configuration on a user account.

[2020-04-24 23:06] #809 closed

[2020-04-26 00:18] mypil commented on #711
@OfficeGlobal - Do you have any updates on this?

Thank you.

[2020-04-27 16:16] Jonher937 commented on #748
@pandrew1 have you had a chance to review this? Thanks

[2020-04-27 23:19] mypil commented on #802
@dneto82 - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/commit/8e1778101ad791e4ad2872621aea621465795d18.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-27 23:19] #802 closed

[2020-04-27 23:21] mypil commented on #717
@miss-tech - From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/commit/27a9e3912f0eada2be7c01daf609f1bd9eb288d2.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-27 23:21] #717 closed

[2020-04-27 23:25] msbemba commented on #795
@qaehtesh Thank you for the feedback. This document pertains only to Office 365 Applications so the windows native app isn't added to the list.

Hope this helps!

Thanks
Sri

[2020-04-27 23:27] msbemba commented on #783
@bingoglossy Thank you for the feedback. We have made changes to the doc via PR#https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/839

Thanks
Sri

[2020-04-27 23:30] msbemba commented on #780
@rafalfitt Thank you for the feedback. We have modified the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/840

Thanks
Sri

[2020-04-28 00:35] qaehtesh commented on #795
Thank you Sri, is there a documentation referring to windows native apps with modern auth, I couldn't find one.

[2020-04-28 01:04] msbemba commented on #795
@qaehtesh  I could not find one pertaining to Windows Mail Application. I was able to test and it supports Modern authentication.

Thanks
Sri

[2020-04-28 01:24] qaehtesh commented on #795
Thanks Sri, yes it works and have confirmed that it is supported , it is just that there is no public documentation for it.
So it becomes reactive where customer opening a ticket to ask with support rather proactively finding a documentation themselves which do not exist, that's why i was trying to get this updated

[2020-04-29 10:03] JBines opened #841 "maximum of four (not five) dedicated global administrators"
needs to be changed to 4 inline with https://docs.microsoft.com/en-us/microsoft-365/admin/add-users/about-admin-roles?view=o365-worldwide
"maximum of five dedicated global administrator"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96784dc6-991a-fb80-cd0c-ae8217c32f45
* Version Independent ID: 0532ace1-bf55-916f-708d

[2020-04-29 14:01] Petri-X opened #842 "Live Event attendee IPs or hijacked IP?"
When joining to Live Event session I could see, my computer have lot of communication to server:
endpoint2-prdneucompsvc.streaming.mediaservices.windows.net
with IP: 152.199.19.160

But that IP address is not listed on this page? Is that a hijacked server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-49

[2020-04-29 15:04] JoeDavies-MSFT commented on #834
@cbowen248 Hope this explanation closes this issue. Please reopen if you have additional questions.

[2020-04-29 15:04] #834 closed

[2020-04-29 15:07] JoeDavies-MSFT commented on #842
@Petri-X The endpoint2-prdneucompsvc.streaming.mediaservices.windows.net domain name is included in the *.streaming.mediaservices.windows.net FQDN (see ID 16). We don't list the IP addresses for default category endpoints. See https://techcommunity.microsoft.com/t5/office-365-networking/why-are-some-office-365-network-endpoints-provided-as-urls-only/m-p/310490#M97 for a detailed explanation. Thank

[2020-04-29 15:07] #842 closed

[2020-04-29 16:53] Petri-X opened #843 "Better link to Categories"
Hi,
You have the following section:

Instead of having this short link, it would be more helpful for readers if you could use this URL instead: [New Office 365 endpoint categories](https://docs.microsoft.com/en-us/office365/enterprise/office-365-network-connectivity-principles#new-office-365-endpoint-categories)
I believe readers - like me :) - might get lost, so it would be better to have direct

[2020-04-29 16:54] Petri-X commented on #842
Thank you @JoeDavies-MSFT
This was helpful advice!

[2020-04-30 05:15] norrcom commented on #831
Joe could you please provide the environment you were using when you were unable to replicate this issue? For example what version of Powershell were you using?

[2020-04-30 10:26] Petri-X opened #846 "How have access to the Service Health"
Hi,
Who have the access to the page? What role is required. And more important, can we open this page on company wide?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd2a834a-296b-1c7d-7358-6f6a19f8f3c3
* Version Independent ID: 9ab6adbe-c651-d833-f395-64b7cddb2dd2
* Content: [How to check Office 365 service health](ht

[2020-04-30 14:25] LukeChung opened #847 "How to combine multiple SPF1 with ~all and -all"
We need to combine these:
"v=spf1 include:_spf.google.com include:mail.zendesk.com ~all"
"v=spf1 include:spf.protection.outlook.com -all"

Notice the difference in the ~all and -all. Not sure if that matters.

Does it become this or do the "all" parts also need to be combined in some way?
"v=spf1 include:_spf.google.com include:mail.zendesk.com ~all include:spf.protection.outlook.com -all"

[Enter

[2020-04-30 20:58] JonesMikael opened #848 "Please clarify pre-requisites compared to Include coarse office location information in networks metrics in the admin portal"
There's a setting in the admin portal: https://portal.microsoft.com/adminportal/home#/networkperformance &gt;  Click here to configure settings &gt; [ ] Include coarse office location information in networks metrics. Would be good to mention and clarify how this setting relates (and what is required) in the pre-requisites section. Are both needed? Just one and what is the result enabling only one

[2020-05-01 22:59] mypil commented on #832
@ndambrosio - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @PaulCollinge so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-01 22:59] #832 closed

[2020-05-01 22:59] mypil commented on #833
@ndambrosio - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @PaulCollinge based on this similar https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/issues/832#issuecomment-618371042 so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-01 22:59] #833 closed

[2020-05-02 19:51] HarmlessDave opened #849 "CSV Requires huge mass of optional data?"
When creating manually, only 3 columns are needed: email, first name, last name.  Unless there are undocumented methods, import from CSV requires creating all 15 columns or leaving them blank. Blank is fine for most fields but the display name should come from first and last name by default.  Either the documentation is incomplete or the feature can be improved.

---
#### Document Details

⚠ *Do n

[2020-05-04 06:36] msbemba commented on #811
@jopgommans  Thank you for your feedback. We corrected the minimum requirement on the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/850

Thanks
Sri

[2020-05-04 06:38] msbemba commented on #812
@jopgommans  Thank you for your feedback. We have added a note to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/850

Thanks
Sri

[2020-05-04 06:48] msbemba commented on #847
@LukeChung  Thank you for your feedback. There can be only one SPF record and it is all about publishing a list of servers that are authorized to send on behalf of a domain.

By adding a prefix of “~” or “-“, the meaning of the mechanism is changed to be:

“softfail” in the case of “~”
“fail” in the case of “-“

In your case, you can use either -all or ~all depending on your requirement.

for exam

[2020-05-04 15:02] LukeChung commented on #847
So when I combine it with the office 365 requirement, do I include two all terms or just one at the very end?

Luke

From: Sriraman M S <notifications@github.com>
Sent: Monday, May 4, 2020 2:49 AM
To: MicrosoftDocs/OfficeDocs-Enterprise <OfficeDocs-Enterprise@noreply.github.com>
Cc: Luke Chung <Luke@fmsinc.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-Enterprise

[2020-05-04 15:23] JoeDavies-MSFT commented on #846
@Petri-X Please see the Note after step 1 for information on required roles. Not sure what you mean about "company wide". The service health page is for the entire subscription. Can you clarify? Thanks

[2020-05-04 15:31] JoeDavies-MSFT commented on #843
@Petri-X This update has been made and published. Thanks for the helpful improvement.

[2020-05-04 15:31] #843 closed

[2020-05-04 15:38] JoeDavies-MSFT commented on #841
@JBines This has been corrected and published. Thanks so much for your suggestion.

[2020-05-04 15:38] #841 closed

[2020-05-04 16:01] msbemba commented on #847
@LukeChung  Thank you for your feedback. Yes, One at the very end.  It would be v=spf1 include:_spf.google.com include:mail.zendesk.com include:spf.protection.outlook.com -all if you want to hard fail.

Thanks
Sri

[2020-05-04 16:05] Petri-X commented on #846
ehhh :)
Sorry.

But that means we are not able to allow regular users to read those pages?

[2020-05-04 16:47] LukeChung commented on #847
Thanks.

Is there a simple way to verify the settings are correct?

Luke

From: Sriraman M S <notifications@github.com>
Sent: Monday, May 4, 2020 12:02 PM
To: MicrosoftDocs/OfficeDocs-Enterprise <OfficeDocs-Enterprise@noreply.github.com>
Cc: Luke Chung <Luke@fmsinc.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/OfficeDocs-Enterprise] How to combine multiple SPF1 with ~all a

[2020-05-04 16:51] msbemba commented on #847
@LukeChung  I'd recommend Contacting the Support team from your Office 365 tenant so that a technician will work with you to verify. Let me know if you need details on how to raise a support ticket.

Thanks
Sri

[2020-05-04 23:14] HGHodges commented on #830
Is there a DOD equivalent to manage.office365.us?

[2020-05-04 23:21] exc877 opened #851 "Office 365 IP Addresses and URL's Whitelist Query"
Q1.If there are no Asia-Pacific related IP addresses for Office 365 services. Can you whitelist URL's alone and leave out public IP addresses from "Addresses" column on the article from this URL (Example: Exchange Online - outlook.office.com, smtp.office365.com, SharePoint - [tenant].sharepoint.com, [tenant]-my.sharepoint.com, Teams - *.lync.com, *.teams.microsoft.com, teams.microsoft.com).

Q2.Fo

[2020-05-05 15:28] JoeDavies-MSFT commented on #817
@ioshi13 Please see the blog post at https://techcommunity.microsoft.com/t5/Office-365-Networking/Why-are-some-Office-365-network-endpoints-provided-as-URLs-only/m-p/310490#M97 for information on why some URLs do not have their corresponding IP addresses listed. Thanks

[2020-05-05 21:36] ipcejdiaz opened #852 "Removing all licenses can generate errors"
When using the script in this document to remove licenses, I received an error that is a bit deceiving, since I am not assigning any licenses:

Set-MsolUserLicense : Unable to assign this license.
    + CategoryInfo          : OperationStopped: (:) [Set-MsolUserLicense], MicrosoftOnlineException
    + FullyQualifiedErrorId : Microsoft.Online.Administration.Automation.InvalidLicenseConfigurationExc

[2020-05-07 13:48] get-itips commented on #824
Hello @brianreidc7 thanks for noticing and reporting.
I created a pull request to fix the article, if it gets approval, it will be reflected online.
Thank you

[2020-05-07 14:18] get-itips commented on #826
Hello @mprentice22153 Thanks for your feedback, created a pr to improve the article. If it gets approval, it will be reflected online.

[2020-05-08 08:00] clerckjo opened #855 "Potentially dangerous PowerShell code"
`$_.UserPrincipalName.Replace` might in some cases replace part of either the user part of the UPN (before the @), or partial subdomains (domain.contoso.local) that might exist in AD.
To prevent this, include the @ sign on the replace expression:
`$newUpn = $_.UserPrincipalName.Replace("@contoso.local","@contoso.com")`

Same accounts for the filter expression on `Get-ADUser`: use` -like '*@contoso

[2020-05-08 13:11] Jmartinez589 opened #856 "Need a page like this for Teams"
It is not easy to find the documentation on how to connect to Teams with PowerShell for an account with MFA enabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f318af5-7da8-daec-d038-7bca3d4cabf8
* Version Independent ID: 7cb9bf9d-5b01-7cbd-fa54-cb9847b61fc2
* Content: [Manage Skype for Business Online with Office

[2020-05-08 21:00] bzabber commented on #147
Hi,
There's no definitions for the following status':

VerifyingService
ServiceOperational

[2020-05-08 21:04] bzabber opened #857 "Missing Status descriptions"
Hi,

There's no definitions for the following status':

VerifyingService
ServiceOperational

Status description can be found[ here](https://docs.microsoft.com/en-us/office/office-365-management-api/office-365-service-communications-api-reference#status-definitions).

[2020-05-08 21:15] bzabber commented on #857
The following status also doesn't have a matching status on this [page](https://docs.microsoft.com/en-us/office/office-365-management-api/office-365-service-communications-api-reference#status-definitions).
Investigation suspended

[2020-05-08 22:08] mypil commented on #857
@bzabber - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-05-09 00:43] mypil commented on #817
@rickyrickuk @ioshi13 - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by the author @JoeDavies-MSFT  so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-09 00:43] #817 closed

[2020-05-10 11:54] mypil commented on #847
@LukeChung  - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @msbemba so we will close this issue. You can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-10 11:54] #847 closed

[2020-05-10 18:48] mypil commented on #811
@jopgommans @cimares - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/commit/e76970620c9d7f6858daa7676cee51828bb69f6a.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-10 18:48] #811 closed

[2020-05-11 14:45] JoeDavies-MSFT commented on #818
@rickyrickuk I have forwarded this request to the team that manages the published Teams endpoints for investigation and consideration. Thanks for you suggestion.

[2020-05-11 14:45] #818 closed

[2020-05-12 17:18] JoeDavies-MSFT commented on #846
@Petri-X Yes. That is correct.

[2020-05-12 17:18] #846 closed

[2020-05-12 17:54] JoeDavies-MSFT commented on #852
@ipcejdiaz I reworked the PowerShell commands to use an array and a for-loop to remove the licenses on a per-user basis. Thanks for the suggestion and letting us know.

[2020-05-12 17:54] #852 closed

[2020-05-12 17:55] JoeDavies-MSFT commented on #855
@clerckjo Your suggested corrections have been made and published. Thanks for letting us know.

[2020-05-12 17:55] #855 closed

[2020-05-12 17:56] JoeDavies-MSFT commented on #856
@Jmartinez589 A new page like this one has been created at https://docs.microsoft.com/en-us/office365/enterprise/powershell/manage-microsoft-teams-with-office-365-powershell. Thanks for the suggestion.

[2020-05-12 17:56] #856 closed

[2020-05-12 18:15] ipcejdiaz commented on #852
Hi, I think this will result in the same error since the for loop will not take into account the order in which the licenses are removed.

According to the [documentation for set-msoluserlicense](https://docs.microsoft.com/en-us/powershell/module/msonline/set-msoluserlicense?view=azureadps-1.0), the removelicenses parameter accepts an array of strings as a value, so there would not be a need to cr

[2020-05-12 18:39] Nosferatu-Dk opened #859 "There is no Lync Server 2010 or 2013 in the hybrid environment?"
This might just be me, that is not sure how this is to be understood.

I have a scenario with Hybrid Exchange, and and Onpremis Lync 2013.
Does this mean, that since there is an Onpremis Lync 2013, Hybrid modern Authentication is not possible to setup?

And if so, what would a Modern authentication scenario look like in such a senario :)?

---
#### Document Details

⚠ *Do not edit this section. It

[2020-05-12 21:02] kelleyvice-msft commented on #859
@Nosferatu-Dk, thanks for reaching out. I will do some research on this and get back to you. -Kelley

[2020-05-13 06:36] Petri-X commented on #846
:'(

[2020-05-13 12:35] JBines opened #860 "NIST - Phone and SMS are a RESTRICTED authenticator"
Should phone and sms also be removed from recommendations to align to NIST recommendations

https://pages.nist.gov/800-63-FAQ/#q-b01

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96784dc6-991a-fb80-cd0c-ae8217c32f45
* Version Independent ID: 0532ace1-bf55-916f-708d-5444c49d77b1
* Content: [Protect your Office 365 glob

[2020-05-13 13:41] JBines opened #861 "Conflict in guidance"
Both statements cannot be true. Sorry for the the ocd :) "All other Office 365 administration ***must be*** done by assigning other administration roles to user accounts." & "you should consider whether additional accounts with wide-ranging permissions... should be protected in the same way."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-05-14 11:43] sinhakislay opened #862 "Link does not work"
The link "top 10..." does not work please check
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f142840-ae30-a7e7-af06-f145d2102956
* Version Independent ID: f19fc938-d1fd-9868-78e3-45fd975a94a7
* Content: [Tune Office 365 performance](https://docs.microsoft.com/en-us/office365/enterprise/tune-office-365-performance)
*

[2020-05-14 16:33] HGHodges commented on #830
mange.protection.apps.mil

[2020-05-14 18:41] JBines commented on #861
pulled... common sense should apply

[2020-05-14 18:41] #861 closed

[2020-05-15 07:05] Larryngolog opened #863 "Isolation for Teams data"
Can we please also get information about chat and meeting content separation for Microsoft Teams?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3045ac0-ca41-436d-f23b-e26621b96c5a
* Version Independent ID: 99558152-41b2-c8c8-d6ee-a0d8a837a984
* Content: [Office 365 Isolation and Access Control in Office 365](https://

[2020-05-15 14:45] bzabber commented on #857
@mypil
Here's the link which lists a the status definitions for O365 via the Service Communications API: https://docs.microsoft.com/en-us/office/office-365-management-api/office-365-service-communications-api-reference#status-definitions

The section then references "[How to check Office 365 service health](https://docs.microsoft.com/en-us/office365/enterprise/view-service-health#status-definition

[2020-05-15 16:43] JoeDavies-MSFT commented on #860
@JBines I added a note about the NIST restriction on second authentication methods. Thanks for letting us know.

[2020-05-15 16:43] #860 closed

[2020-05-15 20:10] Dodge1350 opened #865 "Connection Information"
Why does every powershell reference in Microsoft documentation omit the Connection command that must be used prior to the powershell script that is being referenced?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 719591af-cbcc-669e-a4c3-f36f223e7381
* Version Independent ID: d1c0f978-69e3-cbce-a993-3ffd3016ba6b
* Conte

[2020-05-15 20:55] JoeDavies-MSFT commented on #865
@Dodge1350 The instructions to make the connection to SharePoint Online are linked to from the "Before you begin" section at the top of each article.

[2020-05-16 02:10] SheikhAbdulAlmamun commented on #857
What exactly are the requirements for a Shared or Room mailbox located in a Geo-location?    An F1, F3, E3 or E5 and then add a Multi-Geo to a Shared or Room mailbox?   Or is only a Multi-Geo license required for a Shared or Room mailbox?

BR//
Mamun

[2020-05-18 13:12] Apoc70 opened #867 "URL missing"
When enabling the requirement for accepting the Tenants Terms of Use, a client requires access to tokenprovider.termsofuse.identitygovernance.azure.com.

This Url is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec665691179

[2020-05-18 15:53] JoeDavies-MSFT commented on #867
@Apoc70 This URL is included in the *.azure.com URL listed on https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-safelist-urls?tabs=public-cloud. Thanks for your question.

[2020-05-18 15:53] #867 closed

[2020-05-18 20:57] mypil commented on #780
@rafalfitt - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/commit/bc9735cbd99b949cdecdfb25663cb15ecaece133.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-18 20:57] #780 closed

[2020-05-18 21:05] mypil commented on #783
@bingoglossy - Thank you for submitting feedback.

Please see the response from the author based on this https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/839#issuecomment-630316249 so we are going to close this issue.

Thank you for helping us improve the documentation!

[2020-05-18 21:05] #783 closed

[2020-05-19 20:58] mypil commented on #654
@oddhair - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/commit/90749f8ad511e26c2b30bd8abf6f026c24e0ead2.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-19 20:58] #654 closed

[2020-05-19 22:39] mypil commented on #824
@brianreidc7 - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/commit/fadf1c75d1d1422ac7ba2d565fa447e173e70e2c.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-19 22:39] #824 closed

[2020-05-19 23:14] mypil commented on #826
@mprentice22153 - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/commit/565689211f542a9a1e6af803b2d7074f38915d56.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-19 23:14] #826 closed

[2020-05-19 23:40] D4-AzIdentity opened #869 "Broken Link"
Choose Between MDM and Intune
https://docs.microsoft.com/en-us/office365/securitycompliance/choose-between-mdm-and-intune

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23814c6c-d430-65bc-d84d-5e7975266578
* Version Independent ID: 7e0dd7ad-d299-36d4-073e-32c849a51f40
* Content: [Office 365 Client App Support — Conditi

[2020-05-20 14:44] #865 closed

[2020-05-20 18:12] geekgalconsulting opened #870 "This does not work forme."
I have been trying everything I know but this does NOT work for me.

Get-Content "c:\temp\account.txt" | ForEach { Set-MsolUserLicense -UserPrincipalName $_ -RemoveLicenses "acctname:STANDARDWOFFPACK_IW_STUDENT", "acctname:STANDARDWOFFPACK_STUDENT"}

It is NOT removing licenses.    I really do not want to remove licenses one by one on over 2000 people.   Any help available???  (yes I know the "acc

[2020-05-20 21:11] JoeDavies-MSFT commented on #870
@geekgalconsulting Please try this way of doing it:

$x=Get-Content c:\docs\LicenseTest.txt
for ($i=0; $i -lt $x.Count; $i++)
{
Set-MsolUserLicense -UserPrincipalName $x[$i] -RemoveLicenses "acctname:STANDARDWOFFPACK_IW_STUDENT","acctname:STANDARDWOFFPACK_STUDENT"
}

[2020-05-21 19:04] chrfox commented on #825
Hi @JonScott46
Thanks for your question. It sounds like you as looking for multi-geo planning consulting help.  This channel is for comments on documentation. I suggest you check out [Microsoft Tech Communities](https://techcommunity.microsoft.com/) and browse the communities there as a start.

[2020-05-21 19:04] #825 closed

[2020-05-22 14:52] eerstech opened #872 "Connection steps when using multi-factor authentication" $acctName="
the first line of "Connection steps when using multi-factor authentication" $acctName=emailaddress.com gives an error ..is this normal ..I have tried all combination ( emailaddress.com was replaced for posting but give the same exact error with the real email )

ERROR
The term 'emailaddress.com' is not recognized as the name of a
cmdlet, function, script file, or operable program. Check the spelli

[2020-05-22 15:18] JoeDavies-MSFT commented on #872
@eerstech You need to put quotes around emailaddress.com ("$acctName= emailaddress.com"). PowerShell is interpreting emailaddress.com as a command rather than a string. Thanks for your question.

[2020-05-22 15:18] #872 closed

[2020-05-22 15:21] chscott opened #873 "Set-AzureADUserLicense doesn't work as documented"
If I pass in a list of licenses to remove, I get this:

Error occurred while executing SetUserLicenses: User does not have a corresponding license.

If I pass in a single license to remove, it works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90144912-28c3-e215-7763-12beddc645c7
* Version Independent ID: c2aa496c-5

[2020-05-22 15:29] chscott commented on #873
Looks like the issue for me is that I just want to remove _any_ license a user might have without trying to figure out which license the user actually has assigned. I can work around this by getting the licenses and removing them one at a time, swallowing errors along the way. It would be nice to have a way to just unlicense a user. In other words, I don't care what licenses the user has now, I ju

[2020-05-22 15:31] chscott commented on #873
Well, I guess I can't swallow the errors since the cmdlet throws an exception if I try to remove a license that isn't assigned.

[2020-05-22 21:22] JoeDavies-MSFT commented on #870
@geekgalconsulting I have tested the above new code and have updated the article. Please re-open this issue if it doesn't work for you. Thanks for letting us know.

[2020-05-22 21:22] #870 closed

[2020-05-23 07:26] msbemba commented on #795
@qaehtesh We have requested the author of the below document to update about Modern auth support. You should see an update on it soon.

https://support.office.com/en-us/article/set-up-email-in-the-mail-app-for-windows-10-7ff79e8b-439b-4b47-8ff9-3f9a33166c60

Thanks
Sri

[2020-05-24 19:27] mypil commented on #795
@qaehtesh - Thank you for submitting feedback.

This doc - https://support.office.com/en-us/article/set-up-email-in-the-mail-app-for-windows-10-7ff79e8b-439b-4b47-8ff9-3f9a33166c60 does not belong to the Enterprise repo. However, as mentioned by @msbemba, we have already engaged the author for that doc you wanted to be updated about this feedback. We will close this issue now.

Thank you for your

[2020-05-24 19:27] #795 closed

[2020-05-24 20:51] geekgalconsulting commented on #870
Oh, thank you!  I will try it next week.

[2020-05-26 23:34] JoeDavies-MSFT commented on #873
@chscott I added a new section to remove all the licenses from a specified user account. Thanks for your suggestion.

[2020-05-26 23:34] #873 closed

[2020-05-26 23:58] get-itips commented on #851
Hello @exc877 How are you? 👍

About Q.2: The article currently says:

About Q.1: I would say that you can't leave out Public IP Addresses but I would like to check with @JoeDavies-MSFT to confirm.

Thanks

[2020-05-27 04:38] OrawanO opened #875 "Do items are retained for 93 or 90 days In SharePoint Online ?"
Do items are retained for 93 or 90 days In SharePoint Online ?

this link shows 93 days but this article shows 90 days
https://support.office.com/en-us/article/restore-deleted-items-from-the-site-collection-recycle-bin-5fa924ee-16d7-487b-9a0a-021b9062d14b

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4badd6ff-b44c-9df

[2020-05-27 04:48] koolhand opened #876 ""City locations" shows states not cities, for Australia only"
Those are states - large ones - not cities.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82d4d59d-d7b1-81b1-aeaf-6d34f61ae18b
* Version Independent ID: 2b2620fa-7e4f-27ee-2655-47da2391296f
* Content: [Office 365 data locations](https://docs.microsoft.com/en-us/office365/enterprise/o365-data-locations?geo=All)
* Conte

[2020-05-27 07:34] Kressmark opened #877 "Location of Shifts data?"
I would be good to have the location of Shifts data in this page as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82d4d59d-d7b1-81b1-aeaf-6d34f61ae18b
* Version Independent ID: 2b2620fa-7e4f-27ee-2655-47da2391296f
* Content: [Office 365 data locations](https://docs.microsoft.com/en-us/office365/enterprise/o365-d

[2020-05-28 01:42] Shane-zhao opened #878 "IP adress updates"
[Enter feedback here]
would you please update this IP address: 13.107.60.1/32  into https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Conte

[2020-05-28 09:42] VerdonTrigance opened #879 "What do you mean by "Custom-navigation provider""
What are trying to tell by "Custom-navigation provider" for SharePoint Online? It's not possible, doesn't it? You can't add custom SiteMapProvider in any way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe686368-f607-9a7d-710b-d51c3f8f6c9a
* Version Independent ID: 01b5902a-6e23-62d9-f0a3-7c1e86194ef1
* Content: [Na

[2020-05-28 14:32] henascim opened #880 "Reference to Office 2019"
It would be nice to include a reference to Office 2019. I know the behavior should be identical to Office 2016, but I had a couple of customers asking for an explicit reference.
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 059ed9a7-ea75-0fa3-e246-4ad1f1b0c5bc
* Version Independent ID: d7598f96-3158-09ee-024a-

[2020-05-28 15:06] JoeDavies-MSFT commented on #878
@Shane-zhao This IP address might be a Default category endpoint, which we don't explicitly list. Please see https://techcommunity.microsoft.com/t5/Office-365-Networking/Why-are-some-Office-365-network-endpoints-provided-as-URLs-only/m-p/310490#M97  for more information. Thanks for your comment.

[2020-05-28 17:51] rktiwari14 opened #882 "IP missing in article for - Office 365 URLs and IP address ranges"
Hi Team,

I have a customer who is service provider and provide teams service to there customer.  They have whitelisted all o365 IP's for Teams mentioned in given article but when their user is making teams to team call the user are being charged as one of the IP address is not listed in article , They he tracked to know what IP was sent to their DPI system and it was 13.89.219.246. Could you pls

[2020-05-28 19:16] StuBeck32 opened #883 "After install of tools, reboot is required whether prompted or not"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f318af5-7da8-daec-d038-7bca3d4cabf8
* Version Independent ID: 7cb9bf9d-5b01-7cbd-fa54-cb9847b61fc2
* Content: [Manage Skype for Business Online with Office 365 PowerShell](https://docs.microsoft.com/en-us/office365/enterprise/powershell/manage-skype-

[2020-05-29 14:31] SergGu opened #885 "Explain the real purpose of IP range 13.107.60.1/32"
Dear Microsoft Documentation Team,

Can you please explain the real purpose of IP range 13.107.60.1/32? We checked our firewalls and there is not a single hit or session to this destination. Is this a real route for the traffic of some kind OR just a marker used by Teams to discover presence of the VPN solution?

Regards,
Serg

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-05-29 14:50] brazilianthunder opened #886 "Could Microsoft be blocking one of my IPs from using REST API on endpoints.office.com?"
I run the Powershell script to check for any changes daily - that is once at day, at night. Since the 26th, I have been unable to pull anything using REST API coming from one specific IP address.

Powershell errors out and gives the following error "Error The underlying connection was closed: An unexpected error occurred on a receive."

Manually browsing to the URL, like this one https://endpoints

[2020-05-29 14:59] brazilianthunder commented on #886
Also, DNS translates endpoints.office.com to endpointssvcpreview1.westus.cloudapp.azure.com [138.91.80.132] on all my devices.

[2020-05-29 15:10] JoeDavies-MSFT commented on #882
@rktiwari14 Not all IP addresses are listed for Default category endpoints. Please see https://techcommunity.microsoft.com/t5/Office-365-Networking/Why-are-some-Office-365-network-endpoints-provided-as-URLs-only/m-p/310490#M97 for more information. Thanks for your question.

[2020-05-29 15:10] #882 closed

[2020-05-29 15:13] #878 closed

[2020-05-29 15:17] JoeDavies-MSFT commented on #851
@exc877: @get-itips is correct. We can't leave out public IP addresses for Optimize and Allow category endpoints. You are free to just whitelist the FQDN and not whitelist the public IP addresses. Both must be provided to support different types of network edge devices. Thanks for your question.

[2020-05-29 15:17] #851 closed

[2020-05-29 15:56] JoeDavies-MSFT commented on #883
@StuBeck32 Your suggested update has been published. Thanks so much for letting us know.

[2020-05-29 15:56] #883 closed

[2020-05-31 01:41] mypil commented on #886
@brazilianthunder - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolut

[2020-05-31 01:41] #886 closed

[2020-06-01 16:41] joinimran commented on #869
@D4-AzIdentity - Can you please confirm the document where the link is broken so that I can make necessary changes.

Thanks
Imran

[2020-06-02 14:52] ingd opened #889 "Microsoft Edge (chromium based) - Update requirement"
Hello guys,

I am not sure about what kind of Microsoft Edge architecture the documentation talking about. Could someone update this requirement?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a0adf74-b4de-678c-4213-cafe76476dd7
* Version Independent ID: d2cc6acf-7abc-0568-afd0-2b6e1fff380e
* Content: [Use lean popout

[2020-06-03 15:24] jdemaree opened #891 "Microsoft Teams and Verizon CDN?"
Has this been updated to reflect changes in networking related to Microsoft Teams Live events and the Verizon CDN?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP address ranges](https:/

[2020-06-05 06:15] Bart-Hoofd opened #892 "Link is dead"
The link to "Take a look at the top 10 tips for optimizing and troubleshooting your Office 365 network connectivity by Paul Collinge." is dead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f142840-ae30-a7e7-af06-f145d2102956
* Version Independent ID: f19fc938-d1fd-9868-78e3-45fd975a94a7
* Content: [Tune Office 365 p

[2020-06-05 17:26] kerbos opened #893 "Add link to 21Vianet reference"
Please add a link to the explanation of what 21Vianet is in the following note on this page.
**Note:** This CNAME only applies to Office 365 operated by 21Vianet.

Here's the link:
https://docs.microsoft.com/en-us/office365/servicedescriptions/office-365-platform-service-description/office-365-operated-by-21vianet

**Justification:** The MSOID is no longer needed for non-21Vianet but is harmless i

[2020-06-05 19:38] brazilianthunder commented on #886
Well, inexplicably today,  it appears to be working again. Unfortunately I did not have the time to open the case with Microsoft, so I do not know why it happened.
There have been no changes in our infrastructure before, during and after the issue. Thanks for the direction.

[2020-06-05 20:53] mgaryGCM opened #894 "Update request - Windows Update"
[Enter feedback here]
Why is "windowsupdate.com" not included in this list? Is this currently not a well defined Microsoft service domain?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP

[2020-06-06 15:41] mypil commented on #869
@D4-AzIdentity - We would like to follow up. Can you please respond to the query of @joinimran?

Thank you.

[2020-06-06 16:41] msbemba commented on #857
@bzabber Thank you for your feedback. We are discussing this internally and will get back to you shortly.

Thanks
Sri

[2020-06-06 16:43] msbemba commented on #857
@SheikhAbdulAlmamun  Thank you for the questions. Since it does not relate to this document you may have to contact support team for the requirements.

@mypil  Can you provide the contact details for the Support team?

Thanks
Sri

[2020-06-07 15:57] mypil commented on #734
@kelvinwong927 - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @identityiskey so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-07 15:57] #734 closed

[2020-06-07 22:05] mypil commented on #857
@SheikhAbdulAlmamun - You can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so they can help resolve your technical issue. Thank you!

[2020-06-08 13:07] ArthurEzenwanne opened #895 "New-AzureADUser Missing Attribute"
The "**_LicenseAssignment_**" attribute is not found for the New-AzureADUser command; running the command via PowerShell with the attribute added fails.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6320b861-3716-b7da-9068-6047ce728c73
* Version Independent ID: 0319c981-107f-05ba-f874-6a3907961fb

[2020-06-08 13:40] D4-AzIdentity commented on #869
My apologies I have been trying to find the original page from which I clicked to submit feedback but have been unable to find. I will submit another request if I come across it again. It doesn't appear that the feedback carry's leave a indication of where you came from when clicking the feedback button.

[2020-06-08 14:53] JoeDavies-MSFT commented on #895
@ArthurEzenwanne The "LicenseAssignment" parameter is specific to the New-MsolUser cmdlet and is not supported by the New-AzureADUser cmdlet. To assign licenses to user accounts after they are created with New-AzureADUser, see https://docs.microsoft.com/en-us/office365/enterprise/powershell/assign-licenses-to-user-accounts-with-office-365-powershell. Thanks for your question.

[2020-06-08 14:53] #895 closed

[2020-06-08 15:30] JoeDavies-MSFT commented on #894
@mgaryGCM This endpoint is listed here: https://docs.microsoft.com/en-us/windows-server/administration/windows-server-update-services/deploy/2-configure-wsus#211-connection-from-the-wsus-server-to-the-internet  The Office 365 URLs and IP address ranges are primarily for Microsoft 365 and Office 365 endpoints. Thanks for your question.

[2020-06-08 15:30] #894 closed

[2020-06-08 17:13] newsgrep opened #896 "Could you please list a move date for GER"
Could you please decide on a move date for Germany.
Or at least write when the option to apply to move will be open for Germany.
A guess with 2. 3. or 4. quarter of the year would be a start to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 756e6a9b-289c-6ef9-bf79-e36e32e12a98
* Version Independent ID: 49e4602b-fe63-e

[2020-06-08 17:16] newsgrep opened #897 "NO movement 2022 or 2020"
Are you sure the Date in the table for Norway is 30 October 2022?
Also have a look at the screenshot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 756e6a9b-289c-6ef9-bf79-e36e32e12a98
* Version Independent ID: 49e4602b-fe63-e5be-edeb-bd99249f4b8b
* Content: [How to request your data move](https://docs.microsoft.com/e

[2020-06-08 17:21] newsgrep opened #898 "when was my tenant created?"
Please add an information how I can find out the creation date of my a tenant.
So that I can find out if the informationen on this page applies to my tenant.

`The information on this page only applies to customers who had existing Microsoft 365 tenants before the new datacenters in their geo launched.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-06-08 17:21] andybergen commented on #897
Correct.  Eligible customers with a NO signup address can opt-in for migration through the end of October 2020.  Migrations for all eligible workloads will complete by the end of October, 2022.

[2020-06-08 17:23] andybergen commented on #896
We cannot share tentative dates, sorry.  When the program timelines are firm for German tenants we will post guidance at this site and communicate directly to eligible tenants via Message Center.

[2020-06-08 17:24] newsgrep opened #899 "some cities are missing"
Add the cities for Finland, Ireland, Netherlands, Austria in this table:

https://docs.microsoft.com/de-de/office365/enterprise/o365-data-locations#countryregion-specific-data-center-city-locations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82d4d59d-d7b1-81b1-aeaf-6d34f61ae18b
* Version Independent ID: 2b2620fa-7e4

[2020-06-08 17:37] andybergen commented on #898
Migration eligibility depends on the specific workload provisioning date, so tenant creation date may not always be the single date that matters.  The tenant could have been created with just Exchange and then added on OneDrive for Business and Teams later on.

Admins can see subscription info in Admin in Billing / Your Products.

This all comes out in the wash via Data Location in Admin.  If the

[2020-06-08 17:40] newsgrep opened #900 ""South Korea" or "Korea""
please decide, for all the documentation, if you would like to call it "South Korea" or "Korea".

As an example:
https://docs.microsoft.com/en-us/office365/enterprise/request-your-data-move

https://docs.microsoft.com/en-us/office365/enterprise/o365-data-locations#countryregion-specific-data-center-city-locations

I would recommend to call it "South Korea"
You may also have a look here:
https://ww

[2020-06-08 17:54] newsgrep opened #901 "PowerBI and others are missing"
Please add the data location for PowerBI to this list.

And please also for:

- To Do
- Stream Portal
- Stream Mobile Native
- Microsoft Dynamics 365
- Graph
- PowerApps
- Word/Excel/PowerPoint Telemetrie
- Windows 10 Telemetrie

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82d4d59d-d7b1-81b1-aeaf-6d34f61ae18b
* Versi

[2020-06-09 09:05] mcc-ah opened #904 "https://aka.ms/o365networkconnectivity is a 404"
[Enter feedback here]

The link to https://aka.ms/o365networkconnectivity goes to a 404 page https://docs.microsoft.com/en-gb/office365/enterprise/network-connectivity?redirectSourcePath=%252fen-us%252farticle%252fNetwork-connectivity-to-Office-365-64b420ef-0218-48f6-8a34-74bb27633b10.
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-06-09 21:51] msbemba commented on #849
@HarmlessDave  Thank you for your feedback. The optional settings are available while creating a user manually. The Customer's who don't need it can leave it blank but those who want the data updated will find it useful.

For the Display name, you are right that most of the users use the default (First + Last name), But there is an option to edit the display name even when you create manually. So,

[2020-06-09 21:55] msbemba commented on #875
@OrawanO  Thank you for your feedback. We have made changes to the document to reflect it as 93 days. This can be tracked via PR# https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/905

[2020-06-13 00:34] dmwmsft commented on #877
Shifts data is stored in one of 3 major regions: US, EMEA or Asia Pacific. . For more information regarding which data centers make up the major regions refer to https://docs.microsoft.com/en-us/office365/enterprise/o365-data-locations#data-center-locations

[2020-06-13 19:39] msbemba commented on #880
@henascim  Thank you for your feedback. We have made changes to the doc via PR# https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/908

Thanks
Sri

[2020-06-13 19:44] msbemba commented on #885
@SergGu Thank you for the feedback. We have now removed the IP range added an important note to the doc as the teams update is made available.

Note:- To ensure Teams media traffic is routed via the desired method in all VPN scenarios, please ensure users are running Microsoft Teams client version **1.3.00.13565** or greater. This version includes improvements in how the client detects available n

[2020-06-13 19:46] msbemba commented on #876
@koolhand Thank you for the feedback.  The Australia Geo will consist of data centers in the Australia East Region (New South Wales) and the Australia Southeast Region (Victoria). That is why there is no city mentioned in the document.

Hope this helps!

Thanks
Sri

[2020-06-13 20:01] msbemba commented on #863
@Larryngolog  Thank you for the feedback. We have made changes to the doc via PR# https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/909

Thanks
Sri

[2020-06-14 12:11] mypil commented on #849
@HarmlessDave - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-14 12:11] #849 closed

[2020-06-15 23:34] mypil commented on #885
@SergGu - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-15 23:34] #885 closed

[2020-06-15 23:35] mypil commented on #876
@koolhand  - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-15 23:35] #876 closed

[2020-06-15 23:42] mypil commented on #877
@Kressmark  - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by the author @dmwmsft and @msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-15 23:42] #877 closed

[2020-06-16 07:36] newsgrep commented on #898
please add this information to the documentation.
________________________________
Von: andybergen <notifications@github.com>
Gesendet: Montag, 8. Juni 2020 17:38
An: MicrosoftDocs/OfficeDocs-Enterprise <OfficeDocs-Enterprise@noreply.github.com>
Cc: newsgrep <newsgrep@hotmail.com>; Author <author@noreply.github.com>
Betreff: Re: [MicrosoftDocs/OfficeDocs-Enterprise] when was my tenant created? (#8

[2020-06-16 07:38] #896 closed

[2020-06-16 07:45] newsgrep commented on #896
The current docs say: "You'll also have a confirmation message in your message center. This confirms that you have successfully requested a move._"

So just add something like:
"When the program timelines for tenants in your country are firm we will post this at this site and communicate also directly to eligible tenants via Message Center."

So that every one knows he/she will receive a msg when

[2020-06-16 07:48] #897 closed

[2020-06-16 13:48] dkotars opened #910 "Clarification can help"
I understand that the use of the term "mailbox" is applied generally in the article, but there mail be value to calling out that the administration applies to user, shared and resource mailboxes to avoid confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8de3ed32-6500-54d8-0501-1ff9fd2e844c
* Version Independent

[2020-06-16 18:03] chrisda commented on #910
@dkotars, could you point out a specific location or locations within the topic that would benefit from such a call-out?

For example, in [Find the geo location of a mailbox](https://docs.microsoft.com/office365/enterprise/administering-exchange-online-multi-geo#find-the-geo-location-of-a-mailbox), I could modify (in bold) the existing text:

But in the [Move an existing cloud-only mailbox to a sp

[2020-06-16 18:23] dkotars commented on #910
@chrisda - You can see where the confusion lies.

Perhaps there is value in adding examples for shared/resource mailboxes in [Move an existing cloud-only mailbox to a specific geo location](https://docs.microsoft.com/office365/enterprise/administering-exchange-online-multi-geo#move-an-existing-cloud-only-mailbox-to-a-specific-geo-location) and Create new cloud mailboxes in a specific geo location

[2020-06-16 23:27] #869 closed

[2020-06-17 13:40] FrankPlawetzki commented on #518
The IP address range for the remote connectivity analyzer has been published: https://testconnectivity.microsoft.com/Pages/ChangeList.htm

[2020-06-17 15:29] bzabber commented on #857
Thank you Sri! Feel free to ping me internally if you have any further questions.

[2020-06-18 15:21] robmazz commented on #875
Merged

[2020-06-18 15:21] #875 closed

[2020-06-23 08:47] andrasg opened #912 "Hybrid Modern Authentication endpoints missing"
Customers using Exchange Hybrid Modern Authentication (HMA) have to open access to the on-premise Exchange ActiveSync endpoint from the following IP ranges:

[code]

These IP ranges are mentioned in the following Exchange documentation but are missing from the IP and URL's documentation:

Exchange docs:
https://docs.microsoft.com/en-us/office365/enterprise/configure-exchange-server-for-hybrid-mode

[2020-06-23 10:47] andrasg commented on #912
Closing the issue, as I have found additional documentation where these subnets are indeed listed:

https://docs.microsoft.com/en-us/office365/enterprise/additional-office365-ip-addresses-and-urls

[2020-06-23 10:47] #912 closed

[2020-06-23 19:29] JeremyTBradshaw opened #913 "URLs from ActiveSync/AutoDiscover Virtual Directories"
Hello,

I've noticed that in the **Add on-premises web service URLs as SPNs in Azure AD** section, we get URLs from virtual directories: MAPI, EWS, OAB, _ActiveSync_.  But then later in the **Verify Virtual Directories are Properly Configured** section, we confirm OAuth settings in virtual directories MAPI, EWS, OAB, and _Autodiscover_.

I'm wondering, do we need to:

A) In the first step, also ge

[2020-06-24 01:29] JeremyTBradshaw opened #915 "Impacts of enabling Hybrid Modern Authentication"
I have found in testing that simply enabling Hybrid Modern Authentication doesn't impact existing, allowed (via Exchange ABQ/(default)device access rule(s)) ActiveSync devices.  It also seems that I can setup new basic authentication ActiveSync devices after HMA has been enabled.  Both these things seem to align with the fact that the process of enabling HMA doesn't involve disabling any authentic

[2020-06-24 05:58] misuwama opened #916 "About Office 365 URLs and IP address ranges"
Hi,

It seems like the information below is missing from the URL/IP address range. Is it possible to add this information?

------------------------------------------------
To get a video feed for an External app or device produced live event sent to Microsoft Stream from your encoder you'll need the following IP ranges and ports open in your network's firewall or proxy:

Domains: *.channel.media.

[2020-06-24 07:28] Kurosawa-Dia opened #917 "Whether 13.107.42.23 should be in the SFB online & Teams IP range"
Hi team, could you please help to verify if 13.107.42.23 is within the range of SFB online and Teams?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP address ranges](https://docs.microso

[2020-06-24 08:47] meitalna opened #918 "onedrive.live.com is missing?"
Hi,

Why onedrive.live.com doesn't appear in O365 IP ranges / domains feed?

Thanks,
Meital

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP address ranges](https://docs.microsoft.com/en-

[2020-06-24 19:29] dmwmsft commented on #901
Thank you for the input.  We are working toward consolidating this information.

[2020-06-24 19:30] dmwmsft commented on #900
Thank you for the input.  This has been updated.

[2020-06-24 19:30] dmwmsft commented on #899
Thank you for the input.  These updates have been made.

[2020-06-25 22:06] mypil commented on #863
@Larryngolog - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/commit/6003ac436a277198ad58a46fd4fbeccf9cd94209.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-25 22:06] #863 closed

[2020-06-26 10:10] p0shkar opened #920 "Adding license when it should remove license?"
This code seems to be unnecessarily long, and incorrect for the purpose of the article.
The Title is "Remove licenses from user accounts with Office 365 PowerShell", so why does the code first add the license and then removes it?

This code seems to add the license:

It seems to me that this would suffice:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-06-26 15:44] JoeDavies-MSFT commented on #918
@meitalna I have passed your question on to the product team who maintains these endpoints for their consideration in a future update. Thanks for your question.

[2020-06-26 15:44] #918 closed

[2020-06-26 15:47] JoeDavies-MSFT commented on #917
@Kurosawa-Dia This IP address could be for a Default category URL, in which case we do not list all of the corresponding IP addresses. Please see https://techcommunity.microsoft.com/t5/office-365-networking/why-are-some-office-365-network-endpoints-provided-as-urls-only/m-p/310490#M97 for more information. Thanks for your question.

[2020-06-26 15:47] #917 closed

[2020-06-26 15:53] JoeDavies-MSFT commented on #916
@misuwama The "*.channel.media.azure.net" domain name is included with the "*.media.azure.net" endpoint in ID 44 of the "Microsoft 365 Common and Office Online" section (https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges#microsoft-365-common-and-office-online). Thanks for your question.

[2020-06-26 15:53] #916 closed

[2020-06-27 18:00] mypil commented on #900
@dmwmsft - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by the author @dmwmsft so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-27 18:00] #900 closed

[2020-06-27 18:16] mypil commented on #899
@newsgrep - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by the author @dmwmsft so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-27 18:16] #899 closed

[2020-06-27 19:14] mypil commented on #901
@newsgrep - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by the author @dmwmsft so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-27 19:14] #901 closed

[2020-06-27 23:25] #857 closed

[2020-06-29 16:10] amandeepmand opened #922 "Microsoft Online Services Sign-in Assistant still required on modern operating systems?"
Under Install Required Software section, the first instruction asks to "Install the 64-bit version of the Microsoft Online Services Sign-in Assistant: Microsoft Online Services Sign-in Assistant for IT Professionals RTW."

Is this still required for modern Operating Systems (i.e. Windows 10)? It appears the PS Module works fine without installing this service.

---
#### Document Details

⚠ *Do not

[2020-06-30 10:31] misuwama commented on #916
@JoeDavies-MSFT Thank you for your reply. I confirmed that  ".media.azure.net" is on the list, but I could not find the "Ports: 1935/2935/1936/2936 (for RTMP and RTMPS)" information. Is this listed somewhere as well?
Thank you,

[2020-06-30 15:31] JoeDavies-MSFT commented on #922
@amandeepmand I verified this on a Windows 10 machine and modified the content to ship the install of the Microsoft Online Services Sign-in Assistant module for Windows 10. Thanks for letting us know.

[2020-06-30 15:31] #922 closed

[2020-06-30 17:34] JoeDavies-MSFT commented on #920
@p0shkar You are correct. I have validated your code and updated the article with it. Thanks so much for letting us know.

[2020-06-30 17:34] #920 closed

[2020-07-01 14:06] jpawlowski opened #923 "URLs for MCAS missing"
Hi team,

during our implementation of MCAS policies, we recognized that `*.cas.ms` is not mentioned here in any way. However, this info was required for us to successfully implement firewall policies and to prevent SSL deep inspection within our environment.

It also seems that the domain is not part of the JSON file provided by the Microsoft API.
Not sure this is intentionally but I think it is

[2020-07-02 14:53] StuBeck32 opened #924 "Appears to be depreciated"
Receive this error today:

PS C:\Windows\system32> Import-Module SkypeOnlineConnector
Import-Module : The specified module 'SkypeOnlineConnector' was not loaded because no valid module file was found in
any module directory.
At line:1 char:1
+ Import-Module SkypeOnlineConnector
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : ResourceUnavailable: (SkypeOnlineConnector:String) [Im

[2020-07-02 14:55] #924 closed

[2020-07-02 14:55] StuBeck32 commented on #924
User error.

[2020-07-03 17:06] r-milne opened #925 "Please update ADFS"
Hi folks,

The proper terms is AD FS.  Note the space.  Can this page be updated please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 626caf29-7e88-0b56-2013-5c5b7c2a5917
* Version Independent ID: 2376192f-793d-0166-46c7-870cd0c41abb
* Content: [Hybrid Modern Authentication overview and prerequisites for use with on-

[2020-07-06 09:52] TeodoraI opened #926 "Yammer missing"
Yammer is missing from the list of services.

Here is what I believe needs to be added:
Yammer
Yammer created for the satellite location will use the end point located in the central location for the tenant. Yammer is not a Multi-Geo service.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 194b008d-099c-583e-55fc-af4787

[2020-07-06 10:34] contactbrenton opened #927 "The compliance centre is replacing the one in the exchange admin centre by the end of the month"
The compliance centre is replacing the one in the exchange admin centre by the end of the month
https://compliance.microsoft.com/homepage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39aa0813-6d11-cf85-b3d0-9f068c1ba5e7
* Version Independent ID: a92e5228-5ddf-84f2-d695-3076cee03159
* Content: [Recover deleted items i

[2020-07-06 16:38] danielscott1709 opened #928 "New IP ranges?"
Hi

It looks like there are new IPs ranges as our firewalls (cannot do URL filtering) is blocking Exchange 2016 to M365 EWS traffic using the IPs :

52.109.32.27
52.109.76.6
52.109.32.27
52.109.88.8
40.67.254.36

However, i cannot see these ranges in the article, so we cannot see the CIDR notation to cover the range.

Please can you update this ASAP?

Thanks

---
#### Document Details

⚠ *Do not e

[2020-07-06 17:07] JoeDavies-MSFT commented on #928
The addresses starting with 52.109 are included in the 52.108.0.0/14 range in ID 46. The 40.67.254.36 could be for a URL for which we don't list the IP addresses. See https://techcommunity.microsoft.com/t5/Office-365-Networking/Why-are-some-Office-365-network-endpoints-provided-as-URLs-only/m-p/310490#M97 for the details.

[2020-07-06 17:14] JoeDavies-MSFT commented on #923
@jpawlowski I will forward this request on to the product teams for their consideration to add it to this article or an article that is focused on Azure services. Thanks for letting us know.

[2020-07-06 17:14] #923 closed

[2020-07-07 14:59] JoeDavies-MSFT commented on #928
@danielscott1709 Adding your name. Please see previous comment. Thanks

[2020-07-08 08:44] stasfeelin opened #929 "SfB Online uses 50000-59999 ports from client side to the service for ScreenSharing sessions. This information doesn't reflected in the documentation related to O365 IP Ranges and to identify that you need to go into Optimizing your network docs to find it. Why?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP address ranges](https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges)
* Content Source:

[2020-07-08 14:36] #812 closed

[2020-07-08 14:37] JoeDavies-MSFT commented on #766
@lubergst Not at this time. I will forward this request to the Dynamics 365 team. Thanks for your question.

[2020-07-08 14:37] #766 closed

[2020-07-08 15:25] JoeDavies-MSFT commented on #929
@stasfeelin The endpoints listed in the article are only for server-side ports as the destination for outbound, initiated traffic by the client. These endpoints must be allowed by your edge devices for successful connectivity. The client-side 50000-59999 ports are dynamically assigned by the TCP/IP stack as a destination for inbound, return traffic to the client, and are therefore not listed in th

[2020-07-08 15:25] #929 closed

[2020-07-08 15:28] JoeDavies-MSFT commented on #927
@contactbrenton This has been added to the list of updates to make at the end of this month when the replacement takes place. Thanks for letting us know.

[2020-07-08 15:28] #927 closed

[2020-07-09 11:32] dipesh-wadhwa opened #931 "Need more information for Office 365 Multi-Geo capabilities for SharePoint"
Is it possible to create sub-site in different GEO location?

For Ex: https://consto.sharepoint.com/ is our tenant located in India.
https://consto.sharepoint.com/sites/HR is site collection again located in India.
https://consto.sharepoint.com/sites/HR/subsitedemo => Can we create sub-site under HR site collection which is stored in United States (Other geo location)?

---
#### Document Details

[2020-07-10 19:12] mars-wilson opened #933 "how do I view Office Licensing Service activation per user?"
I'm wondering how I can view a user's count of devices that they've actually installed Office on.

Is the Office Licensing Service status available through the MSOL suite?

(Trying to identify users that are not actually using their Office license)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f403603f-e17b-8b5b-cbd8-

[2020-07-13 08:39] stasfeelin commented on #929
If it should be inbound, return traffic to the client, **only** (I assume it from your answer and from that fact that these ports are not included into the document related to outbound traffic only) so why we see outbound traffic from the client to the MSFT server via this dynamic range? And actually our users were experiencing issues with ScreenSharing sessions long time while we tried to find di

[2020-07-13 08:52] adrwh opened #934 "How long is "until-revoked""
Hi does the following sentence imply that a user can maintain a valid access token "forever" as long as they remain active and the token is not revoked by an admin or password reset action?

"Refresh tokens are valid for 90 days, and with continuous use, they can be valid until revoked."

1. Is it technically possible to configure a token to never expire as long as there is ongoing activity?
2. Is

[2020-07-13 10:00] hmuchaku opened #935 ""myaccount.microsoft.com" is required."
"My Account" of Office365 URL has changed from "portal.office.com" to "myaccount.microsoft.com".
However, "myaccount.microsoft.com" is not listed in the following url and web services.

https://docs.microsoft.com/ja-jp/office365/enterprise/urls-and-ip-address-ranges

"myaccount.microsoft.com" should be listed as "required : true".

[2020-07-14 14:20] ArneshAZAdmin opened #936 "DNS Required for Teams"
In the article you have mentioned this document applies for Hybrid Teams and Skype for Business Online?

What is Hybrid Teams?  When did Microsoft come up with a On-Prem solution?

Is this required for 1:1 Teams Chat between two teams only tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e27e942-5c6d-591e-14c4-4

[2020-07-14 15:38] JoeDavies-MSFT commented on #933
@mars-wilson Unfortunately, there is no way to display the number of devices on which a user has installed Office with PowerShell.

[2020-07-14 15:38] #933 closed

[2020-07-14 15:42] JoeDavies-MSFT commented on #935
@hmuchaku I have passed your request to the team that manages the Microsoft 365 Common and Office Online endpoints for their consideration in a future update. Thanks so much for letting us know.

[2020-07-14 15:42] #935 closed

[2020-07-14 15:51] JoeDavies-MSFT commented on #892
@Bart-Hoofd I have tested this link and it works for me. Closing this issue for now. Please open again if it continues to be a problem. Thanks for letting us know.

[2020-07-14 15:51] #892 closed

[2020-07-15 15:12] JoeDavies-MSFT commented on #705
@VLG17 @V3ertigo83 The article has been updated and published. Sorry about the long delay here. Thanks so much for letting us know.

[2020-07-15 15:12] #705 closed

[2020-07-16 16:14] abusalem16 opened #938 "fuck you idiots"
fuck you all.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP address ranges](https://docs.microsoft.com/en-us/office365/enterprise/urls-and-ip-address-ranges?redi

[2020-07-17 04:10] eeha0120 opened #940 "Generated PAC File sample is not updated"
Hi.

The generated PAC File sample is missing several URLs required at least by Teams App.

The following URLs are still processed by a PROXY using the generated PAC Sample when attempting to login to Teams, resulting in really slow times or even being unable to login at all with Teams:

geo.prod.do.dsp.mp.microsoft.com
disc601.prod.do.dsp.mp.microsoft.com
settings-win.data.microsoft.com
v10.event

[2020-07-17 15:37] DailenG opened #941 "Content updated to include 2019 but some text within does not say 2019"
Several spots on this page reference "Office 2013 or Office 2016" but the page contents have been updated to include 2019 as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 059ed9a7-ea75-0fa3-e246-4ad1f1b0c5bc
* Version Independent ID: d7598f96-3158-09ee-024a-6175599718cd
* Content: [How modern authentication work

[2020-07-18 23:29] Rodrigo30Horas opened #942 "Looks like doc forgetting about AutoD and Anywhere URLs"
Although doc ask admin to add all URLs and provides the cmdlets for EWS, MAPIoverHTTP and so on, it fails to inform that admins will need to add autodiscover and Anywhere (RPCoverHTTP) as well in the step "Add on-premises web service URLs as SPNs in Azure AD"

Regards,
Rodrigo Dias

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-07-20 11:46] DanielOp opened #943 "Add New SPO Admin URL to Office 365 URLs Doc."
SPO ADMIN CENTER NEW URL
Current <tenant>.sharepoint.com
Change <tenant>-admin.sharepoint.com, <tenant>
Or
Add *.sharepoint.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Office 365 URLs and IP address ra

[2020-07-21 01:02] Anand-Moghe opened #944 "Can I use O365 GCC or O365 GCC High AAD to integrate with my custom apps or 3rd party apps (saas)?"
It's clear that one can use the AAD that comes with every O365 subscription for Authentication with 1st party custom app or 3rd party SaaS. Would that be the case also for O365 GCC or O365 GCC high subscription? Can I use the AAD behind O365 GCC or GCC high to synchronize my on-premise AD DS? And use it to authenticate/authorize the Custom Web App hosted in App Service plan? Otherwise what is the

[2020-07-21 02:07] Anand-Moghe commented on #944
Yes. Based on the article [here](https://docs.microsoft.com/en-us/office365/enterprise/set-up-directory-synchronization).

[2020-07-21 02:07] #944 closed

[2020-07-21 12:45] dipesh-wadhwa commented on #931
@yogkumgit any update?

[2020-07-21 14:10] msbemba commented on #880
@henascim  We have made the changes to the document. Thanks again for your feedback. @yogkumgit We can close this.

Thanks
Sri

[2020-07-22 10:25] cqueern opened #945 "Typo: there is a space missing in a sentence"
Hello Team.

is probably meant to read:

Thanks for your hard work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79589db3-4bf5-e940-0410-75d5f0ff97b8
* Version Independent ID: e7980b96-bab3-981e-2da8-6e1bdde9ba31
* Content: [Prepare a non-routable domain for directory synchronization](https://docs.microsoft.com/en-us

[2020-07-22 15:17] yogkumgit commented on #880
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @henascim Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-22 15:17] #880 closed

[2020-07-22 15:32] JoeDavies-MSFT commented on #940
@eeha0120 Only network endpoints that are required for Office 365 functionality are published. There may be connections attempted by Office 365 clients to other FQDNs that are not required. To answer your question, yes, this is expected behavior. The  Get-PacFile script gets the latest set of published endpoints that are required for Office 365 functionality. Thanks for your question.

[2020-07-22 15:32] #940 closed

[2020-07-22 15:38] JoeDavies-MSFT commented on #943
@DanielOp I have forwarded your request to the team that maintains these endpoints for investigation and inclusion in a future update. Thanks for letting us know.

[2020-07-22 15:38] #943 closed

[2020-07-22 15:51] JoeDavies-MSFT commented on #945
@cqueern I have this fix in the publishing process and will close this issue when it is live. Thanks so much for letting us know.

[2020-07-22 15:53] JoeDavies-MSFT commented on #904
@mcc-ah This has been corrected. Sorry for the delay. Thanks so much for letting us know.

[2020-07-22 15:53] #904 closed

[2020-07-22 15:54] JoeDavies-MSFT commented on #862
@sinhakislay This has been corrected. Thanks so much for letting us know.

[2020-07-22 15:54] #862 closed

[2020-07-22 21:57] JoeDavies-MSFT commented on #945
@cqueern This has been corrected and published. Thanks again.

[2020-07-22 21:57] #945 closed

[2020-07-22 23:28] msbemba commented on #925
@r-milne Thank you for your feedback. We have updated doc via PR#https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/946

Thanks
Sri

[2020-07-22 23:31] msbemba commented on #926
@TeodoraI Thank you for your feedback. We have made changes to the doc via PR#https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/947

Thanks
Sri

[2020-07-22 23:33] msbemba commented on #928
@danielscott1709 Thank you for your feedback. As Joe mentioned, The IP's staring with 52.109 are included in the 52.108.0.0/14 range in ID 46.

The 40.67.254.36 could be for a URL for which we don't list the IP addresses. Reference Document https://techcommunity.microsoft.com/t5/Office-365-Networking/Why-are-some-Office-365-network-endpoints-provided-as-URLs-only/m-p/310490#M97  for more details.

[2020-07-22 23:37] msbemba commented on #931
@dipesh-wadhwa Thank you for your feedback. As of now, the Subsites will have to be located in the same geo as the site collection.

We will update the document when the option of creating a subsite on different geo is available.

Hope this helps!

Thanks
Sri

[2020-07-22 23:42] msbemba commented on #936
@ArneshAZAdmin Thank you for your feedback. We have corrected the note to reflect Hybrid Teams and Skype For business on prem scenario. This can be tracked via PR# https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/948

Thanks
Sri

[2020-07-22 23:47] msbemba commented on #941
@DailenG Thank you for your feedback. We have updated the document to include 2019 as well. This can be tracked via PR#https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/949

Thanks
Sri

[2020-07-23 00:19] msbemba commented on #830
@davidck-msft Thank you for the feedback.  manage.protection.apps.mil is the endpoint used for Management Activity API  and the same is covered in *.protection.apps.mil mentioned in the document.

https://docs.microsoft.com/en-us/office/office-365-management-api/troubleshooting-the-office-365-management-activity-api is another document which has this covered

Enterprise plan and GCC government pla

[2020-07-23 00:25] msbemba commented on #879
@VerdonTrigance  Thank you for the feedback. For a custom Navigation solution, you can refer to https://docs.microsoft.com/en-us/sharepoint/dev/solution-guidance/portal-navigation#using-a-custom-navigation-solution

Hope this helps!

Thanks
Sri

[2020-07-23 00:28] msbemba commented on #889
@ingd  Thank you for your feedback. The lean pop outs options are available on all versions of Microsoft edge and can be configured within your Office 365 organization using Set-OrganizationConfig -LeanPopoutEnabled $true

Hope this helps!

Thanks
Sri

[2020-07-23 07:04] dipesh-wadhwa commented on #931
Thanks @msbemba

[2020-07-23 07:04] #931 closed

[2020-07-23 08:27] yogkumgit commented on #928
@msbemba  Thank you very much for the contribution and sharing this explanation. @danielscott1709 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-23 08:27] #928 closed

[2020-07-23 09:01] yogkumgit commented on #830
@msbemba  Thank you very much for the contribution and sharing this explanation. @davidck-msft Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-23 09:02] #830 closed

[2020-07-23 09:04] yogkumgit commented on #879
@msbemba  Thank you very much for the contribution and sharing this explanation. @VerdonTrigance Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-23 09:04] #879 closed

[2020-07-23 09:07] yogkumgit commented on #889
@msbemba  Thank you very much for the contribution and sharing this explanation. @ingd Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-23 09:07] #889 closed

[2020-07-23 09:31] yogkumgit commented on #711
@OfficeGlobal - Please update the status.Thanks

[2020-07-23 11:34] msbemba commented on #893
@kerbos Thank you for your feedback. We have added the link to the note via PR #https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/950

Thanks
Sri

[2020-07-23 11:42] msbemba commented on #898
@newsgrep  Thank you for your feedback. As Andy suggested, Migration eligibility depends on the specific workload provisioning date, so tenant creation date may not always be the single date that matters. I have added that to the note via PR#https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/951

Thanks
Sri

[2020-07-23 11:54] msbemba commented on #942
@Rodrigo30Horas  Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/952

Thanks
Sri

[2020-07-23 15:45] DJ-1701 opened #953 "72 hours notation needed."
I had to preform this command recently, and the article needs to clearly state that this command takes 72 hours before you can turn the service back on if you have to turn it off with this method. I contacted Microsoft Support and found this out after 36 hours of the service being in a `PendingDisabled` state (which you can find out using `(Get-MSOLCompanyInformation).DirectorySynchronizationStatu

[2020-07-24 20:16] dbird03 opened #954 "Additional detail for email notifications"
This documentation does not specify whether the email settings under **Preferences** are for the _entire tenant_ or _per user_. I tested this in my tenant with a coworker and confirmed it appears to be per user since he did not see my email settings after I saved them.

I would recommend this distinction be made clear in both this documentation and the Preferences menu in the product itself.

---

[2020-07-27 04:45] cliffordkennedy opened #955 "Correct text in opening sentence on Managing Office 365 endpoints"
Referring to the first paragraph and sentence on the page there is an extra ""to need" that should be removed. Or alternatively re-worked.

Original text:
Most enterprise organizations that have multiple office locations and a connecting WAN will need **to need** configuration for Office...

Proposed update:
Most enterprise organizations that have multiple office locations and a connecting WAN wil

[2020-07-27 12:48] msbemba commented on #955
@cliffordkennedy  Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/956

Thanks
Sri

[2020-07-27 12:58] msbemba commented on #953
@DJ-1701  Thank you for your feedback. The note to wait 72 hours has been added to the document.

Hope this helps!

Thanks
Sri

[2020-07-27 13:22] msbemba commented on #913
@JeremyTBradshaw Thank you for the feedback. Agree with you, I have updated the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/957. Once the author verifies and approves this, the document will be updated.

Thanks
Sri

[2020-07-27 13:38] msbemba commented on #954
@dbird03 Thank you for your feedback. That is correct as these settings are for each admin. For more information, please visit https://docs.microsoft.com/en-us/microsoft-365/admin/manage/message-center?view=o365-worldwide#preferences

I have made changes to the document via PR# https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/958

Thanks
Sri

[2020-07-27 14:04] dbird03 commented on #954
@msbemba Thank you! The link you provided does help clarify the preferences are per user.

I think it would be helpful if that link was added to the **See also** section of the documentation I opened this issue for. Can you add this as well?

[2020-07-27 15:58] msbemba commented on #954
@dbird03  I have added that to the See also section via the same Pull request. Thank you for the feedback.

[2020-07-27 16:02] dbird03 commented on #954
@msbemba Thank you! I just saw your additional commit. I think you accidentally typed a "9" instead of the "(" in the URL. 🙂

[2020-07-27 16:49] msbemba commented on #954
Thank you @dbird03. I have made changes accordingly.

[2020-07-27 21:58] BillyA7 commented on #573
This will enable all services

$LO = New-MsolLicenseOptions -AccountSkuId <AccountSkuId>

[2020-07-28 03:59] yogkumgit commented on #955
@msbemba Thank you very much for the contribution and updating the documentation with PR. @cliffordkennedy
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 03:59] #955 closed

[2020-07-28 04:06] yogkumgit commented on #953
@msbemba  Thank you very much for the contribution and sharing this explanation. @DJ-1701 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 04:06] #953 closed

[2020-07-28 04:09] yogkumgit commented on #934
@msbemba Thank you very much for the contribution and sharing this explanation. @adrwh Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 04:09] #934 closed

[2020-07-28 04:25] yogkumgit commented on #954
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dbird03 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 04:25] #954 closed

[2020-07-28 05:31] yogkumgit commented on #898
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @newsgrep Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 05:31] #898 closed

[2020-07-28 07:46] IdahoR opened #959 "Exchange 2010 Edge server"
The article states: "There is no Exchange server 2010 in the environment." Does this include Edge Transport servers which do NOT have an Edge Subscription?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 626caf29-7e88-0b56-2013-5c5b7c2a5917
* Version Independent ID: 2376192f-793d-0166-46c7-870cd0c41abb
* Content: [Hybri

[2020-07-28 19:30] JoeDavies-MSFT commented on #573
@BillyA7 I have added your suggestion to the article. Thanks so much for letting us know.

[2020-07-29 11:01] yogkumgit commented on #925
@msbemba Thank you very much for the contribution and updating the documentation with PR. @r-milne Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-29 11:01] #925 closed

[2020-07-29 11:04] yogkumgit commented on #936
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @ArneshAZAdmin
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-29 11:04] #936 closed

[2020-07-29 11:07] yogkumgit commented on #893
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @kerbos Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-29 11:07] #893 closed

[2020-07-29 11:08] yogkumgit commented on #942
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @Rodrigo30Horas Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-29 11:09] #942 closed

[2020-07-30 15:20] mattchiodi opened #960 "Dark fiber?"
[Enter feedback here]
Your document mentions "traffic is then routed internally to data and service endpoints over Microsoft's ultra-low latency high availability dark fiber." Dark fiber typically references fiber optic cable that has been laid but is not yet active. The wording of this sentence infers that customer traffic is going to be routed over a network that is not yet active. It should say

[2020-07-31 13:47] kcsportal opened #962 "URL missing"
[Enter feedback here]
It seems that my users are being directed to microsoftonline.us, but that site is not listed on this page. Is it a valid Microsoft page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 077406d8-bff1-496e-3ea2-b38558fd9355
* Version Independent ID: 57db3dec-2250-2dee-fd1a-ec6656911798
* Content: [Of

[2020-07-31 15:01] JoeDavies-MSFT commented on #962
@kcsportal I will pass this request to the team that manages the list of endpoints for their consideration and inclusion in a future update. Thanks so much for letting us know.

[2020-07-31 15:01] #962 closed

[2020-07-31 18:49] Patrick-Robbins opened #963 "Why does the ID Fix tool report on X500 addresses in a Hybrid environment that were added by EX\EXO?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f88534d6-5018-dfdd-f433-be94408798a7
* Version Independent ID: 5450a7e9-250f-f368-069b-521f110f8738
* Content: [Prepare directory attributes for synchronization with Microsoft 365 by using the IdFix tool](https://docs.microsoft.com/en-us/office365/ent

[2020-07-31 20:20] JoeDavies-MSFT commented on #960
@mattchiodi The article has been corrected and published. Thanks so much for letting us know.

[2020-07-31 20:20] #960 closed

[2020-07-31 20:45] RobdeJong opened #964 "Please create a paragraph exclusively for AADConnect"
I'm a PM in the Azure AD Connect team. We received earlier guidance from the Office team not to maintain our own documentation for URLs and IP address ranges but instead refer to this document, which is what we are now doing.

We have received feedback from several customers that the collection of URLs and IP address ranges is too broad for them. They want to know only the URLs and IP address rang

[2020-07-31 20:51] JoeDavies-MSFT commented on #964
@RobdeJong Taking this request internal to Microsoft with an email thread. Thanks for letting us know.

[2020-07-31 20:51] #964 closed

[2020-07-31 23:39] JoeDavies-MSFT commented on #963
@Patrick-Robbins Please submit this question as an issue here: https://github.com/microsoft/idfix/issues They should be able to help you. Thanks for your question.

[2020-07-31 23:39] #963 closed

[2020-08-01 13:33] mikeparkie opened #965 "Typo on page"
https://docs.microsoft.com/en-us/office365/enterprise/powershell/manage-sharepoint-users-and-groups-with-powershell

Search for: "_replace replace everything within the quotes, including the < and > characters, with the correct names."

and remove the extra "replace"

[2020-08-03 04:04] yogkumgit commented on #941
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @DailenG Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-03 04:04] #941 closed

[2020-08-03 09:07] msbemba commented on #965
@mikeparkie Thank you for your feedback. We have fixed the typo in the document via PR#https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/pull/966

Thanks
Sri

[2020-08-03 22:57] #965 closed

[2020-08-04 05:00] yogkumgit commented on #913
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @JeremyTBradshaw
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 05:01] #913 closed

[2020-08-04 05:03] yogkumgit commented on #926
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @TeodoraI Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 05:03] #926 closed

[2020-08-05 15:58] JoeDavies-MSFT commented on #891
@jdemaree Sorry for the delay. I have forwarded your question to the team that manages these endpoints for consideration in the next update. Thanks for your question.